<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hyundai.higher.mapper.order.OrderMapper">


	<insert id="insertOrder"
		parameterType="com.hyundai.higher.domain.order.OrderSheet">


		INSERT INTO OrderList
		VALUES(#{orderSheet.orderId},
		#{mId},
		#{orderSheet.oZipcode}, #{orderSheet.oAddress1},
		to_date(#{orderSheet.oDate},'yy-mm-dd'),
		#{orderSheet.oReceiver},
		#{orderSheet.oTel},
		#{orderSheet.oMileage}, null,1,
		#{orderSheet.oPayment},
		#{orderSheet.oAddress2},
		#{orderSheet.oName},
		#{orderSheet.oTotalPrice}
		)


	</insert>



	<insert id="insertOrderList">


		<![CDATA[
        BEGIN
			INSERT INTO OrderITEM
			VALUES(#{pCode}, null,
			#{pAmount}, #{oId}
			);
			
			DELETE FROM Cart
             WHERE mid=#{mId} and pcode=#{pCode}
            ;
     END;
        ]]>

	</insert>



	<select id="selectCartItem"
		resultType="com.hyundai.higher.domain.cart.OrderItem">

		SELECT p.pcode, p.pname, p.pprice,b.bname as brand,
		c.pamount,c.OPTNAME as poption,i.iloc as Image_path
		FROM CART c,
		PRODUCT p,IMG i, Brand b
		where
		c.pcode=#{pCode}
		and c.MID = #{mId} and
		c.pcode =p.pcode and
		p.pcode=i.pcode and
		i.itype ='thumb' and p.BNO =
		b.BNO and rownum=1


	</select>


	<select id="findOrderList"
		resultType="com.hyundai.higher.domain.order.OrderSheet">

		SELECT
		oid as orderId,to_char(odate,'yy-mm-dd') as
		odate,oname,ousedmileage as oMileage, oprice as
		oTotalPrice
		FROM
		orderlist
		WHERE mid = #{mid}


		<if test="ordStrtDt!=null and !ordStrtDt.equals('') ">
			AND odate > #{ordStrtDt}
		</if>

		<if test="ordEndDt!=null and !ordEndDt.equals('')">
			AND odate > #{ordStrtDt}
		</if>

		<if test="itemNm!=null and !itemNm.equals('')">
			AND oname like %#{itemNm}% </if>
		order by odate desc

	</select>



</mapper>