<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hyundai.higher.mapper.order.OrderMapper">


	<insert id="insertOrder"
		parameterType="com.hyundai.higher.domain.order.OrderSheet">


		INSERT INTO OrderList
		VALUES(#{orderSheet.orderId}, #{mId},
		#{orderSheet.oZipcode}, #{orderSheet.oAddress1}, #{orderSheet.oDate},
		#{orderSheet.oReceiver},
		#{orderSheet.oTel},
		null, null,1,
		#{orderSheet.oPayment},
		#{orderSheet.oAddress2},
		#{orderSheet.oName},
		#{orderSheet.oTotalPrice}
		)


	</insert>



	<insert id="insertOrderList">


		INSERT INTO OrderITEM
		VALUES(#{pCode}, null,
		#{pAmount}, #{oId}
		)

	</insert>



	<select id="selectCartItem"
		resultType="com.hyundai.higher.domain.cart.CartItem">
		
		SELECT p.pcode, p.pname, p.pprice,b.bname as brand, o.OPTCOLOR as color,c.pamount,c.OPTNAME as poption,i.iloc as Image_path 
		FROM CART c, PRODUCT p,IMG i, POPTION o , Brand b
		where c.pcode=#{pCode} and c.MID = #{mId} and c.pcode =p.pcode and p.pcode=i.pcode and i.itype ='thumb' and o.pcode=c.pcode and p.BNO = b.BNO
        
 
	</select>



</mapper>