<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

  <style>
		a {
			text-decoration: none !important;
		}
		header#header {
			background: none;
			height: auto;
		}
		footer#footer {
    background: white;
    border-top: 1px solid black !important;
		}

		.chart {
	float: left;
	width: 200px;
	height: 200px;
	text-align: center;
	margin-left: 46px;
}

.chart span.title {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	top: 115px;
	font-size: 20px;
  font-family: 'notokr-medium';
}
	</style>
	<!-- 상품 비교 -->
  <link href="https://www.card-gorilla.com/css/app.efea5715.css" rel="preload" as="style">
  <link href="https://www.card-gorilla.com/css/app.efea5715.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://www.card-gorilla.com/css/6a0415a6.bb230c3e.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

<!-- 	<link rel="stylesheet" href="/compare/css/style.css">
 -->
 
 <style type="text/css">
	.product_detail .addItem_slider .view li {
		height: 402px !important;
	}
	.product_detail .addItem_slider {
		width: 1105px !important;
	}
	.product_detail .addItem_slider .view li>div {
	width: 250px !important;
	}
	.product_detail .addItem_slider .view li {
	width: 261px !important;
	}
	.prod-unit .img{
		width: 249px !important;
	}
	.prod-unit .img img {
		width: 240px !important;
		height: 240px !important;
	}

	body {
 	 font-family: 'locator-medium','locator-regular','notokr-medium','notokr-demilight';
	}
 	
	 .price-info.single span {
  font-size: 18px;
	display: -webkit-box; 
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
	height: 50px;
		}

		.card_name {
			display: -webkit-box; 
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
 			overflow: hidden;
 		 	text-overflow: ellipsis;
		}

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
			height: 100%;
			width: 245px !important;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    swiper-container {
      width: 100%;
      height: 435px;
			padding: 6px 36px;
      /* margin: 20px auto; */
    }

		:root {
			--swiper-theme-color: #bfae90;
		}

		.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
    width:45%;
    cursor: pointer;
    /* border-radius: 4px; */
		height: 40px;
		font-weight: 700;

}
.x {
	background: url(../compare/img/x.png);
    width: 18px;
    height: 18px;
    background-size: cover;
    position: absolute;
    bottom: 248px;
    left: 228px;
}

.prod-unit .img > a:before{
	background-color: rgba(0,0,0,0) !important;
}

.button5{
	display: inline-block !important;
	float: left;
		width: 46%;
		background-color: #bfae90;
    color: white;
    /* border: 1.5px solid #bfae90; */
		line-height: 3;
		margin-left: 8px;

}

.button5:hover {
	background-color: white;
	border: 1px solid #bfae90;
		margin-left: 8px;
    color: #574f42;
    
}
.button4{
		background-color: #666;
    color: white;
    /* border: 1.5px solid #806A53; */
		margin-right: 8px;
		line-height: 3;
		display: inline-block !important;
	float: right;
}

.button4:hover {
	background-color: white;
	border: 1px solid #666;
    color: #666;

}

.prod-unit .title {
	font-size: 18px !important;
	line-height: 40px !important;
	margin-top: 0px !important;
}
	
	.card_choice .bn_box a[data-v-4ade122e] {
		width:130px;
	}
	.compare {
		background-color: #806A53;
    height: 40px;
    width: 120px;
    line-height: 40px;
    margin: 0 5px;
    font-size: 13px;
    color: #FFFEF2;
    font-weight: 700;
    letter-spacing: -0.5px;
    border-radius: 4px;
    display: inline-block;

	}
	.detailB {
    background-color: #FFF;
    height: 40px;
    width: 120px;
    line-height: 40px;
    margin: 0 5px;
    margin-top: 0px;
    font-size: 13px;
    color: #333333;
    font-weight: 700;
    letter-spacing: -0.5px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #806A53;
	}
	.product-list.type1 li {
		padding-top: 0px;
	}
	
	.card_choice .txt .card_name[data-v-4ade122e] {
		font-size:20px;
	}
	.iimg {
		height: 25px;
	}
	.ing {
		line-height: 32px;
	}

	.swiper-pagination-fraction {
		margin-bottom: 3px;
	}
	.blank {
		height: 100% !important;
		/* border: 2px solid #9c94946e; */
    /* padding: 193px 13px 189px 12px; */
	}
	.empty {
		background: #efefea;
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 100px;
    padding: 70px 55px;
		margin-top: 40px;
	}
	.forblank {
		margin-top: 28px;
		font-size: 18px;
	}
	.btn_base.move:after{
		top: -23px !important;
		left: 8px !important;
		margin-left: 0px !important;
	}
 </style>

	<!-- 스와이퍼 -->
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

	<!-- 스와이퍼 end -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

	<!-- 상품 비교 end -->

<link rel="stylesheet" type="text/css" href="https://image.thehyundai.com/pc/cssssl/co.css?ver=14">
<link rel="stylesheet" type="text/css" href="https://image.thehyundai.com/pc/cssssl/wf.css">
<!-- <script src="https://image.thehyundai.com/pc/js/jquery-1.11.3.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-ui.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-migrate.min.js"></script> -->

<!-- <script src="https://image.thehyundai.com/pc/js/plugin.js?ver=030314"></script>
<script type="text/javascript" src="https://image.thehyundai.com/pc/js/hdmall/co/jquery.form.js"></script>
<script type="text/javascript" src="https://image.thehyundai.com/pc/js/hdmall/co/default.js?ver=030314"></script>
<script type="text/javascript" src="https://image.thehyundai.com/pc/js/hdmall/co/common.js?ver=030314"></script>
<script src="https://image.thehyundai.com/pc/js/common.js?ver=030314"></script>
<script type="text/javascript" src="https://image.thehyundai.com/pc/js/swiper.min.js?ver=030314"></script> -->

<link rel="stylesheet" href="https://www.thehyundai.com/cssssl/cc.css">
<link rel="stylesheet" type="text/css" href="https://www.thehyundai.com/cssssl/dp.css?ver=14">

<!-- <script type="text/javascript" src="https://www.thehyundai.com/js/hdmall/co/md5.js"></script>
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script> -->
<head th:insert="~{include/head}"></head>


</head>
<body>   

<!-- wrap -->
<div id="wrap" class="sub">
    <!-- header -->
		<header id="header" th:insert="~{include/header}"></header>
    <!-- /header -->

		<!-- <section class="sub_visual_warp">
			<div class="sub_visual">
				<img src="../compare/img/compare.png" style="width: 100%; height: 210px;">
				<div class="sub_visual" style="top: -210px;">
					<h1>
						<i style="font-family: 'locator-medium';color: white;text-shadow: 2px 2px 1px #000;font-size: 60px;">FIND THE ONE!</i>
					</h1>
					<h2 style="color: #4b4646;">
						다양한 제품들 중에 무엇을 살 지 고민이 된다면?
						<br>화장품 스펙 비교로 원하는 상품을 찾아보세요!
						
					</h2>
				</div>
			</div>
		</section> -->


	<!-- container -->

<!-- 서브메뉴 -->
<section id="container">
	<div th:if="${#authentication.getPrincipal() != null}">
		<input type="hidden" id="mid" th:value="${#authentication.getName()}">
	</div>
	<section class="sub_visual_warp">
		<div class="sub_visual">
			<div style="background: #A7CCD4;filter: brightness(0.65);">
			<img src="/compare/img/compareBanner.png" style="width: 100%;height: 210px;object-fit: contain;">
		</div>
			<div class="sub_visual" style="top: -210px;">
				<h1 style="color: white;">
					상품 비교함
				</h1>
				<h2 style="color: white;">
					다양한 제품들 중 무엇을 살 지 고민이 된다면?<br> 화장품 스펙 비교를 통해 비교해보세요!
				</h2>
			</div>
		</div>
	</section>
	<section id="contents" class="survey_warp">
		
					<!-- content -->
					<div class="content" style="padding-top: 0px;">

						<!-- <h4 class="sort-title">Find The ONE!</h4> -->
						<p style="text-align: right; margin-right: 10px;font-size: 15px;margin-top: 10px;margin-bottom: 10px;">※ 비교함에는 10개의 상품을 담을 수 있습니다.</p>
						<div class="product_detail" style="border: 5px solid #e9e9e9;margin-bottom:10px;padding:20px 0px;">

							<div class="addItem_slider">
								<button type="button" class="ctrl_prev">prev</button>
								<ul class="view">
									<li class="slide0"></li>
									<li class="slide1"></li>
									<li class="slide2"></li>
									<li class="slide3"></li>
									<li class="slide4" style="margin-left: 10px;"></li>
									<li class="slide5"></li>
									<li class="slide6"></li>
									<li class="slide7"></li>
									<li class="slide8"></li>
									<li class="slide9"></li>
								</ul>
								<button type="button" class="ctrl_next">next</button>
							</div>

				</div>
				
					<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
				
					<div style="display: flex;justify-content: center;">
						<p style="font-size: 25px; margin-top: 22px; border-left: 3px solid #bfae90;
						border-right: 3px solid #bfae90;font-family: 'notokr-demilight';padding:3px 45px;margin-bottom: 26px;">비교함</p>
					</div>
						<!-- 상품 비교 -->
				
					<div id="q-app" style="width: 100%; border-top: 1px solid #ccc;">
					<div>
					<div data-v-214bdc2f="" id="q-app">

					<section data-v-214bdc2f="" class="contentArea" style="min-width: 1119px;background-color: #fff;">
					<div data-v-35734774="" data-v-4ade122e="" data-v-214bdc2f="" class="compare_detail" style="padding-top: 0px;">
						<!-- <div class="col" style="background-color: #bfae90;">
							<h2 style="text-align: center;color: white;padding-top: 5px;font-size: 39px;font-family: 'locator-medium';padding-bottom: 5px;">What's Your Pick?</h2>
						</div> -->
					<section data-v-35734774="" class="">
					<article data-v-4ade122e="" data-v-35734774="" class="cd_con card_choice">
					<h3 data-v-4ade122e="" data-v-35734774="" class="hide">카드선택</h3>
					<div data-v-4ade122e="" data-v-35734774="" class="inner">
				
						<div data-v-4ade122e="" data-v-35734774="" class="card_01">
							<div data-v-4ade122e="" data-v-35734774="">
								<div data-v-4ade122e="" data-v-35734774="" class="card_img">
									<p data-v-4ade122e="" data-v-35734774="" class="img">
										<img data-v-4ade122e="" data-v-35734774="" src="" width="auto" height="auto" style="max-width: 200px; max-height: 200px;">
									</p>
								</div>
								<div data-v-4ade122e="" data-v-35734774="" class="txt">
									<p data-v-4ade122e="" data-v-35734774="" class="card_name"></p>
									<p data-v-4ade122e="" data-v-35734774="" class="corp_name"></p>
								</div>
								<div data-v-4ade122e="" data-v-35734774="" class="bn_box" style="display: none;">
									<a data-v-4ade122e="" data-v-35734774="" class="card_change" style="background-color: #bfae90;color: #FFFEF2;" href="">제품상세보기</a>
									<a data-v-4ade122e="" class="benefit_detail" data-v-35734774="" onclick="addCart()" style="background-color: white;color: #291d07;border: 1px solid #bfae90;">장바구니담기</a>
								</div>
								<a data-v-4ade122e="" data-v-35734774="" class="card_del" style="display:none;" onclick="delThis('card_01')">삭제하기</a>
							</div>
						</div>
				
						<div data-v-4ade122e="" data-v-35734774="" class="card_02">
							<div data-v-4ade122e="" data-v-35734774="">
								<div data-v-4ade122e="" data-v-35734774="" class="card_img">
									<p data-v-4ade122e="" data-v-35734774="" class="img">
										<img data-v-4ade122e="" data-v-35734774="" src="" width="auto" height="auto" style="max-width: 200px; max-height: 200px;">
									</p>
							</div>
							<div data-v-4ade122e="" data-v-35734774="" class="txt">
								<!-- <p data-v-4ade122e="" data-v-35734774="" class="card_name">신한카드 Mr.Life</p>
								<p data-v-4ade122e="" data-v-35734774="" class="corp_name">신한카드</p> -->
								<p data-v-4ade122e="" data-v-35734774="" class="card_name"></p>
								<p data-v-4ade122e="" data-v-35734774="" class="corp_name"></p>
							</div>
							<div data-v-4ade122e="" data-v-35734774="" class="bn_box" style="display: none;">
								<a data-v-4ade122e="" data-v-35734774="" class="card_change" style="background-color: #bfae90;color: #FFFEF2;" href="">제품상세보기</a>
								<a data-v-4ade122e="" class="benefit_detail" data-v-35734774="" onclick="addCart()"style="background-color: white;color: #291d07;border: 1px solid #bfae90;">장바구니담기</a>
							</div>
							<a data-v-4ade122e="" data-v-35734774="" class="card_del" style="display:none;" onclick="delThis('card_02')">삭제하기</a>
							</div>
						</div>
				
						<div data-v-4ade122e="" data-v-35734774="" class="card_03">
							<div data-v-4ade122e="" data-v-35734774="">
								<div data-v-4ade122e="" data-v-35734774="" class="card_img">
									<p data-v-4ade122e="" data-v-35734774="" class="img">
										<img data-v-4ade122e="" data-v-35734774="" src="" width="auto" height="auto" style="max-width: 200px; max-height: 200px;">
									</p>
							</div>
							<div data-v-4ade122e="" data-v-35734774="" class="txt">
								<p data-v-4ade122e="" data-v-35734774="" class="card_name"></p>
								<p data-v-4ade122e="" data-v-35734774="" class="corp_name"></p>
							</div>
							<div data-v-4ade122e="" data-v-35734774="" class="bn_box" style="display: none;">
								<a data-v-4ade122e="" data-v-35734774="" class="card_change" style="background-color: #bfae90;color: #FFFEF2;" href="">제품상세보기</a>
								<a data-v-4ade122e="" class="benefit_detail" data-v-35734774="" onclick="addCart()" style="background-color: white;color: #291d07;border: 1px solid #bfae90;">장바구니담기</a>
							</div>
							<a data-v-4ade122e="" data-v-35734774="" class="card_del" style="display:none;" onclick="delThis('card_03')">삭제하기</a>
							</div>
						</div>
				
					</div>
					</article>
				
					<article data-v-4ade122e="" data-v-35734774="" class="cd_con card_sort">
					<h3 data-v-4ade122e="" data-v-35734774="">평점</h3>
					<div data-v-4ade122e="" data-v-35734774="" class="inner txt_box">
						<div data-v-4ade122e="" data-v-35734774="" class="card_01">
							<!-- <span data-v-4ade122e="" data-v-35734774="" class="rates">제품1 평점</span> -->
							<!-- <span data-v-4ade122e="" data-v-35734774="" class="rates"></span> -->
							<div data-v-4ade122e="" data-v-35734774="" class="star-rating">
								<span class="">
									<em class="hide">별점</em>
								</span>
								<p class="review" style="margin-left:110px;"></p>
							</div>
							
						</div>
						<div data-v-4ade122e="" data-v-35734774="" class="card_02">
														<!-- <span data-v-4ade122e="" data-v-35734774="" class="rates"></span> -->
														<div data-v-4ade122e="" data-v-35734774="" class="star-rating">
															<span class="">
																<em class="hide">별점</em>
																<p class="review" style="margin-left:110px;"></p>
															</span>
														</div>
						</div>
						<div data-v-4ade122e="" data-v-35734774="" class="card_03">
														<!-- <span data-v-4ade122e="" data-v-35734774="" class="rates"></span> -->
														<div data-v-4ade122e="" data-v-35734774="" class="star-rating">
															<span class="">
																<em class="hide">별점</em>
															</span>
															<p class="review" style="margin-left:110px;"></p>
														</div>
						</div>
					</div>
					</article>
				
					<article data-v-4ade122e="" data-v-35734774="" class="cd_con card_event">
					<h3 data-v-4ade122e="" data-v-35734774="">가격</h3>
					<div data-v-4ade122e="" data-v-35734774="" class="inner txt_box">
				
						<div data-v-4ade122e="" data-v-35734774="" class="card_01">
							<div data-v-4ade122e="" data-v-35734774="">
								<p data-v-4ade122e="" data-v-35734774=""></p>
								<p class="price"></p>
								<p></p>
							</div>
						</div>
				
						<div data-v-4ade122e="" data-v-35734774="" class="card_02">
							<div data-v-4ade122e="" data-v-35734774="">
								<p data-v-4ade122e="" data-v-35734774=""></p>
								<p class="price"></p>
								<!-- <p class="price">신한카드 이용하고 최대 17만원 캐시백 받아가자!</p> -->
								<p></p>
							</div>
						</div>
						
						<div data-v-4ade122e="" data-v-35734774="" class="card_03">
							<div data-v-4ade122e="" data-v-35734774="">
								<p data-v-4ade122e="" data-v-35734774=""></p>
								<p class="price"></p>
								<p></p>
							</div>
						</div>
					</div>
					</article>
				
					<article data-v-4ade122e="" data-v-35734774="" class="cd_con annual_fee">
					<h3 data-v-4ade122e="" data-v-35734774="">피부 타입</h3>
					<div data-v-4ade122e="" data-v-35734774="" class="inner txt_box">
						
						<div data-v-4ade122e="" data-v-35734774="" class="card_01">
						<span data-v-4ade122e="" data-v-35734774="" class="keyword"></span>
						<!-- <span data-v-4ade122e="" data-v-35734774="" class="keyword">국내전용 [20,000원] / 해외겸용 [20,000원]</span> -->
						</div>
						
						<div data-v-4ade122e="" data-v-35734774="" class="card_02">
						<span data-v-4ade122e="" data-v-35734774="" class="keyword"></span>
						</div>
						
						<div data-v-4ade122e="" data-v-35734774="" class="card_03">
							<span data-v-4ade122e="" data-v-35734774="" class="keyword"></span>
						</div>
					</div>
					</article>
				
					<article data-v-4ade122e="" data-v-35734774="" class="cd_con last_result">
					<h3 data-v-4ade122e="" data-v-35734774="">주요 성분</h3>
					<div data-v-4ade122e="" data-v-35734774="" class="inner txt_box">
				
						<div data-v-4ade122e="" data-v-35734774="" class="card_01">
						<!-- <span data-v-4ade122e="" data-v-35734774="" class="caution">50 만원 이상</span> -->
							<span data-v-4ade122e="" data-v-35734774="" class="caution"></span>
						</div>
						<div data-v-4ade122e="" data-v-35734774="" class="card_02">
							<span data-v-4ade122e="" data-v-35734774=""class="caution"></span>
						</div>
						<div data-v-4ade122e="" data-v-35734774="" class="card_03">
							<span data-v-4ade122e="" data-v-35734774="" class="caution"></span>
						</div>
					</div>
					</article>
				
					<article data-v-4ade122e="" data-v-35734774="" class="cd_con card_benefit">
					<h3 data-v-4ade122e="" data-v-35734774="">피부 MBTI 매칭도</h3>
					<div data-v-4ade122e="" data-v-35734774="" class="inner">
				
						<div data-v-4ade122e="" data-v-35734774="" class="card_01">
							<div id="resultchart1" class="chart mychart1" data-percent="">
								<span class="title" style="top: 119px;"></span>
							</div>
						</div>
				
						<div data-v-4ade122e="" data-v-35734774="" class="card_02">
							<div id="resultchart2" class="chart mychart2" data-percent="">
								<span class="title" style="top: 119px;"></span>
							</div>
						</div>
				
						<div data-v-4ade122e="" data-v-35734774="" class="card_03">
							<div id="resultchart3" class="chart mychart3" data-percent="">
								<span class="title" style="top: 119px;"></span>
							</div>
						</div>
					</div>
					</article>
					
					</section>
					</div>
					</section>
					</div>
					</div>
					</div>
				
				
						<!-- 상품 비교 end -->
				
								<!-- product-list type2 -->
				
								<!-- exhibition-wrap -->
								
								
								<!-- //exhibition-wrap -->
				
							</div>
							<!-- //content -->

	</section>


</section>

</section>

	<section id="survey_pop" class="layerpop_warp" style="background: rgba(0,0,0,0.8);">
		<div class="layerpop blue" style="width:460px;">
			<div class="layerpop_head">
				<h1 style="padding-top: 13px;">상품 비교하기</h1>
			</div>
			<div class="layerpop_cont" style="height: 330px;">
				<div class="save_cont">
					<p>
						상품을 삭제했습니다.
					</p>
					<div class="btn_wrap center mt30">
						<button type="button" class="btn_base blue act" id="save_close">확인</button>
					</div>
				</div>
			</div>
			<button type="button" class="close">닫기</button>
		</div>
	</section>

    <!-- footer -->
	<div class="include-footer" th:insert="~{include/footer}"></div>
	<!-- /footer -->
</div>
<!-- //wrap -->
</div>

<!-- 20190514 skyscraper -->
<script type="text/javascript" src="https://www.thehyundai.com/js/hdmall/co/skyscraper.js?ver=030314"></script><div id="criteo-tags-div" style="display: none;"></div>
<!-- //20190514 skyscraper -->


<script type="text/javascript" src="https://www.thehyundai.com/js/hdmall/co/makePCookie.js"></script>

<script>
$(function(){
	$("#save_close").on("click", function(){
		$("#survey_pop").css("display", "none");	
	});
	
});
</script>
<script type="text/javascript">
	function psplit(pingredient) {

		const arr = pingredient.includes(",") ? pingredient.split(",") : pingredient.split(" ");
		let subArr = [];
		for (let i = 0; i < arr.length; i++) {
			let item = arr[i].trim();
			if (item && item !== "정제수" && item !== "글리세린") {
				subArr.push(item);
				if (subArr.length >= 6) break;
			}
		}
		return subArr;
}
	function compareThis(slidenum) {
	console.log("비교하기 상품");
		
	var imglink = document.querySelector(`.${slidenum} img`).getAttribute('src') ;
	var name= document.querySelector(`.${slidenum} .price-info.single span`).textContent;
	var brand= document.querySelector(`.${slidenum} .title.ellipsis`).textContent;
	// var rates = document.querySelector(`.${slidenum} .score`).textContent.trim().replace(/^별점\s*/, '');
	const rates = document.querySelector(`.${slidenum} .score`).value;
	const review = document.querySelector(`.${slidenum} .review`).value;
	console.log(review+" 리뷰 개수");
	
	const price = document.querySelector(`.${slidenum} .price`).value;
	const pcode = document.querySelector(`.${slidenum} .pcode`).value;
	const pVolume = document.querySelector(`.${slidenum} .pVolume`).value;
	const ptype = document.querySelector(`.${slidenum} .ptype`).value;
	const pOption = document.querySelector(`.${slidenum} .pOption`).value;

	var pingredient = document.querySelector(`.${slidenum} .pingredient`).value;
	var slicedIngredients = psplit(pingredient);
	console.log(slicedIngredients);

	if($(".card_choice .card_01").find(".card_name").text() == ""){ //카드1 섹션이 비워져있을 때 1에 상품 삽입
		
		const card01 = document.querySelector(".cd_con.card_choice .card_01");
		card01.querySelector("img").src = imglink;
		card01.querySelector(".card_name").textContent = name;
		card01.querySelector(".corp_name").textContent = brand;

		const bnBox = card01.querySelector('.bn_box'); 
		card01.querySelector('.card_change').setAttribute('href',`/product/detail?code=${pcode}`);
		const cardDel = card01.querySelector('.card_del');
		bnBox.style.display ="";
		cardDel.style.display = '';
		card01.querySelector('.benefit_detail').setAttribute('onclick',`addCart('${pcode}','${pOption}')`);

		$('.cd_con.card_sort .card_01 .star-rating').addClass('bic');
		$('.cd_con.card_sort .card_01 .star-rating.bic span').addClass(rates);
		document.querySelector('.cd_con.card_sort .card_01 .star-rating .review').textContent = review;
		
		const c = document.querySelector(".cd_con.card_event .card_01");
		console.log(price);
		c.querySelector('.price').textContent = price + "("+pVolume+")";
		const p = document.querySelector(".cd_con.annual_fee .card_01");
		p.querySelector('.keyword').textContent = ptype;
		const i = document.querySelector(".cd_con.last_result .card_01");
		// i.querySelector('.caution').textContent = slicedIngredients;

		const cautionEl = i.querySelector('.caution');
		const ulEl = document.createElement("ul");
		slicedIngredients.forEach(item => {
		const liEl = document.createElement("li");
		liEl.classList.add("ing");
		
		const imgEl = document.createElement("img");
		imgEl.src = "/similarCos/img/drop.png";
		imgEl.classList.add("iimg");

		liEl.appendChild(imgEl);
		liEl.appendChild(document.createTextNode(item));

		ulEl.appendChild(liEl);
		});

		cautionEl.innerHTML = "";
		cautionEl.appendChild(ulEl);
		
		console.log("여기서 ajax");
		getMatch(pcode , 1);
		

	}else if ($(".card_choice .card_02").find(".card_name").text() == "") { //카드 섹션 1 채워져있고 2 비워져있을 때 2에 삽입

		const card02 = document.querySelector(".cd_con.card_choice .card_02");
		card02.querySelector("img").src = imglink;
		card02.querySelector(".card_name").textContent = name;
		card02.querySelector(".corp_name").textContent = brand;

		const bnBox = card02.querySelector('.bn_box'); 
		card02.querySelector('.card_change').setAttribute('href',`/product/detail?code=${pcode}`);
		const cardDel = card02.querySelector('.card_del');
		bnBox.style.display ="";
		cardDel.style.display = '';
		card02.querySelector('.benefit_detail').setAttribute('onclick',`addCart('${pcode}','${pOption}')`);

		$('.cd_con.card_sort .card_02 .star-rating').addClass('bic');
		$('.cd_con.card_sort .card_02 .star-rating.bic span').addClass(rates);
		document.querySelector('.cd_con.card_sort .card_02 .star-rating .review').textContent = review;
		
		const c = document.querySelector(".cd_con.card_event .card_02");
		console.log(price);
		c.querySelector('.price').textContent = price + "("+pVolume+")";
		const p = document.querySelector(".cd_con.annual_fee .card_02");
		p.querySelector('.keyword').textContent = ptype;
		const i = document.querySelector(".cd_con.last_result .card_02");
		const cautionEl = i.querySelector('.caution');
		const ulEl = document.createElement("ul");
		slicedIngredients.forEach(item => {
		const liEl = document.createElement("li");
		liEl.classList.add("ing");
		
		const imgEl = document.createElement("img");
		imgEl.src = "/similarCos/img/drop.png";
		imgEl.classList.add("iimg");

		liEl.appendChild(imgEl);
		liEl.appendChild(document.createTextNode(item));

		ulEl.appendChild(liEl);
		});

		cautionEl.innerHTML = "";
		cautionEl.appendChild(ulEl);
		getMatch(pcode , 2);


	}else if ($(".card_choice .card_02").find(".card_name").text() != "") { //카드 섹션 2 비워져있을 때 3에 삽입

			const card03 = document.querySelector(".cd_con.card_choice .card_03");
			card03.querySelector("img").src = imglink;
			card03.querySelector(".card_name").textContent = name;
			card03.querySelector(".corp_name").textContent = brand;

			const bnBox = card03.querySelector('.bn_box'); 
			card03.querySelector('.card_change').setAttribute('href',`/product/detail?code=${pcode}`);
			const cardDel = card03.querySelector('.card_del');
			bnBox.style.display ="";
			cardDel.style.display = '';
			card03.querySelector('.benefit_detail').setAttribute('onclick',`addCart('${pcode}','${pOption}')`);

			$('.cd_con.card_sort .card_03 .star-rating').addClass('bic');
			$('.cd_con.card_sort .card_03 .star-rating.bic span').addClass(rates);
			document.querySelector('.cd_con.card_sort .card_03 .star-rating .review').textContent = review;


			const c = document.querySelector(".cd_con.card_event .card_03");
			console.log(price);
			c.querySelector('.price').textContent = price + "("+pVolume+")";
			const p = document.querySelector(".cd_con.annual_fee .card_03");
		p.querySelector('.keyword').textContent = ptype;
		const i = document.querySelector(".cd_con.last_result .card_03");
		const cautionEl = i.querySelector('.caution');
		const ulEl = document.createElement("ul");
		slicedIngredients.forEach(item => {
		const liEl = document.createElement("li");
		liEl.classList.add("ing");
		
		const imgEl = document.createElement("img");
		imgEl.src = "/similarCos/img/drop.png";
		imgEl.classList.add("iimg");

		liEl.appendChild(imgEl);
		liEl.appendChild(document.createTextNode(item));

		ulEl.appendChild(liEl);
		});

		cautionEl.innerHTML = "";
		cautionEl.appendChild(ulEl);

		getMatch(pcode , 3);

	}else {
		alert('최대 3개의 상품까지 비교할 수 있습니다.');
	}

	//넣은 상품 또 안 넣어지게
	//성분 관련 정보 ajax 넣기
}

	function deleteOnly(num) {
		console.log('deleteOnly');
		const cardDiv = document.querySelector(`.${num}`);
			
			cardDiv.querySelector('img').src ="";
			cardDiv.querySelector('.bn_box').style.display = "none";
			cardDiv.querySelector('.card_del').style.display = "none";
			cardDiv.querySelector('.card_name').textContent="";
			cardDiv.querySelector('.corp_name').innerText="";

			const spanClass = $(`.cd_con.card_sort .${num} .star-rating.bic span`).attr('class');
			$(`.cd_con.card_sort .${num} .star-rating.bic span`).removeClass(spanClass);
			$(`.cd_con.card_sort .${num} .star-rating`).removeClass('bic');

			//document.querySelector(`.${num} .rates`).textContent = '';
			document.querySelector(`.${num} .price`).textContent = '';
			document.querySelector(`.${num} .caution`).textContent = '';
			document.querySelector(`.${num} .keyword`).textContent = '';
			document.querySelector(`.${num} .review`).textContent = '';

			//cardDiv.querySelector('.chart').setAttribute('data-percent', '');
			// document.querySelector(`.mychart${num}`).setAttribute('data-percent', '');
			document.querySelector(`.${num} .chart`).setAttribute('data-percent','');

			document.querySelectorAll(`.${num} .chart .title`).forEach((title) => {
				title.textContent = '';
			});
			//document.querySelector(`.${num} canvas`).remove();

			document.querySelector(`.${num} .chart`).remove();
			const number = num.charAt(num.length - 1);
			console.log(number);
			document.querySelector(`.cd_con.card_benefit .${num}`).innerHTML=`
				<div id="resultchart${number}" class="chart mychart${number}" data-percent="">
					<span class="title" style="top: 119px;"></span>
				</div>
			`;

			// const elements = document.querySelectorAll(`.${num} dt, .${num} dd`);
			// for (let i = 0; i < elements.length; i++) {
			// 	elements[i].textContent = "";
			// }
	}

	function move(give, take) {
		console.log('move---');
		// const card02 = document.querySelector('.card_02');
		// const card03 = document.querySelector('.card_03');
		// card02.innerHTML = card03.innerHTML;

		document.querySelector(`.${take}`).innerHTML = document.querySelector(`.${give}`).innerHTML;

		//다른 article 내용 바꾸기
		document.querySelector(`.${take} .card_del`).setAttribute('onclick', `delThis('${take}')`);
		document.querySelector(`.${take} .price`).textContent = document.querySelector(`.${give} .price`).textContent;
		document.querySelector(`.${take} .caution`).innerHTML = document.querySelector(`.${give} .caution`).innerHTML;
		document.querySelector(`.${take} .keyword`).textContent = document.querySelector(`.${give} .keyword`).textContent;
		//document.querySelector(`.${take} .rates`).textContent = document.querySelector(`.${give} .rates`).textContent;

		const spanClass = $(`.${give} .star-rating.bic span`).attr('class');
		$(`.${take} .star-rating.bic span`).removeClass().addClass(spanClass);

		const number = take.charAt(take.length - 1);
		const code = document.querySelector(`.${give} .card_change`).href.split('=')[1];

		document.querySelector(`.${take} .chart`).remove();
		document.querySelector(`.cd_con.card_benefit .${take}`).innerHTML=`
				<div id="resultchart${number}" class="chart mychart${number}" data-percent="">
					<span class="title" style="top: 119px;"></span>
				</div>
			`;

		getMatch(code,number);

		//document.querySelector(`.cd_con.card_benefit .${take}`).innerHTML=document.querySelector(`.cd_con.card_benefit .${give}`).innerHTML;
	}

	function delThis(card_num) {
		console.log(card_num+ "-----------------");

		if(card_num == 'card_01'){ //card 1 삭제 -> 2존재 시 1로, 3존재 시 2로
	
			if(document.querySelector('.card_03 .card_name').textContent != '' ){ //card3 존재 시 card2,3 옮기기

				move('card_02','card_01');
				move('card_03','card_02');
				deleteOnly('card_03');

			}else if(document.querySelector('.card_02 .card_name').textContent != ''){ //card2까지만 존재 -> 2를 1로 
			
				move('card_02','card_01');
				deleteOnly('card_02');

			}else { //card1만 삭제
				deleteOnly('card_01');
			}

		}else if (card_num == 'card_02' ) { //card 2 삭제 -> 3존재 시 2로
			console.log('2선택');
			if(document.querySelector('.card_03 .card_name').textContent != '') { //card3 존재
				console.log('2선택 3존재');

				move('card_03','card_02');
				deleteOnly('card_03');

			}else { //card 2만 삭제
				console.log('2선택 2삭제');
				deleteOnly('card_02');
			}

		}else { //card3 삭제 -> 하나만 삭제
			deleteOnly('card_03');
		}

}

</script>
<!-- 비교함 상품 출력 -->
<script>
	const arr = JSON.parse(localStorage.getItem("arr")) || [];
	
	console.log("-------------"+ arr.length);
	
	if(arr.length == 0) { //비교함에 담긴 상품이 없을 경우
		for(let i =0;i<=9;i++) {
			const slide = document.querySelector(`.slide${i}`);
			slide.innerHTML = '<div class="blank"><div class="empty"> <img src="https://www.card-gorilla.com/statics/img/compare_detail_add.png"></div><h4 class="forblank">상품을 비교함에<br>담아보세요</h4></div>';
		}
	}else {
		for(let i=0;i<arr.length;i++) {
			console.log('상품 출력 중 ' + i);
			const slide = document.querySelector(`.slide${i}`);					
	    const [pcode, pname, brand, price, imglink, rate, pVolume, ptype, pingredient,pOption,review] = arr[i];
			console.log("img: "+ imglink);
	    slide.innerHTML = `
      <div class="prod-unit" style="padding:0px;height:100%;">
        <div class="img" data-slitmcd="" data-info="">
					<input type="hidden" class="pcode" value="${pcode}">
					<input type="hidden" class="price" value="${price}">
					<input type="hidden" class="pVolume" value="${pVolume}">
					<input type="hidden" class="ptype" value="${ptype}">
					<input type="hidden" class="pingredient" value="${pingredient}">
					<input type="hidden" class="pOption" value="${pOption}">
					<input type="hidden" class="score" value="${rate}">
					<input type="hidden" class="review" value="${review}">

          <a href="/product/detail?code=${pcode}";" style="display: inline-block; position: relative;"> 
            <img src=${imglink} alt="${pname}" onerror="noImage(this, 'https://image.thehyundai.com/hdmall/images/pd/no_image_480x480.jpg')">
          </a>
        </div>
        <div class="info" style="padding-top:0px;">
          <a class="title ellipsis" onclick="javascript:untdItemDetailView('30015','${pcode}', 'N','00','');return false;" style="font-size:15px !important">${brand}</a>
          <div class="price-info single" style="margin-top:0px;"><span style="font-size:18px;">${pname}</span></div>
        </div>
        <div class="addinfo" style="margin-top:0px;">

        </div>
        <div class="card_choice">
          <div class="bn_box" style="margin-top:10px;">
            <a type="button" class="button button5" onclick="compareThis('slide${i}')">비교하기</a>
						<a onclick="del('${pcode}',${i})" class="button button4" data-v-35734774="">삭제하기</a> 
          </div>
        </div>
      </div>
  		  `; //나중에 버튼 이벤트 링크 수정하기
  
		}
		for(let i=arr.length;i<=9;i++) {
			console.log('빈 상품 출력');
			const slide = document.querySelector(`.slide${i}`);
			slide.innerHTML = '<div class="blank"><div class="empty"> <img src="https://www.card-gorilla.com/statics/img/compare_detail_add.png"></div><h4 class="forblank">상품을 비교함에<br>담아보세요</h4></div>';
		}

	}
	
</script>
<script>
	function del(pcode, slidenum) {
		console.log(pcode);
    let arr = JSON.parse(localStorage.getItem("arr")) || []; // null일 경우 빈 배열 생성

    arr = arr.filter(item => item[0] !== pcode); // 삭제할 상품을 제외한 배열 반환
    localStorage.setItem("arr", JSON.stringify(arr)); // 수정된 배열 다시 저장

		
    console.log('삭제');
		//0인데 뒤에 있는 거 - 어레이꺼 다 가져와서 
		//0인데 뒤에 없는 거 - 1부터 다 출력만
		//그 슬라이드부터 prod-unit 있는 슬라이드까지
		if(arr.length!=0){ 
			for(let i = slidenum+1;i<=arr.length;i++) {
					console.log("내용 복사중" + i);
					var next = document.querySelector(`.slide${i}`);	
					console.log('slide'+i);		
					var prev = document.querySelector('.slide'+(i-1));

					prev.innerHTML = next.innerHTML;
					var button5 = prev.querySelector('.button5');
					button5.onclick = function() {
							compareThis(`slide${i-1}`);
					}
				}
		}
		
		//마지막 prod-unit 슬라이드부터 10까지
		for( let i = arr.length; i<=9; i++) {
			var slide = document.querySelector('.slide'+i);
			slide.innerHTML = '<div class="blank"><div class="empty"> <img src="https://www.card-gorilla.com/statics/img/compare_detail_add.png"></div><h4 class="forblank">상품을 비교함에<br>담아보세요</h4></div>';
		}

		const pop = document.getElementById('survey_pop');
			pop.innerHTML= `
			<div class="layerpop blue" style="width:460px;">
			<div class="layerpop_head">
				<h1 style="padding-top: 13px;">상품 비교하기</h1>
			</div>
			<div class="layerpop_cont" style="height: 330px;">
				<div class="save_cont">
					<p>
						상품을 삭제했습니다.
					</p>
					<div class="btn_wrap center mt30">
						<button type="button" class="btn_base blue act" id="save_close">확인</button>
					</div>
				</div>
			</div>
			<button type="button" class="close">닫기</button>
		</div>
			`;
			$("#survey_pop").css("display", "block");

		 $('#save_close').click(function() {
			$("#survey_pop").css("display", "none");

		 });
		$("#survey_pop").css("display", "block");

			//비교함과 플로팅 박스에서 삭제
			//비교함 순서 땡기기
  }

</script>
<!-- 비교함 상품 출력 end-->
<script>
	function makemodal() {
					const pop = document.getElementById('survey_pop');
			pop.innerHTML= `
		<div class="layerpop blue" style="width: 460px;">
			<div class="layerpop_head">
				<h1 style="padding-top: 13px;">장바구니</h1>
			</div>
			<div class="layerpop_cont" style="height: 330px;">
				<div class="save_cont">
					<p>
						해당 상품을 장바구니에 추가하였습니다.<br>
						장바구니 페이지로 이동하시겠습니까?
					</p>
					<div class="btn_wrap center mt30">
						<button type="button" class="btn_base blue act" id="okay" onclick="location.href='/shop/mycart'">확인</button>
						<button type="button" class="btn_base darkgray act" id="save_close">취소</button>
					</div>
				</div>
			</div>
			<button type="button" class="close">닫기</button>
		</div>
			`;
			$("#survey_pop").css("display", "block");

		 $('#save_close').click(function() {
			$("#survey_pop").css("display", "none");

		 });

	}

</script>
<script>
	function addCart(pcode, pOption) {
		console.log("장바구니 담기  "+pcode);
		var mid = document.getElementById('mid').value;

		if (mid !='anonymousUser'){
			var requestData = JSON.stringify({
				pcode : pcode,
				poption : pOption,
			  pamount : 1,
			  mid  :mid
		});
		//로그인 여부 확인 
		//중복 상품 확인
		
		console.log(requestData);


		 $.ajax({
			url: '/restcart/addCart',
			type: 'post',
			data: requestData,
			contentType: "application/json",
			success	: function(result){
				console.log("장바구니 success");
				if(result == '0'){
					alert("장바구니에 추가를 하지 못하였습니다.");
				} else if(result == '1'){
					//추가됨
					$("#survey_pop").css("display", "block");
            makemodal();

				} else if(result == '2'){
					//이미 담긴 상품 
					 $("#survey_pop").css("display", "block");
            makemodal();
            document.querySelector('.save_cont p').innerHTML = '이미 담긴 상품으로 수량이 추가되었습니다.<br>장바구니 페이지로 이동하시겠습니까?';

				} 
				afteradd();
			},
			error :function(request, status, error) {
				console.log(error);
			}
		}); 
		}else {
			console.log("로그인 필요");
			const pop = document.getElementById('survey_pop');
        pop.innerHTML= `
			<div class="layerpop blue" style="width: 460px;">
				<div class="layerpop_head">
					<h1 class="poptitle" style="padding-top: 13px;">장바구니</h1>
				</div>
				<div class="layerpop_cont" style="height: 330px;">
					<div class="save_cont">
						<p>
							장바구니는 로그인이 필요합니다.<br>
              로그인 페이지로 이동하시겠습니까?
						</p>
						<div class="btn_wrap center mt30">
              <button type="button" class="btn_base blue act" id="okay" onclick="location.href='/member/login'">확인</button>
							<button type="button" class="btn_base darkgray act" id="save_close">취소</button>
						</div>
					</div>
				</div>
				<button type="button" class="close">닫기</button>
			</div>
        `;
        $("#survey_pop").css("display", "block");

       $('#save_close').click(function() {
        $("#survey_pop").css("display", "none");

       });
		}

	}

</script>
<script type="text/javascript">
	$(function () {
		// 유의사항 토글
		$(document).on('click', '.event_notice .tit', function () {
			var $this = $(this);
			$this.toggleClass('on').next('.cont').stop().slideToggle();
			return false;
		});
	});
	//slide 제품 리스트 chackbox 선택
	$(document).ready(function () {
		$('.addItem_head input:checkbox').click(function () {
			$(this).parent().parent().parent().next().find('input:checkbox').not(this).prop('checked', this.checked);
		});

		if ($('.product_detail')) {
			laro.ui('productDetail', '.product_detail');
		}
	});

	//product_detail_tab scroll screen top and fixed
	if ($('.product_detail_tab').length > 0) {
		var $window = $(window);
		var $detailTab = $('.product_detail_tab');
		var elTop = $detailTab.offset().top;
		$window.scroll(function () {
			$detailTab.toggleClass('fixed', $window.scrollTop() > elTop);
		});
		$(document).on('click', '.product_detail_tab a[href^="#"]', function (event) {
			event.preventDefault();
			var $this = $(event.target);
			var dTab = $detailTab.height();
			var dTabfixed = $('.product_detail_tab.fixed').height();
			$this.parent().addClass('on').siblings('li').removeClass('on');
			//console.log("dTab : " +  dTab);
			//console.log("dTabfixed : " +  dTabfixed);
			var $htmlBody = $('html, body');
			var moveHeight = 100;
			if (!dTabfixed && !$(this).parent().index() == 0) {
				moveHeight = 150;
			} else if (dTabfixed && $(this).parent().index() == 0) {
				moveHeight = 20;
			} else if ($(this).parent().index() == 0) {
				moveHeight = 70;
			}
			$htmlBody.animate({
				scrollTop: $($.attr(this, 'href')).offset().top - moveHeight
			}, 500);
			//console.log(moveHeight);
		});
	}

	var skinSlider;
	// 제품상세 플로팅 펼치고 접기
	$(document).ready(function () {
		var menuOpened = true;
		$('.zoom').click(function () {
			var $t = $('.price_side');
			if (menuOpened === false) {
				$t.fadeIn(150, function () {
					menuOpened = true;
				});
				$(this).removeClass('out');
			} else {
				$t.fadeOut(150, function () {
					menuOpened = false;
				});
				$(this).addClass('out');
			}
		});

		skinSlider = new Swiper('#review_slider', {
			pagination: '.swiper-pagination',
			loop: true,
			paginationClickable: true
		});
		$('.skinprd-prev').on('click', function (e) {
			e.preventDefault();
			skinSlider.swipePrev();
		});
		$('.skinprd-next').on('click', function (e) {
			e.preventDefault();
			skinSlider.swipeNext();
		});
	});

	var incnt = 0;

	$(document).on('scroll', function () { //3개 텝 일 경우
		var $templateCont = $('#template_cont');
		if ($templateCont.length == 1 && $(this).scrollTop() > $templateCont.position().top) {
			$('.product_detail_tab li').removeClass('on');
			$('.product_detail_tab li:nth-child(1)').addClass('on');
		}

		var $productDetailReview = $('#product_detail_review');
		if ($productDetailReview.length == 1 && $(this).scrollTop() > $productDetailReview.position().top) {
			$('.product_detail_tab li').removeClass('on');
			$('.product_detail_tab li:nth-child(2)').addClass('on');

			var prdt_name = 'MAT 세보 컨트롤링 모이스춰라이저 ';
			var prdt_seq = '3859';

			if (incnt < 1) {
				LARO.GA4TagManager.readReview(prdt_name, prdt_seq);
			}
			incnt++;
		}

		var $productDetailNote = $('#product_detail_note');
		if ($productDetailNote.length == 1 && $(this).scrollTop() > $productDetailNote.position().top) {
			$('.product_detail_tab li').removeClass('on');
			$('.product_detail_tab li:nth-child(3)').addClass('on');
		}
	});
</script>
<script>
	function getMatch(pcode, cardnum) {
		console.log("getmatch 작동");
		var mid = document.getElementById('mid').value;

		if(mid !='anonymousUser'){

		var requestData = JSON.stringify({
                    pcode: pcode,
				});

			$.ajax({
           url: '/restMatch/getMatch',
           type: 'post',
           data: requestData,
           contentType: "application/json",
           success: function(result) {
						console.log("매치 success");
						console.log("result       =   "+result);
						document.querySelector(`.mychart${cardnum}`).setAttribute('data-percent', result);
						const mychart = document.querySelector(`.mychart${cardnum}`);

						if(result != null && mychart != null && result >0 ){

						const percent = mychart.dataset.percent;
						console.log(percent + "-------------------------");

							if(percent <= 20){
								console.log("퍼센트 20이하");
								$(`#resultchart${cardnum}`).easyPieChart({
								barColor: '#fe3c69',
								trackColor : '#edebeb',
								scaleColor: false,
								lineWidth: 25,
								size: 200,
								animate: 1000,
								lineCap: 'round'
							});
							document.querySelector(`.mychart${cardnum} .title`).innerHTML = percent+"<br>글쎄요";

							}else if (percent<=40) {

								$(`#resultchart${cardnum}`).easyPieChart({
								barColor: '#f77694',
								trackColor : '#edebeb',
								scaleColor: false,
								lineWidth: 25,
								size: 200,
								animate: 1000,
								lineCap: 'round'
							});
							document.querySelector(`.mychart${cardnum} .title`).innerHTML = percent+"<br>그냥 그래요";

							}else if (percent<=60) {

								$(`#resultchart${cardnum}`).easyPieChart({
								barColor: '#DCFBF9',
								trackColor : '#edebeb',
								scaleColor: false,
								lineWidth: 25,
								size: 200,
								animate: 1000,
								lineCap: 'round',
								onInit: function() {
									this.chart.canvas.parentNode.style.height = '200px';
									this.chart.canvas.parentNode.style.width = '200px';
								}
							});
							document.querySelector(`.mychart${cardnum} .title`).innerHTML = percent+"<br>보통이에요";

							}else if (percent<=80) {

								$(`#resultchart${cardnum}`).easyPieChart({
								barColor: '#CBE6FF',
								trackColor : '#edebeb',
								scaleColor: false,
								lineWidth: 25,
								size: 200,
								animate: 1000,
								lineCap: 'round'  
							});

							document.querySelector(`.mychart${cardnum} .title`).innerHTML = percent+"<br>잘 맞는 편!";

							}else if (percent<=100){

								$(`#resultchart${cardnum}`).easyPieChart({
								barColor: '#7796fc',
								trackColor : '#edebeb',
								scaleColor: false,
								lineWidth: 25,
								size: 200,
								animate: 1000,
								lineCap: 'round'
							});
							document.querySelector(`.mychart${cardnum} .title`).innerHTML = percent+"<br>찰떡궁합";

							}
						}else if(result ==0) {
							document.querySelector(`.cd_con.card_benefit .mychart${cardnum}`).innerHTML=`
						<div style="padding: 18px;border: 1px solid #c2bdbd;border-radius: 15px;">
							<div> 피부 MBTI를 진단하고 <br>나의 피부타입과<br>제품의 매칭도를<br>확인하세요! </div>
							<style>
								</style>
							<div id="join-btn" style="margin-top: 7px;height:35px;">
								<a class="btn_base move" href="/skinMBTI/selfConsult" style="height:39px;">피부진단하러 가기</a></div>
						</div>
						`;
						}

									},
									error: function(request, status, error) {
											console.log(error);
									}
							});

					}else {
						document.querySelector(`.cd_con.card_benefit .mychart${cardnum}`).innerHTML=`
						<div style="padding: 18px;border: 1px solid #c2bdbd;border-radius: 15px;">
							<div> 회원 가입 후 <br>피부 MBTI를 진단하고 <br>나의 피부타입과 제품의<br>매칭도를 확인하세요! </div>
							<div id="join-btn" style="margin-top: 7px;height:35px;">
								<a class="btn_base move" href="/member/login" style="height:39px;">회원가입하러 가기</a></div>
						</div>
						`;
					}

}

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
</body>
</html>