<!DOCTYPE html>
<html lang="ko" class="js" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<head th:insert="~{include/head}"></head>
</head>
<script>
$(function(){
	$(".opt").change(function(){
		var value = $('.option option:selected').val();
		$('.option select').val(value).prop("selected",true);
	});
	
	$(".opt2").change(function(){
		var value = $('.opt2 option:selected').val();
		$('.option select').val(value).prop("selected",true);
	});
});
</script>
<body>
  <div id="wrap" class="right_type" data-fbq-content-id="3596" data-fbq-value="48000">
    <nav id="skip_navi">
      <a href="#contents">본문 바로가기</a>
      <a href="#menu">메뉴 바로가기</a>
      <a href="#footer">하단 정보 바로가기</a>
    </nav>

    <!-- header -->
   	<header id="header" th:insert="~{include/header}"></header>
    <!-- /header -->
    
    <section class="h_link">
      <nav>
        <ol>
          <li><a href="javascript:void(0);" onclick="location.href='/'"><i>HOME</i></a></li>
          <li class="kor">
            <a href=""><i>FACE</i></a>
            <ul class="h_link_sub">
              <li class="kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1130'">
                  병원판매화장품</a>
              </li>
              <li class="on">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1004'">
                  FACE</a>
              </li>
              <li>
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1033'">
                  BODY</a>
              </li>
              <li>
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1009'">
                  SUN CARE</a>
              </li>
            </ul>
          </li>
          <li class="kor">
            <a href=""><i>제품 라인별</i></a>
            <ul class="h_link_sub">
              <li class="kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1004'">
                  피부 고민별</a>
              </li>
              <li class="on kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1008'">
                  제품 라인별</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1011'">
                  사용 단계별</a>
              </li>
            </ul>
          </li>
          <li class="current kor">
            <a href=""><i>시카플라스트</i></a>
            <ul class="h_link_sub">
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate2=1008'">전체보기</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1018'">에빠끌라</a>
              </li>
              <li class="on kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1021'">시카플라스트</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1010'">똘러리앙</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1024'">히알루 B5</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1107'">유비데아</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1114'">퓨어비타민C10</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1025'">세로징크</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1022'">오 떼르말</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1023'">미셀라 클렌징 워터</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1139'">나이아신아마이드</a>
              </li>
            </ul>
          </li>
        </ol>
      </nav>
    </section>
    <section id="container">
      <section id="contents" class="template_wrap">
        <div class="product_detail mt60">
          <div class="top">
            <form id="orderForm" name="orderForm">
            	<input type="hidden" value="10000" name="prdtCnt" id="prdtCnt">
              <input type="hidden" th:value="${product.productDTO.pprice}" name="salePrice" id="salePrice">
              <input type="hidden" name="prdtType" value="PT">
              <input type="hidden" name="prdtSeq" value="3596">
              <input type="hidden" name="ordCnt" value="1" data-prdt-seq="3596" data-seq="3596" data-prdt-type="PT">
              <input type="hidden" name="adPrdtName" th:value="${product.productDTO.pname}">
              <input type="hidden" name="prdtName" th:value="${product.productDTO.pname}">
              <div class="left">
                <div class="detail_slider">
                  <div class="view">
                    <ul>
                      <li th:each="thumbImg, thumbStat : ${product.thumbImgList}" th:style="'background-image:url(' + ${thumbImg.iloc} + '_600.jpg);'" th:text="${thumbStat.count}"></li>
                    </ul>
                  </div>
                  <div class="controls">
                    <button type="button" class="prev">이전</button>
                    <div class="thumb">
                      <a th:each="thumbImg, thumbStat : ${product.thumbImgList}" href="javascript:void(0);" class="on"
                        th:style="'background-image:url(' + ${thumbImg.iloc} + '_600.jpg);'" th:text="${thumbStat.count}"></a>
                    </div>
                    <button type="button" class="next">다음</button>
                  </div>
                </div>
                <!-- //detail_slider -->
              </div>
              <!-- //left -->
              <div class="right">
                <div class="datail_info_top">
                 	<p class="brand">[[${product.productDTO.bname}]]</p>
                  <span class="tit">
                    <strong>[[${product.productDTO.pname}]]</strong>
                  </span>
                  <input type="hidden" class="pcode" th:value="${product.productDTO.pcode}">
                  <span class="star">
                    <a href="#product_detail_review">
                      <div class="star-rating bic">
                        <span class="c00">
                          <em class="hide">별점 0개</em></span>
                      </div>
                    </a>
                    <em><a href="#product_detail_review" style="color:#8f8f8f;">(270)</a></em>
                   
                  </span>
                </div>
                <div class="datail_info_data">
                  <ul>
                    <li><strong>판매가</strong>
                      <span class="price">[[${#numbers.formatInteger(product.productDTO.pprice, 3,'COMMA')}]]<em>원</em></span>
                    </li>
                    <li><strong>카드 혜택</strong>
                      현대백화점 카드 5% <span>[[${#numbers.formatInteger(product.productDTO.pprice*0.95, 3,'COMMA')}]]<i>원</i></span>
                    </li>
                    <li><strong>무이자</strong>
                      최대 6개월
                    </li>
                    <li><strong>적립금</strong>
                      H.Point <span class="mile">[[${#numbers.formatInteger(product.productDTO.pprice*0.95, 3,'COMMA')}]]<i>P</i><em> 적립</em></span>
                    </li>
                    <li><strong>배송비</strong>
                      무료배송
                    </li>
                    <li th:if="${!#lists.isEmpty(product.optList) and #lists.size(product.optList)>1}" class="option"><strong>옵션</strong>
                      <select style="width: 75%;" class="opt">
                      	<option>선택</option>
                      	<option th:each="opt, optStat : ${product.optList}">[[${opt.optname}]]</option>
                      </select>
                    </li>
                    <li class="amount"><strong>수량</strong>
                      <div class="count">
                        <button type="button" class="minus">-</button>
                        <input type="text" name="pamount" value="1" readonly="">
                        <button type="button" class="plus">+</button>
                      </div>
                    </li>
                    <li th:if="${dept1no == 10}" class="subscription_text">나의 피부타입과 매칭해보세요.<a href="#" class="btn_move">피부 MBTI와 매칭하러 가기</a></li>
                    <li class="total"><strong>총 구매금액</strong>
                      <span class="pricetotal">[[${#numbers.formatInteger(product.productDTO.pprice, 3,'COMMA')}]]<em>원</em></span>
                    </li>
                  </ul>
                </div>
                <div class="datail_info_btn">
                 
                  <span class="instock">
                    <button type="button" class="btn_base darkgray basket" data-level="N" data-level-name="제한없음"
                      data-value="3596" data-price="48000" data-linename="시카플라스트" data-prdtname="리페어 세럼 B5"
                      data-sapcode="MB451200" data-buy-level="N" data-mbr-join-ym="202303" onclick="addCart()"><span>장바구니</span></button>
                    <button type="button" class="btn_base blue nowBuy" data-level="N" data-level-name="제한없음"
                      data-user-level="MBR001" data-value="3596" data-price="48000" data-linename="시카플라스트"
                      data-prdtname="리페어 세럼 B5" data-buy-level="N" data-mbr-join-ym="202303"><span>구매하기</span></button>
                  	<button id="compare-btn" type="button" class="btn_base darkgray basket" data-level="N" data-level-name="제한없음"
                      data-value="3596" data-price="48000" data-linename="시카플라스트" data-prdtname="리페어 세럼 B5"
                      data-sapcode="MB451200" data-buy-level="N" data-mbr-join-ym="202303" onclick="put()"><span style="font-family: 'notokr-demilight';"><img src="/common/image/add.png" style="width: 22px; margin-right: 6px; margin-bottom: 3px;">비교함 담기</span></button>
                  </span>

                </div>

              </div>
            </form>
          </div>
          <!-- //top -->
          <!-- //addItem_slider -->
          <div class="product_detail_tab">
            <ul>
              <li class="on"><a href="#template_cont">제품상세정보</a></li>
              <li class=""><a href="#product_detail_review">리얼리뷰</a></li>
              <li class=""><a href="#product_detail_note">구매정보</a></li>
            </ul>
          </div>
          <!-- product_detail_view -->
          <!--  product_detal_template -->
          <div id="template_cont">
            <div id="product_detail_view">
              <p th:each="detailImg : ${product.detailImgList}">
              	<img th:src="${detailImg.iloc}">
              </p>
              <div class="hide">
                제품상세정보 대체텍스트 표시
              </div>
            </div>
            <!-- //product_detail_view -->
          </div><!-- //product_detal_template -->
          <!-- //product_detail_view -->
          <!--  product_detail_review -->
          <style type="text/css">
            .review_warp .review_conts .list li>a>span.img img {
              height: 180px;
              width: 100%;
              max-width: none;
              max-height: none;
            }
          </style>


          <div id="product_detail_review">
            <h3>리얼리뷰</h3>
            <!-- <div class="detail_review_top">
      <ul>
          <li><em>포토리뷰 당 500M, 한줄리뷰 당 50M</em> 마일리지 적립해 드립니다. (<em>첫 리뷰 작성 시 마일리지 더블 적립</em>해 드립니다.)</li>
          <li>비구매회원도 작성 가능합니다.(<em>포토리뷰 당 250M</em> 마일리지 적립)</li>
      </ul>
      <button type="button" class="btn_base gray" onclick="reviewWrite();">리얼리뷰 쓰기</button>
      <a href="https://www.larocheposay.co.kr/review/write.do" class="btn_base gray" style="float:right;">리얼리뷰 쓰기</a>
  </div> -->
            <div class="detail_review_box">
              <div class="left">
                <strong><em id="totalReviewCount">270</em>개의 리얼리뷰가 있습니다</strong>
                <span>포토리뷰 <em id="photoReviewCount">193</em>개</span>
                <span>한줄리뷰 <em id="textReviewCount">77</em>개</span>
              </div>
              <div class="right">
                <strong>평균 별점</strong>
                <span>
                  <div class="star-rating bic">
                    <span class="c50">
                      <em class="hide">벌점 5.0개</em></span>
                  </div>
                </span>
                <span><em>10</em><i>/</i>10</span>
              </div>
            </div>
            <!-- //detail_review_top -->
            <div class="detail_review_list">
              <div class="tabtext_warp">
                <div class="tabtext">
                  <ul>
                    <li class="on"><a href="#" onclick="reviewList_all();return false">전체리뷰</a></li>
                    <li><a href="#" onclick="reviewList_photo();return false">포토리뷰</a></li>
                    <li><a href="#" onclick="reviewList_text();return false">한줄리뷰</a></li>
                  </ul>
                </div>
              </div>
              <!-- //tabtext_warp -->

              <div class="review_warp">
                <div class="review_conts">
                  <ul class="list" id="reviewList" style="position: relative; height: 1043.85px;">
                    <li class="btn_review" style="position: absolute; left: 0px; top: 0px;"><a
                        href="javascript:reviewWrite();"><span>리얼리뷰 쓰기</span><em>포토리뷰 500M <i></i> 한줄리뷰 50M<br>첫 리뷰
                          더블적립</em></a></li>
                    <li class="text" style="position: absolute; left: 290px; top: 0px;"> <a href="#review_list001"
                        class="layer-pop" data-type="link" data-url="/review/view/96576.do?prdtView=Y"> <span
                          class="rating">
                          <fieldset class="star_rating"> <input type="radio" id="list96576_star5"
                              name="list96576_rating" value="5" checked=""><label for="list96576_star5">5스타</label>
                            <input type="radio" id="list96576_star4" name="list96576_rating" value="4"
                              disabled=""><label for="list96576_star4">4스타</label> <input type="radio"
                              id="list96576_star3" name="list96576_rating" value="3" disabled=""><label
                              for="list96576_star3">3스타</label> <input type="radio" id="list96576_star2"
                              name="list96576_rating" value="2" disabled=""><label for="list96576_star2">2스타</label>
                            <input type="radio" id="list96576_star1" name="list96576_rating" value="1"
                              disabled=""><label for="list96576_star1">1스타</label> </fieldset>
                        </span> <span class="replyhead">만족</span> <span class="reply">이 에센스 정말 좋아요 재생효과 최고!!!</span>
                        <span class="data"> <span class="userid">KAKAO6096485***</span> <span
                            class="day">2023.03.28</span> </span> </a> </li>
                    <li class="photo" style="position: absolute; left: 580px; top: 0px;"> <a href="#review_list001"
                        class="layer-pop" data-type="link" data-url="/review/view/96573.do?prdtView=Y"> <span
                          class="img"><img src="https://www.larocheposay.co.kr/upload/review/2023/03/20230328_1234008_703.jpg " alt="추천"></span> <span
                          class="rating">
                          <fieldset class="star_rating"> <input type="radio" id="list96573_star5"
                              name="list96573_rating" value="5" checked=""><label for="list96573_star5">5스타</label>
                            <input type="radio" id="list96573_star4" name="list96573_rating" value="4"
                              disabled=""><label for="list96573_star4">4스타</label> <input type="radio"
                              id="list96573_star3" name="list96573_rating" value="3" disabled=""><label
                              for="list96573_star3">3스타</label> <input type="radio" id="list96573_star2"
                              name="list96573_rating" value="2" disabled=""><label for="list96573_star2">2스타</label>
                            <input type="radio" id="list96573_star1" name="list96573_rating" value="1"
                              disabled=""><label for="list96573_star1">1스타</label> </fieldset>
                        </span> <span class="replyhead">추천</span> <span class="reply">라로슈포제에서 제일 좋아하는 에센스!
                          재생효과, 피부 맑아지는 느낌에
                          꾸준히 씁니다</span> <span class="data"> <span class="userid">KAKAO6096485***</span> <span
                            class="day">2023.03.28</span> </span> </a> </li>
                    <li class="photo" style="position: absolute; left: 870px; top: 0px;"> <a href="#review_list001"
                        class="layer-pop" data-type="link" data-url="/review/view/96225.do?prdtView=Y"> <span
                          class="img"><img src="https://www.larocheposay.co.kr/upload/review/2023/03/20230316_2033014_508.jpg "
                            alt="믿고 쓰는 제품이예요 항상 재구매하고 있어용♡♡"></span> <span class="rating">
                          <fieldset class="star_rating"> <input type="radio" id="list96225_star5"
                              name="list96225_rating" value="5" checked=""><label for="list96225_star5">5스타</label>
                            <input type="radio" id="list96225_star4" name="list96225_rating" value="4"
                              disabled=""><label for="list96225_star4">4스타</label> <input type="radio"
                              id="list96225_star3" name="list96225_rating" value="3" disabled=""><label
                              for="list96225_star3">3스타</label> <input type="radio" id="list96225_star2"
                              name="list96225_rating" value="2" disabled=""><label for="list96225_star2">2스타</label>
                            <input type="radio" id="list96225_star1" name="list96225_rating" value="1"
                              disabled=""><label for="list96225_star1">1스타</label> </fieldset>
                        </span> <span class="replyhead">믿고 쓰는 제품이예요 항상 재구매하고 있어용♡♡</span> <span class="reply">믿고 쓰는
                          제품이예요
                          항상 재구매하고 있어용♡♡</span> <span class="data"> <span class="userid">KAKAO4259750***</span> <span
                            class="day">2023.03.16</span> </span> </a> </li>
                    <li class="photo" style="position: absolute; left: 290px; top: 243px;"> <a href="#review_list001"
                        class="layer-pop" data-type="link" data-url="/review/view/96198.do?prdtView=Y"> <span
                          class="img"><img src="https://www.larocheposay.co.kr/upload/review/2023/03/20230316_0058009_490.jpeg " alt="좋아요"></span>
                        <span class="rating">
                          <fieldset class="star_rating"> <input type="radio" id="list96198_star5"
                              name="list96198_rating" value="5" checked=""><label for="list96198_star5">5스타</label>
                            <input type="radio" id="list96198_star4" name="list96198_rating" value="4"
                              disabled=""><label for="list96198_star4">4스타</label> <input type="radio"
                              id="list96198_star3" name="list96198_rating" value="3" disabled=""><label
                              for="list96198_star3">3스타</label> <input type="radio" id="list96198_star2"
                              name="list96198_rating" value="2" disabled=""><label for="list96198_star2">2스타</label>
                            <input type="radio" id="list96198_star1" name="list96198_rating" value="1"
                              disabled=""><label for="list96198_star1">1스타</label> </fieldset>
                        </span> <span class="replyhead">좋아요</span> <span class="reply">촉촉하고 좋아요오 라로슈포제가 제피부랑 잘
                          맞는듯해여</span> <span class="data"> <span class="userid">KAKAO2018277***</span> <span
                            class="day">2023.03.16</span> </span> </a> </li>
                    <li class="text" style="position: absolute; left: 0px; top: 322px;"> <a href="#review_list001"
                        class="layer-pop" data-type="link" data-url="/review/view/96158.do?prdtView=Y"> <span
                          class="rating">
                          <fieldset class="star_rating"> <input type="radio" id="list96158_star5"
                              name="list96158_rating" value="5" checked=""><label for="list96158_star5">5스타</label>
                            <input type="radio" id="list96158_star4" name="list96158_rating" value="4"
                              disabled=""><label for="list96158_star4">4스타</label> <input type="radio"
                              id="list96158_star3" name="list96158_rating" value="3" disabled=""><label
                              for="list96158_star3">3스타</label> <input type="radio" id="list96158_star2"
                              name="list96158_rating" value="2" disabled=""><label for="list96158_star2">2스타</label>
                            <input type="radio" id="list96158_star1" name="list96158_rating" value="1"
                              disabled=""><label for="list96158_star1">1스타</label> </fieldset>
                        </span> <span class="replyhead">수영 피부에 즉효!!!</span> <span class="reply">수영을 배우는데 너무 건조한지 뾰루지가 엄청
                          올라오더라구요 그래서 이걸 썼눈데 피부가 점점 나아지고 있어여??
                          또 사러 왔숩니다??</span> <span class="data"> <span class="userid">leeja3***</span> <span
                            class="day">2023.03.15</span> </span> </a> </li>
                    <li class="photo" style="position: absolute; left: 580px; top: 457px;"> <a href="#review_list001"
                        class="layer-pop" data-type="link" data-url="/review/view/96155.do?prdtView=Y"> <span
                          class="img"><img src="https://www.larocheposay.co.kr/upload/review/2023/03/20230315_0056009_465.jpeg " alt="밀려요"></span>
                        <span class="rating">
                          <fieldset class="star_rating"> <input type="radio" id="list96155_star5"
                              name="list96155_rating" value="5" checked=""><label for="list96155_star5">5스타</label>
                            <input type="radio" id="list96155_star4" name="list96155_rating" value="4"
                              disabled=""><label for="list96155_star4">4스타</label> <input type="radio"
                              id="list96155_star3" name="list96155_rating" value="3" disabled=""><label
                              for="list96155_star3">3스타</label> <input type="radio" id="list96155_star2"
                              name="list96155_rating" value="2" disabled=""><label for="list96155_star2">2스타</label>
                            <input type="radio" id="list96155_star1" name="list96155_rating" value="1"
                              disabled=""><label for="list96155_star1">1스타</label> </fieldset>
                        </span> <span class="replyhead">밀려요</span> <span class="reply">낮에쓰면 너무밀려서 못썻어요
                          밤에만쓰세요</span> <span class="data"> <span class="userid">KAKAO1211624***</span> <span
                            class="day">2023.03.15</span> </span> </a> </li>
                    <li class="photo" style="position: absolute; left: 870px; top: 459px;"> <a href="#review_list001"
                        class="layer-pop" data-type="link" data-url="/review/view/95825.do?prdtView=Y"> <span
                          class="img"><img src="https://www.larocheposay.co.kr/upload/review/2023/03/20230305_1328001_262.jpg "
                            alt="시카플러스트리페어세럼B5"></span> <span class="rating">
                          <fieldset class="star_rating"> <input type="radio" id="list95825_star5"
                              name="list95825_rating" value="5" checked=""><label for="list95825_star5">5스타</label>
                            <input type="radio" id="list95825_star4" name="list95825_rating" value="4"
                              disabled=""><label for="list95825_star4">4스타</label> <input type="radio"
                              id="list95825_star3" name="list95825_rating" value="3" disabled=""><label
                              for="list95825_star3">3스타</label> <input type="radio" id="list95825_star2"
                              name="list95825_rating" value="2" disabled=""><label for="list95825_star2">2스타</label>
                            <input type="radio" id="list95825_star1" name="list95825_rating" value="1"
                              disabled=""><label for="list95825_star1">1스타</label> </fieldset>
                        </span> <span class="replyhead">시카플러스트리페어세럼B5</span> <span class="reply">저녁용 케어로사용하는제품입니다 시카제품모두
                          너무좋아요~데일이로 시카크림도 같이 사용합니다 좋아요좋아요</span> <span class="data"> <span
                            class="userid">KAKAO5172103***</span> <span class="day">2023.03.05</span> </span> </a> </li>
                    <li class="photo" style="position: absolute; left: 0px; top: 605px;"> <a href="#review_list001"
                        class="layer-pop" data-type="link" data-url="/review/view/95796.do?prdtView=Y"> <span
                          class="img"><img src="https://www.larocheposay.co.kr/upload/review/2023/03/20230304_2104006_240.jpg " alt="깔끔해요"></span>
                        <span class="rating">
                          <fieldset class="star_rating"> <input type="radio" id="list95796_star5"
                              name="list95796_rating" value="5" checked=""><label for="list95796_star5">5스타</label>
                            <input type="radio" id="list95796_star4" name="list95796_rating" value="4"
                              disabled=""><label for="list95796_star4">4스타</label> <input type="radio"
                              id="list95796_star3" name="list95796_rating" value="3" disabled=""><label
                              for="list95796_star3">3스타</label> <input type="radio" id="list95796_star2"
                              name="list95796_rating" value="2" disabled=""><label for="list95796_star2">2스타</label>
                            <input type="radio" id="list95796_star1" name="list95796_rating" value="1"
                              disabled=""><label for="list95796_star1">1스타</label> </fieldset>
                        </span> <span class="replyhead">깔끔해요</span> <span class="reply">레이져하고 쭉 써요~화장품이 깔끔한느낌
                          무엇~^^</span> <span class="data"> <span class="userid">qufqu***</span> <span
                            class="day">2023.03.04</span> </span> </a> </li>
                  </ul>
                </div>
                <div class="paging" id="reviewPageing">

                  <span class="paginate-list"> <a href="#n" onclick="pageMove(1)" class="current" title="현재페이지">1</a> <a
                      href="#n" onclick="pageMove(2)" title="2페이지로 가기">2</a> <a href="#n" onclick="pageMove(3)"
                      title="3페이지로 가기">3</a> <a href="#n" onclick="pageMove(4)" title="4페이지로 가기">4</a> <a href="#n"
                      onclick="pageMove(5)" title="5페이지로 가기">5</a> <a href="#n" onclick="pageMove(6)"
                      title="6페이지로 가기">6</a> <a href="#n" onclick="pageMove(7)" title="7페이지로 가기">7</a> <a href="#n"
                      onclick="pageMove(8)" title="8페이지로 가기">8</a> <a href="#n" onclick="pageMove(9)"
                      title="9페이지로 가기">9</a> <a href="#n" onclick="pageMove(10)" title="10페이지로 가기">10</a> </span> <a
                    href="#n" class="next_link" title="다음 페이지로 가기" onclick="pageMove(11)"><span class="hide">다음 페이지로
                      가기</span></a>
                </div>
              </div>
              <!-- //review_warp -->
              <div class="faq_box">
                <span>
                  <p><i class="ico_guide">안내</i> 제품 Q&amp;A는 고객케어센터의 1:1 상담을 이용해 주세요.</p>
                </span>
                <span><button type="button" class="btn_base move" onclick="cscenter();">1:1 상담</button></span>
              </div>
            </div>
            <!-- //detail_review_list -->
          </div><!-- //product_detail_review -->
          <!-- product_detail_note -->
          <div id="product_detail_note">
            <h3>구매정보</h3>
            <h4>제품정보 제공공시</h4>
            <div class="table_wrap">
              <table border="1">
                <caption>제품정보 제공공시 테이블</caption>
                <colgroup>
                  <col style="width:254px;">
                  <col>
                </colgroup>
                <tbody>
                  <tr>
                    <th scope="row" class="t_left">용량(또는 중량)</th>
                    <td class="t_left">[[${product.productDTO.pvolume}]]</td>
                  </tr>
                  <tr>
                    <th scope="row" class="t_left">제품 주요 사양</th>
                    <td class="t_left">[[${product.productDTO.ptype}]]합</td>
                  </tr>
                  <tr>
                    <th scope="row" class="t_left">사용기간(또는 개봉 후 사용기한)</th>
                    <td class="t_left">[[${product.productDTO.pexp}]]</td>
                  </tr>
                  <tr>
                    <th scope="row" class="t_left">사용방법 </th>
                    <td class="t_left">[[${product.productDTO.puse}]]</td>
                  </tr>
                  <tr>
                    <th scope="row" class="t_left">제조자 / 책임판매업자</th>
                    <td class="t_left">[[${product.productDTO.pproduce}]]</td>
                  </tr>
                  <tr>
                    <th scope="row" class="t_left">제조국</th>
                    <td class="t_left">[[${product.productDTO.pcountry}]]</td>
                  </tr>
                  <tr>
                    <th scope="row" class="t_left">전 성분</th>
                    <td class="t_left">
                      [[${product.productDTO.pingredient}]]
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="t_left">기능성 화장품 심사 필 유무</th>
                    <td class="t_left">해당없음</td>
                  </tr>
                  <tr>
                    <th scope="row" class="t_left">사용 시 주의사항</th>
                    <td class="t_left">
                    	[[${product.productDTO.pcaution}]]
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="t_left">품질보증기준</th>
                    <td class="t_left">상품에 동봉되는 품질 보증서 또는 공정거래위원회 고시 소비자 분쟁 해결 기준에 따릅니다.<br>공정거래위원회
														고시 소비자 분쟁 해결기준은 품질 보증서에 우선하여 진행합니다.</td>
                  </tr>
                  <tr>
                    <th scope="row" class="t_left">소비자상담 전화번호</th>
                    <td class="t_left">더현대닷컴 고객상담센터 1800-2233</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h4>배송안내</h4>
            <div class="table_wrap">
              <table border="1">
                <caption>배송안내 테이블</caption>
                <colgroup>
                  <col style="width:254px;">
                  <col>
                </colgroup>
                <tbody>
                  <tr>
                    <th class="t_left" scope="row">배송업체</th>
                    <td class="t_left"><strong style="font-family: 'notokr-medium';">로젠택배 (고객센터 ☎1588-9988)</strong>
                    </td>
                  </tr>
                  <tr>
                    <th class="t_left" scope="row">배송비</th>
                    <td class="t_left"><strong style="font-family: 'notokr-medium';">최종 결제금액 3만원 이상 무료배송 (3만원 미만 시
                        2,500원)</strong><br>
                      - 더모 비기너, 더모 엘리트, 더모 마스터 회원 등급에 한해 매월 1일 무료배송 쿠폰 증정 (쿠폰존에서 다운로드)<br>
                      - 타 쇼핑몰과 달리 도서/산간/제주지역도 추가 배송비 없습니다.</td>
                  </tr>
                  <tr>
                    <th class="t_left" scope="row">배송기간</th>
                    <td class="t_left"><strong style="font-family: 'notokr-medium';">오후 2시 이전 결제완료 시 당일 출고</strong><br>
                      - 전일 14시 이후부터 당일 14시 이전까지 결제완료 : 당일 오후 출고 및 택배 발송<br>
                      - 금요일 14시 이후 및 법정공휴일 결제완료 : 돌아오는 평일 오후 출고 및 택배 발송<br>
                      - 출고 및 택배 발송일로부터 약 1~3일 이내 배송완료<br>
                      *특수 지역 (도서산간, 제주도, 군부대 등) 및 황금연휴가 포함되거나 할인행사로 인한 주문 폭주, 택배사 사정 등으로 인해 일부 더 소요될 수 있습니다.</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h4>교환 / 반품 / 환불 안내</h4>
            <div class="table_wrap">
              <table border="1">
                <caption>교환 / 반품 / 환불 안내 테이블</caption>
                <colgroup>
                  <col style="width:254px;">
                  <col>
                </colgroup>
                <tbody>
                  <tr>
                    <th class="t_left" scope="row">신청 가능 기간</th>
                    <td class="t_left"><strong style="font-family: 'notokr-medium';">배송완료일 (제품을 수령하신 날) 로부터 7일
                        이내</strong><br>
                      - 수령 받은 제품이 표시/광고의 내용과 다르거나, 계약내용과 다르게 이행된 경우 : 제품 수령일로부터 3개월 이내<br>
                      - 그 사실을 알 수 있었던 날로부터 30일 이내</td>
                  </tr>
                  <tr>
                    <th class="t_left" scope="row">배송비</th>
                    <td class="t_left"><strong style="font-family: 'notokr-medium';">교환 배송비 5,000원 / 반품 배송비
                        2,500원~5,000원</strong><br>
                      - 고객님 사유 (단순변심 등) 에 의해 신청할 경우, 배송비 발생<br>
                      - 당사 사유 (제품하자 등) 에 의해 신청할 경우, 배송비 무료<br>
                      - 교환/ 반품 배송비 입금정보 : 최초 결제하신 수단에서 발생된 배송비 차감 후 환불<br>
                      *제품 검수과정에서 사유가 일치하지 않을 시 거부 또는 반품으로 진행될 수 있으며, 이로 인해 발생되는 추가 배송비는 고객님 부담입니다.</td>
                  </tr>
                  <tr>
                    <th class="t_left" scope="row">신청 방법</th>
                    <td class="t_left"><strong style="font-family: 'notokr-medium';">주문/배송조회 &gt; 신청 또는 고객지원실 전화
                        ☎080-844-0088</strong><br>
                      - 동일 제품에 대해서만 교환신청 가능 (용량 및 호수 변경, 다른 제품으로 교환 원할 시, 반품 후 재주문)<br>
                      - 교환 및 반품 신청 접수 <strong>→</strong> 제품 회수 (로젠택배 기사님이 방문수거) → 제품 검수 → 교환 및 환불 처리<br>
                      - 반품 시, 함께 제공된 증정품 (마일리지 기프트 포함) 도 회수 되어야 함<br>
                      - 주문하신 제품 중, 일부 제품만 교환 또는 반품 신청 가능</td>
                  </tr>
                  <tr>
                    <th class="t_left" scope="row">신청 불가 사유</th>
                    <td class="t_left"><strong style="font-family: 'notokr-medium';">고객님의 사유에 의해 불가한 경우</strong><br>
                      - 배송완료일 (제품을 수령하신 날) 로부터 7일이 경과한 경우<br>
                      - 제품 패키지 훼손, 개봉 및 일부 사용, 구성품 및 증정품 누락 등 제품의 가치가 훼손된 경우<br>
                      <br>
                      <strong style="font-family: 'notokr-medium';">당사의 사유에 의해 불가한 경우</strong><br>
                      - 배송완료일 (제품을 수령하신 날) 로부터 3개월이 경과한 경우<br>
                      - 그 사실을 알 수 있었던 날로부터 30일이 경과한 경우<br>
                      - 당사 사유가 아닌 해당 제품의 고유한 특성 또는 제품 수령 후 고객님 과실로 인한 문제임을 규명한 경우
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div><!-- //product_detail_note -->

        </div>
        <!-- //product_detail -->

      </section>
      <!-- //contents -->
    </section>
    <!-- //container -->


    <!-- right 제품구매 플로팅 -->
    <section class="flot_right_warp">
      <div class="flot_price_btn">
        <div class="flotmem"><a href="https://www.larocheposay.co.kr/myPage/myPageHome.do"></a><strong><em>고객</em>님</strong>반갑습니다</div>
        <div class="flotcart"><a href="https://www.larocheposay.co.kr/cart/cart.do"><span class="count">0</span><span class="hide">장바구니 -
              바로가기</span></a></div>
        <div class="flotheart"><a href="https://www.larocheposay.co.kr/myPage/likeList.do"><span class="count">0</span><span class="hide">찜한제품 -
              바로가기</span></a></div>
        <div id="flotprd" class="swiper-container">
          <div class="swiper-wrapper"
            style="width: 168px; height: 79px; transform: translate3d(-56px, 0px, 0px); transition-duration: 0s;">
            
            <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 56px; height: 79px;" id="s0">
              <!-- <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://image.thehyundai.com/static/6/3/2/77/A0/40A0772361_0_600.jpg" alt="리페어 세럼 B5">
              </a> -->
            </div>
            <div class="swiper-slide" style="width: 56px; height: 79px;" id="s1">
              <!-- <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png" alt="리페어 세럼 B5">
              </a> -->
            </div>
            <div class="swiper-slide" style="width: 56px; height: 79px;" id="s2">
              <!-- <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png" alt="리페어 세럼 B5">
              </a> -->
            </div>
            <div class="swiper-slide" style="width: 56px; height: 79px;" id="s3">
              <!-- <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png" alt="리페어 세럼 B5">
              </a> -->
            </div>
            <div class="swiper-slide" style="width: 56px; height: 79px;" id="s4">
              <!-- <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://image.thehyundai.com/static/6/0/5/56/A1/40A1565069_0_600.jpg" alt="리페어 세럼 B5">
              </a> -->
            </div>
            <div class="swiper-slide" style="width: 56px; height: 79px;" id="s5">
              <!-- <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png" alt="리페어 세럼 B5">
              </a> -->
            </div>
            <div class="swiper-slide" style="width: 56px; height: 79px;" id="s6">
              <!-- <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png" alt="리페어 세럼 B5">
              </a> -->
            </div>
            <div class="swiper-slide" style="width: 56px; height: 79px;" id="s7">
              <!-- <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png" alt="리페어 세럼 B5">
              </a> -->
            </div>
            <div class="swiper-slide" style="width: 56px; height: 79px;" id="s8">
              <!-- <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png" alt="리페어 세럼 B5">
              </a> -->
            </div>
            <div class="swiper-slide" style="width: 56px; height: 79px;" id="s9">
              <!-- <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://image.thehyundai.com/static/0/7/9/61/A0/40A0619700_0_600.jpg" alt="리페어 세럼 B5">
              </a> -->
            </div>

          </div>
          <button type="button" class="flotprd-prev" style="z-index:1000;"><span class="hide">이전</span></button>
          <button type="button" class="flotprd-next" style="z-index:1000;"><span class="hide">다음</span></button>
        </div>
        <!-- //swiper-container -->
        <button type="button" class="btn_top" title="상단 이동">top</button>
      </div>
      <div class="price_sidebox" style="display: none;">
        <div class="price_side">
          <span class="hash">
            <a href="">[[${product.productDTO.bname}]]</a>
          </span>
          <span class="tit">
            <strong>[[${product.productDTO.pname}]]</strong>
          </span>
          <div th:if="${!#lists.isEmpty(product.optList)}" class="option">
          	<select style="width: 100%; margin-bottom: 10px;" class="opt2">
          		<option>선택</option>
          		<option th:each="opt : ${product.optList}">[[${opt.optname}]]</option>
          	</select>
          </div>
          <div class="count amount">
            <button type="button">-</button>
            <input type="text" value="1" readonly="" id="orderCnt">
            <button type="button">+</button>
          </div>
          <div class="total">
            <strong>총 구매금액</strong>
            <span class="pricetotal">[[${#numbers.formatInteger(product.productDTO.pprice, 3,'COMMA')}]]<em>원</em></span>
          </div>
          <div class="datail_info_btn">
            <button type="button" class="like" data-value="3596" data-price="48000" data-linename="시카플라스트"
              data-prdtname="리페어 세럼 B5" data-sapcode="MB451200">좋아요</button>
            <span class="instock">
              <button type="button" class="btn_base darkgray cart basket" data-level="N" data-level-name="제한없음"
                data-value="3596" data-price="48000" data-linename="시카플라스트" data-prdtname="리페어 세럼 B5" data-buy-level="N"
                data-mbr-join-ym="202303" data-user-level="MBR001">장바구니</button>
              <button type="button" class="btn_base blue buy nowBuy" data-level="N" data-level-name="제한없음"
                data-value="3596" data-price="48000" data-linename="시카플라스트" data-prdtname="리페어 세럼 B5" data-buy-level="N"
                data-mbr-join-ym="202303" data-user-level="MBR001">구매하기</button>
            </span>
          </div>
        </div>
      </div>
    </section>
    <div th:if="${#authentication.getPrincipal() != null}">
      <input type="hidden" id="mid" th:value="${#authentication.getName()}">
    </div>
    <div th:unless="${#authentication.getPrincipal() != null}">
    </div>
    
    <!-- 비교함에 담기 -->
	  <script>
    function put() {
      const pcode = document.querySelector('.pcode').value;
      const pname = document.querySelector('.tit strong').textContent;
      var brand = document.querySelector('.brand').textContent;
      const price = document.querySelector('.price').textContent.trim();

      const liElement = document.querySelector('.view li:nth-of-type(1)');
      const imglink = liElement.style.backgroundImage.slice(4, -1);
      console.log(imglink);

      const rate = document.querySelector('.c00 em').textContent;
      const review = document.querySelector('.star em a').textContent;
      console.log("review: "+review);
      
      const pVolume = document.querySelector(".table_wrap td:nth-of-type(1)").textContent.trim();
      const ptype = document.querySelector('.table_wrap table tbody tr:nth-child(2) td').textContent.trim();
      const pingredient = document.querySelector('.table_wrap table tbody tr:nth-child(7) td').textContent.trim();

      //const pcode = document.querySelector('.prd-share-info strong').textContent;
      // var brand = $('.prd-shop').find('.brand a').text();
      // const price = document.querySelector('.dis-price').textContent.trim();
      // const imglink = document.querySelector('.cloudzoom').src;
      // const rate = document.querySelector('.prd-review-info span').textContent;
      // const review = document.querySelector('.text-point4').textContent;
      

  
      let arr = JSON.parse(localStorage.getItem("arr")) || []; // null일 경우 빈 배열 생성
  
      if (arr.length >= 10) {
        alert("비교함에는 10개의 상품을 담을 수 있습니다.");
        return false;
      }
  
      if (arr.some(item => item[0] === pcode)) { // 이미 비교함에 추가된 상품인 경우
        alert("이미 비교함에 담긴 상품입니다.");
      } else {
        arr.push([pcode, pname, brand, price, imglink, rate, review, pVolume, ptype, pingredient]); // 상품 정보 저장
        localStorage.setItem("arr", JSON.stringify(arr));
        alert("비교함에 담겼습니다.");
      }

      console.log("비교함에 담음");
      //담았으면 옆에 사이드바에 띄워줘야 함
    }


  </script>

	<script>
	function addCart() {
		console.log('장바구니 담기');
		var pCode = document.querySelector('.pcode').value;
    //옵션 바꾸기
		//var pOption = document.querySelector('input[name="optNm"]').value;
		var pAmount = document.querySelector('input[name="pamount"]').value;
		var mid = document.getElementById('mid').value;
		console.log(mid);
    var pOption = "";

    var pname = document.querySelector('.datail_info_top .tit strong').textContent.trim();
    console.log(pname+" 이름");

    if (!document.querySelector('.option')) {
      pOption = pname;
    }else {
      var selectedOption = $('.datail_info_data .opt option:selected').text();
      console.log(selectedOption);

      // const selectEl = document.querySelector('.opt');  // select 요소 선택
      // const selectedValue = selectEl.options[selectEl.selectedIndex].val;
      if(selectedOption =='선택'){
        console.log("옵션 선택 안함");
        alert('옵션을 선택하세요');
        return;
      }; 
      pOption = selectedOption;
    }
		console.log(pOption);
		
		if (mid !='anonymousUser'){
			var requestData = JSON.stringify({
				pcode : pCode,
				poption : pOption,
			  pamount : pAmount,
			  mid  :mid
		});
		//로그인 여부 확인 
		//중복 상품 확인
		
		console.log(requestData);


		 $.ajax({
			url: '/restcart/addCart',
			type: 'post',
			data: requestData,
			contentType: "application/json",
			success	: function(result){
				console.log("장바구니 success");
				if(result == '0'){
					alert("장바구니에 추가를 하지 못하였습니다.");
				} else if(result == '1'){
					alert("장바구니에 추가되었습니다.");
				} else if(result == '2'){
					alert("이미 장바구니에 담긴 상품으로 수량이 추가되었습니다.");
				} 
			},
			error :function(request, status, error) {
				console.log(error);
			}
		}); 
		}else {
			console.log("로그인 필요");
			alert('장바구니는 로그인이 필요합니다.');
			var loginUrl = "/member/login";
			window.location.href = loginUrl;
		}
		
	}

	</script>
  <script>
    const arr = JSON.parse(localStorage.getItem("arr")) || [];

    if(arr.length == 0) {
      for(let i =1;i<=10;i++) {
			const slide = document.getElementById(`s${i}`);
			slide.innerHTML = '상품을 비교함에 담아보세요';
      } 
    }else {
    
      for(let i=0;i<arr.length;i++) {
			console.log('상품 출력 중 ' + i);
			const slide = document.getElementById(`s${i}`);					
	    const [pcode, pname, brand, price, imglink, rate, review, pVolume, ptype, pingredient] = arr[i];
			console.log("img: "+ imglink);
        slide.innerHTML = `
          <a href="/compare/main">
            <img src=${imglink} alt="${pname}">
          </a>
        `;
      }
      for(let i=arr.length;i<=10;i++) {
			console.log('빈 상품 출력');
			const slide = document.getElementById(`s${i}`);
			slide.innerHTML = `
      <a href="/compare/main">
        <img src="https://image.thehyundai.com/hdmall/images/pd/no_image_480x480.jpg">
      </a>`;
		}
    }

  </script>
  <script>
  $(document).ready(

	        function() {
	            /** ****************** 상세 정보 이벤트 ******************* */
	            // 수량 이벤트
	            $(".amount").find("button").on("click",function() {
	                        var orderCnt = parseInt($('#orderForm').find("input[name=ordCnt]").val()), prdtCnt = parseInt($('#orderForm').find("input[name=prdtCnt]").val()), prdtType = $('#orderForm')
	                                .find("input[name=prdtType]").val();
	                        if ($(this).index() == 0) { // -
	                            if (orderCnt > 1) {
	                                $('#orderForm').find("input[name=ordCnt]").val(orderCnt - 1);
	                            }
	                        } else { // +
	                            if (orderCnt < prdtCnt) {
	                                $('#orderForm').find("input[name=ordCnt]").val(orderCnt + 1);
	                            } else {
	                                if (prdtType == "PT") {
	                                    if (prdtCnt == 0) {
	                                        alert("품절된 제품입니다. 재입고 알림 신청을 하시면, 입고 시 안내드립니다.");
	                                    } else {
	                                        // alert("재고가 부족합니다. " + prdtCnt + "개까지
	                                        // 장바구니에 담을 수 있습니다.");
	                                        // alert("재고가 부족하거나 구매제한수량이 있는
	                                        // 제품입니다.\n"+prdtCnt+"개까지 장바구니에 담을 수
	                                        // 있습니다.");
	                                        alert("구매 제한 수량이 있는 제품입니다.\n최대 " + prdtCnt + "개까지 장바구니에 담을 수 있습니다.");
	                                    }
	                                } else {
	                                    
	                                }
	                            }
	                        }
	                        var count = parseInt($('#orderForm').find("input[name=ordCnt]").val());
	                        $(".amount").find("input[type=text]").val(count);
	                        $('#orderForm').find("input[name=ordCnt]").val(count);
	                        calculation();
	                    });
	            // 상단 상세 및 간단 레이어 팝업 개수 동일화.
	            $(".amount").find("input[type=text]").val(1);

	            // 장바구니 이벤트
	            $(".basket").on("click", function() {
	            	var $this = $(this);
	                var value = $this.data("value");
	                var price = $this.data("price");
	                var lineNm = $this.data("linename");
	                var prdtNm = $this.data("prdtname");
	                var sapCode = $this.data("sapCode");
	                var buyLevel = $this.data("buy-level");
	                var mbrJoinYm = $this.data('mbr-join-ym');
	                var userLevel = $this.data('user-level');
	                var levelName = $this.data('level-name');

	                var today = new Date();
	                var yyyy = today.getFullYear().toString();
	                var mm = (today.getMonth() + 1) < 10 ? "0" + (today.getMonth() + 1) : (today.getMonth() + 1).toString();
	                var todayYm = yyyy + mm;

	                // 회원전용(등급전체) 구매 가능 여부 체크
	                if ('A' == buyLevel) {
	                    var message = '회원만 신청 가능한 제품입니다.\n로그인 후 진행해주세요.';
	                    if (mbrJoinYm == null || mbrJoinYm == '' || mbrJoinYm == 'undefined') {
	                        alert(message);
	                        return;
	                    }
	                }

	                // 신규회원(당월) 구매 가능 여부 체크
	                if ('M' == buyLevel) {
	                    if (todayYm != mbrJoinYm) {
	                        alert(today.getMonth() + 1 + "월 신규회원만 구입 가능한 제품입니다.");
	                        return;
	                    }
	                }

	                // 기존회원(당월이전) 구매 가능 여부 체크
	                if ('L' == buyLevel) {
	                    if (todayYm == mbrJoinYm || (mbrJoinYm == null || mbrJoinYm == '' || mbrJoinYm == 'undefined')) {
	                        alert(today.getMonth() + 1 + "월 이전 가입한 회원만 구입 가능한 제품입니다.");
	                        return;
	                    }
	                }

	                if ('MBR001' == buyLevel || 'MBR002' == buyLevel || 'MBR003' == buyLevel || 'MBR004' == buyLevel || 'MBR005' == buyLevel) {
	                    if (buyLevel != userLevel) {
	                        alert(levelName + ' 등급만 구매하실 수 있는 제품입니다.');
	                        return;
	                    }
	                }
                });
	            // 찜 이벤트
	            $(".like").on("click", function() {
	            	var $this = $(this);
	                var value = $this.data("value");
	                var price = $this.data("price");
	                var lineNm = $this.data("linename");
	                var prdtNm = $this.data("prdtname");
	                var sapCode = $this.data("sapCode");

	                var category = $('#orderForm').find('input[name="fullCateNm"]').val();
	                category = (category ? category.replace(/>/gi, '/') : undefined);

	                if (loginFlag == "") {
	                    if (confirm("로그인이 필요한 서비스입니다. 로그인 하시겠습니까?")) {
	                        location.href = "/member/login.do";
	                        return false;
	                    } else {
	                        return false;
	                    }
	                } else {
	                    var $likeThis = $(this);
	                    PRDT.likeEvent($likeThis.data("value"), function(data) {
	                        if (data.result == "OK") {
	                            setTimeout(function() {
	                                $('.layer_alert_wrap').hide().find('span').hide();
	                            }, 1500);

	                            /* TAS 관련 스크립트 : 장바구니 제품 담기 */
	                            var _tasz = [];
	                            _tasz.push({
	                                productName : lineNm + prdtNm,
	                                productCode : value,
	                                productPrice : price,
	                                sapCode : sapCode
	                            });
	                            LARO.TAS.et("wishlist", _tasz);

	                            var tagItem = new Array(value,prdtNm,price,lineNm,category);

	                            //LARO.TagManager.addToWishlist(tagItem);
	                            LARO.GA4TagManager.addToWishlist(tagItem);

	                            if (data.message != "") {
	                                $('.layer_alert_wrap').css('display', 'block').find('.layer_alert1').css('display', 'block');
	                            } else {
	                                $likeThis.addClass("on");
	                                $('.layer_alert_wrap').css('display', 'block').find('.layer_alert2').css('display', 'block');
	                            }
	                        } else {
	                            alert("처리 도중 데이터 에러가 발생되었습니다.");
	                            console.log(data.message);
	                        }
	                    });
	                }
	            });
            });


      // 계산 출력.
      function calculation() {
          var totalPrice = 0, salePrice = parseInt($('#orderForm').find("input[name=salePrice]").val()), orderCount = parseInt($('#orderForm').find("input[name=ordCnt]").val()), prdtType = $('#orderForm')
                  .find("input[name=prdtType]").val();
          ;
          // 총 구매 금액
          $(".pricetotal").html(comma(salePrice * orderCount) + '<em>' + (prdtType == "PT" ? '원' : 'M') + '</em>');
      }

	// 콤마 처리
	function comma(num) {
	    var len, point, str;

	    num = num + "";
	    point = num.length % 3;
	    len = num.length;

	    str = num.substring(0, point);
	    while (point < len) {
	        if (str != "")
	            str += ",";
	        str += num.substring(point, point + 3);
	        point += 3;
	    }
	    return str;
	}

	// 링크 URL 복사
	function copy_trackback(trb) {
	    var IE = (document.all) ? true : false;
	    if (IE) {
	        if (confirm("Ctrl+C 를 눌러 클립보드로 복사하세요.")) {
	            window.clipboardData.setData("Text", trb);
	        }
	    } else {
	        temp = prompt("Ctrl+C 를 눌러 클립보드로 복사하세요.", trb);
	    }
	}

	// 페이스북
	function shareFacebook() {

	    LARO.GA4TagManager.socialInteraction(location.href);

	    window.open("http://m.facebook.com/sharer/sharer.php?u=" + location.href, "facebook", "width=550,height=500,scrolls=no").focus();
	}

	function submitProductAlarm(prdtSeq) {
	    $.ajax({
	        type : 'post',
	        url : '/product/alarm.do',
	        data : {
	            prdtSeq : prdtSeq
	        },
	        dataType : 'json',
	        success : function (data) {
	            if (data.result == 'OK') {
	                alert('재입고 알림 신청 되었습니다.');

	                var prdtName = $('#orderForm').find('input[name="prdtName"]').val();
	                var prdtSeq = $('#orderForm').find('input[name="prdtSeq"]').val();

	                LARO.GA4TagManager.notifyMe(prdtName, prdtSeq);

	            } else if (data.result == 'STAND') {
	                alert('이미 재입고 알림 신청된 제품입니다.');
	            }
	            $('#alarmCloseBtn').trigger('click');
	        },
	        error : function () {
	            memberLogin();
	        }
	    });
	}
  </script>

    <!-- footer -->
	<div class="include-footer" th:insert="~{include/footer}"></div>
	<!-- /footer -->
  </div>
  <!-- //wrap -->

</body>


</html>