<!DOCTYPE html>
<html lang="ko" class="js" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
<head th:insert="~{include/head}"></head>
	<style>
button.addcart.basket {
	background:
		url(/img/cart.png) !important;
			width: 56px !important;
	height: 56px !important;
	background-size: 56px !important;
}

button.detailview {
	background-image: url(/img/search.png) !important;
	width: 56px !important;
	height: 56px !important;
	background-size: 56px !important;
	background: rgba(0, 0, 0, 0) !important;
	border-radius: 50px !important;
}

.product_wrap .product_list .over button:first-child {
	background-image: url(/img/search.png) !important;
	background-size: 56px !important;
	opacity: 0.85;
}
</style>

  </head>
<body>
  <div id="wrap">
    <nav id="skip_navi">
      <a href="#contents">본문 바로가기</a>
      <a href="#menu">메뉴 바로가기</a>
      <a href="#footer">하단 정보 바로가기</a>
    </nav>
    <!-- header -->
   	<header id="header" th:insert="~{include/header}"></header>
    <!-- /header -->

    <section class="h_link">
      <nav>
        <ol>
          <li><a href="javascript:void(0);" onclick="location.href='/'"><i>HOME</i></a></li>
          <li class="kor">
            <a href="">
            	<i th:if="${#strings.equals(dept1no, '')}">피부타입</i>
            	<i th:if="${#strings.equals(dept1no, '10')}">FACE</i>
            	<i th:if="${#strings.equals(dept1no, '20')}">MAKE UP</i>
            	<i th:if="${#strings.equals(dept1no, '30')}">BODY/HAIR</i>
            </a>
            <ul class="h_link_sub">
              <li class="kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1130'">
                  병원판매화장품</a>
              </li>
            </ul>
          </li>
          <li th:if="${mbti == ''}" class="current kor">
            <a href=""><i th:text="${dept2no == '' ? '전체보기' : dept2name}">중분류</i></a>
            <ul class="h_link_sub">
              <li class="kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1004'">
                  피부 고민별</a>
              </li>
              <li class="on kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1008'">
                  제품 라인별</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1011'">
                  사용 단계별</a>
              </li>
            </ul>
          </li>
          <li th:if="${mbti != ''}" class="current kor">
            <a href=""><i th:text="${mbti}">중분류</i></a>
            <ul class="h_link_sub">
              <li class="kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1004'">
                  피부 고민별</a>
              </li>
              <li class="on kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1008'">
                  제품 라인별</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1011'">
                  사용 단계별</a>
              </li>
            </ul>
          </li>
         
        </ol>
      </nav>
    </section>
    <section id="container">
      <section id="contents">
        <!--  sideLeft Start -->
        <div class="sideleft">
          <h2 th:if="${#strings.equals(dept1no, '')}">피부타입</h2>
          <h2 th:if="${#strings.equals(dept1no, '10')}">FACE</h2>
          <h2 th:if="${#strings.equals(dept1no, '20')}">MAKE UP</h2>
          <h2 th:if="${#strings.equals(dept1no, '30')}">BODY/HAIR</h2>
          <nav>
            <ul class="accordion">
              <li class="open current">
                <span>[[${dept1name}]]</span>
                <ul class="submenu" style="display: block;">
                  <li th:if="${mbti == ''}" th:class="${dept2no == '' ? 'current' : ''}">
                  	<a href="/product/list?dept1=10"><i>전체보기</i></a>
                  </li>
                  <li th:if="${dept1no != ''}" th:each="cate : ${cateList}" th:class="${dept2no == cate.dept2no ? 'current' : ''}" >
                  	<a th:href="'/product/list?dept1='+${dept1no}+'&dept2='+${cate.dept2no}"><i>[[${cate.dept2name}]]</i></a>
                  </li>
                  <li th:if="${dept1no == ''}" th:each="mbtiList : ${mbtiList}" th:class="${mbti == mbtiList.stype ? 'current' : ''}" >
                  	<a th:href="'/product/list?mbti='+${mbtiList.stype}"><i>[[${mbtiList.stype}]]</i></a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <div>
            <h2>FILTER</h2>
            <button type="button" class="init" onclick="filterInit();"><span class="hide">FILTER 선택 초기화</span></button>
          </div>
          <form id="productForm" action="/product/list.do?cate2=1008" method="post"><input id="pageIndex"
              name="pageIndex" type="hidden" value="1"><input id="cate1" name="cate1" type="hidden" value="1001"><input
              id="cate2" name="cate2" type="hidden" value="1008"><input id="cate3" name="cate3" type="hidden"
              value=""><input id="searchStartPrice" name="searchStartPrice" type="hidden" value=""><input
              id="searchEndPrice" name="searchEndPrice" type="hidden" value=""><input id="orderBy" name="orderBy"
              type="hidden" value=""><input type="hidden" value="9" name="RecordCountPerPage">
            <input type="hidden" id="ordCnt" name="ordCnt" data-prdt-type="PT" data-prdt-seq="" value="1">
            <nav>
              <ul class="accordion filter">

                <li class="open">
                  <span class="link">금액대 별</span>
                  <div class="submenu" style="display: block;">
                    <span class="radiocss"><input type="radio" name="price" id="price001" value="1"><label
                        for="price001"><em>20,000원 미만</em></label></span>
                    <span class="radiocss"><input type="radio" name="price" id="price002" value="2"><label
                        for="price002"><em>20,000-30,000원</em></label></span>
                    <span class="radiocss"><input type="radio" name="price" id="price003" value="3"><label
                        for="price003"><em>30,000-50,000원</em></label></span>
                    <span class="radiocss"><input type="radio" name="price" id="price004" value="4"><label
                        for="price004"><em>50,000원 이상</em></label></span>
                  </div>
                </li>
              </ul>
            </nav>
          </form>
        </div>
        <!--  sideLeft End -->
        <!-- mainList Start -->
        <div class="sideconts_warp sp-goal-504-1001-64-1645076803677 sp-goal-504-1000-64-1645076803677">
          <h1 th:if="${dept2no == '' && mbti == ''}">전체</h1>
          <h1 th:if="${dept2no != ''}">[[${dept2name}]]</h1>
          <h1 th:if="${mbti != ''}">[[${mbti}]]</h1>
          <div class="sideconts">

            <section class="product_wrap">
              
              <!-- 신상, 단독구성 -->
              <ul class="product_list ea03" id="listUl">
                <li th:if="${mbti == '' and prod.thumbImgList[0].iloc != null}" class="" th:each="prod : ${productList}"> 
                	<a th:href="'/product/detail?code=' + ${prod.pcode}"> 
                		<img th:if="${prod.thumbImgList[0].iloc != null}" th:src="${prod.thumbImgList[0].iloc} + '_600.jpg'" th:alt="${prod.pname}"> 
                    	<span class="hash_tag">[[${prod.bname}]]</span> 
                    	<span class="tit">[[${prod.pname}]]</span> 
                    	<span class="rating">
                      		<div class="star-rating small"> 
                      			<span th:class="'c'+${#numbers.formatInteger(prod.rates*10, 2)}"><em class="hide">벌점</em></span> 
                      		</div>
                    	</span> 
                    	<span class="price">
                    		<span class="after">[[${#numbers.formatInteger(prod.pprice, 3, 'COMMA')}]]<em>원</em></span> 
                    	</span> 
                   </a>
                  <div class="over"> 
                  <button class="detailview">자세히보기</button> 
                  <button th:data-price="${prod.pprice}" th:data-linename="${prod.pname}" th:data-sapcode="${prod.pcode}"
               		th:data-category="${dept1no}" class="addcart basket">장바구니 담기</button> 
               		</div> 
               		<span class="like" th:data-price="${prod.pprice}" th:data-linename="${prod.pname}" th:data-sapcode="${prod.pcode}" data-category="${dept1no}">
               		<i class="hide">관심제품</i></span>
                </li>
                <li th:if="${mbti != ''}" class="" th:each="prod : ${mbtiProdList}"> 
                	<a th:href="'/product/detail?code=' + ${prod.pcode}"> 
                		<img th:src="${prod.iloc} + '_600.jpg'" th:alt="${prod.pname}"> 
                    	<span class="hash_tag">[[${prod.bname}]]</span> 
                    	<span class="tit">[[${prod.pname}]]</span> 
                    	<span class="rating">
                      		<div class="star-rating small"> 
                      			<span th:class="'c'+${#numbers.formatInteger(prod.rates*10, 2)}"><em class="hide">벌점</em></span> 
                      		</div>
                    	</span> 
                    	<span class="price">
                    		<span class="after">[[${#numbers.formatInteger(prod.pprice, 3, 'COMMA')}]]<em>원</em></span> 
                    	</span> 
                   </a>
                  <div class="over"> 
                  <button class="detailview">자세히보기</button> 
                  <button th:data-price="${prod.pprice}" th:data-linename="${prod.pname}" th:data-sapcode="${prod.pcode}"
               		th:data-category="${dept1no}" class="addcart basket">장바구니 담기</button> 
               		</div> 
               		<span class="like" th:data-price="${prod.pprice}" th:data-linename="${prod.pname}" th:data-sapcode="${prod.pcode}" data-category="${dept1no}">
               		<i class="hide">관심제품</i></span>
                </li>
              </ul>
            </section>
          </div>
          <!-- //sideconts -->
        </div>
        <!-- mainList End -->
      </section>
    </section>
    <!-- right 제품구매 플로팅 -->
    <section class="flot_right_warp" th:insert="~{include/float}"></section>
    </div>
    <!-- footer -->
	<div class="include-footer" th:insert="~{include/footer}"></div>
	<!-- /footer -->
</body>
</html>