<!DOCTYPE html>
<html lang="ko">
<head>
<title>The Hyundai Beauty - 더현대뷰티</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" href="/include/css/reset.css">
<link rel="stylesheet" href="/include/css/style.css">
<link rel="stylesheet" href="/include/css/swiper.min.css">
<link rel="stylesheet" type="text/css"
	href="https://www.tamburins.com/theme/tam/css/index.php?ver=1680007209">
<link rel="stylesheet"
	href="https://www.tamburins.com/src/assets/scss/main.min.css?ver=1680007209">
<link rel="stylesheet"
	href="https://www.tamburins.com/theme/tam/css/lib/choices.min.css">
<script type="text/javascript" async=""
	src="https://www.google-analytics.com/analytics.js"></script>
<script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-N2P448C"></script>
<script src="/include/js/lib/jquery.min.js"></script>
<script src="/include/js/lib/TweenMax.min.js"></script>
<script src="/include/js/lib/swiper.min.js"></script>
<script src="/include/js/ui.js"></script>
<script src="/include/js/lib/jquery.form.min.js"></script>
<script src="/include/js/lib/jquery.validate.min.js"></script>
<script src="/include/js/lib/vue.min.js"></script>
<script src="/include/js/lib/jquery.cookie.js"></script>
<script src="/include/js/lib/moment.min.js"></script>
<script src="/include/js/lib/moment-timezone-with-data.min.js"></script>
<script src="/include/js/hanbang/app.js"></script>
</head>
<body>

	<div id="wrap">
		<!-- header -->
		<div th:insert="~{include/header}"></div>
		<!-- /header -->

		<div id="container" class="prd_list ctgryVue">
			<div class="top_vis"
				style="background-image: url(&quot;/img/faf8c338-a7f5-4efe-a71c-984e1e694c79.jpg&quot;);">
				<div class="inner">
					<div class="text_wrap">
						<h4>Toners</h4>
						<p></p>
					</div>
				</div>
			</div>
			<main id="main">
				<!-- 상품 목록 시작 { -->
				<div id="sct">
					<div id="product">
						<!-- Category -->
						<div class="category jsCateWrap">
							<input type="hidden" dataset="test ca_id" value="20">
							<div
								class="category__container jsCategory swiper-on swiper-container-initialized swiper-container-horizontal swiper-container-free-mode">
								<ul class="category__list inline text-center swiper-wrapper"
									style="transform: translate3d(0px, 0px, 0px);">
									<!-- <li class="category__item relative  ">
              <a href="" class="category__link">
                  <span class="category__thumbnail">
                      <img src="  " alt="" class="category__img">
                  </span>
                  <span class="category__name font-- font--11 font--bd">
                                          </span>
              </a>
          </li> -->
									<li
										class="category__item relative swiper-slide swiper-slide-active">
										<a href="https://www.tamburins.com/shop/list.php?ca_id=20"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/data/item/category/category_viewall.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												전체보기
										</span>
									</a>
									</li>
									<li
										class="category__item relative swiper-slide current swiper-slide-next">
										<a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2010"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/data/item/category/category_bestseller.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												베스트셀러
										</span>
									</a>
									</li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2016"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/category/ctgry_bloomingcandle.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												향 오브젝트
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2095"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/img/renew_dummy/category/ctgry_balm.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												퍼퓸 밤
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2094"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/img/renew_dummy/category/ctgry_perfume.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												퍼퓸
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2092"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/data/item/category/category_shwry.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												샤워리바디
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2018"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/data/item/category/category_OAcandle.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												올팩티브 캔들
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2020"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/img/renew_dummy/category/ctgry_shellX.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												퍼퓸 핸드
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2017"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/data/item/category/category_tube-hand.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												튜브 핸드
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2050"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/data/item/category/category_handbody.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												핸드앤바디
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2030"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/data/item/category/category_chain-hand.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												체인 핸드
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2040"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/data/item/category/category_sanitizer.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												손 소독제
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2080"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/data/item/category/category_giftset.png?img1=12"
												alt="" class="category__img" title="">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												선물 추천
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2070"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/data/item/category/category_sample-kit.png?img1=12"
												alt="" class="category__img">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												샘플 키트
										</span>
									</a></li>
									<li class="category__item relative swiper-slide"><a
										href="https://www.tamburins.com/shop/list.php?ca_id=20&amp;sub_ca_id=2015"
										class="category__link"> <span class="category__thumbnail">
												<img
												src="https://www.tamburins.com/data/item/category/category_multi-fragrance.png?img1=12"
												alt="" class="category__img">
										</span> <!-- 2021-01-22 카테고리 라벨 --> <span
											class="category__name font--kr "> <!-- 2021-01-22 카테고리 라벨 -->
												멀티프래그런스
										</span>
									</a></li>
								</ul>
								<span class="swiper-notification" aria-live="assertive"
									aria-atomic="true"></span><span class="swiper-notification"
									aria-live="assertive" aria-atomic="true"></span>
							</div>
							<div class="catg__swiper swiper-button-next" tabindex="0"
								role="button" aria-label="Next slide" aria-disabled="false"
								style="display: block;"></div>
							<div
								class="catg__swiper swiper-button-prev swiper-button-disabled"
								tabindex="0" role="button" aria-label="Previous slide"
								aria-disabled="true" style="display: block;"></div>
						</div>
						<!--// Category -->
						<!-- Title & Filter -->
						<div class="content-top-dummy jsContDummy hide">
							<div class="content-top">
								<div class="content-top-box page-inner">
									<div class="list-title font--kr">
										<strong> <!-- 전체보기 예외 처리 --> 베스트셀러
										</strong> <span class="JsCountCheck item_count">(21)</span>
									</div>
								</div>
							</div>
						</div>
						<!--// Title & Filter -->
						<!-- product list -->
						<!-- 카테고리별 리스트 S -->
						<div class="prd-list prd-list__sub">
							<div class="prd-list__inner page-inner">
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1662465136]" value="1662465136"
										content="1662465136">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1662465136">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662465136/PLP_perfume_DISCOVERYSET.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662465136/1663142431_7948_PLP_perfume_DISCOVERYSET.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">퍼퓸의 10가지 향</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 디스커버리 세트</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 42,000 원 </span> <span
													class="item-spec__brief">2mL*10ea</span>
											</div>
											<span class="item-size">+<strong>1</strong> Size
											</span>
										</div> <!-- 상품 name E -->
									</a>
								</div>
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1666772156]" value="1666772156"
										content="1666772156">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1666772156">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666772156/PLP_balm_6g_chamo.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666772156/1667896848_4078_PLP_balm_6g_chamo.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">진득한 카모마일 | 부드러운 나무결 | 머스크</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 밤 카모</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 46,500 원 </span> <span
													class="item-spec__brief">6.5g</span>
											</div>
											<span class="item-size">+<strong>1</strong> Size
											</span>
										</div> <!-- 상품 name E -->
									</a>
								</div>
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1662462491]" value="1662462491"
										content="1662462491">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1662462491">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662462491/PLP_perfume_chamo_10ml.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662462491/1663141064_8736_PLP_perfume_chamo_10ml.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">진득한 카모마일 | 부드러운 나무결 | 머스크</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 카모</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 36,500 원 </span> <span
													class="item-spec__brief">10mL</span>
											</div>
											<span class="item-size">+<strong>3</strong> Sizes
											</span>
										</div> <!-- 상품 name E -->
									</a>
								</div>
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1666763525]" value="1666763525"
										content="1666763525">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1666763525">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666763525/PLP_shellX_30ml_chamo.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666763525/1666931050_6013_PLP_shellX_30ml_chamo.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">진득한 카모마일 | 부드러운 나무결 | 머스크</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 쉘 엑스 카모</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 32,000 원 </span> <span
													class="item-spec__brief">30mL</span>
											</div>
											<span class="item-size">+<strong>1</strong> Size
											</span>
										</div> <!-- 상품 name E -->
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- } 상품 목록 끝 -->
			</main>

		</div>

		<!-- footer -->
		<div th:insert="~{include/footer}"></div>
		<!-- /footer -->
	</div>
	<div class="dim"></div>
</body>
</html>