<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hyundai.higher.mapper.category.CategoryMapper">
	
	<!-- 카테고리-중분류 전체 목록 -->
	<select id="cateListAll">
		SELECT dept2name, dept2no, dept1no
		FROM category_dept2
		WHERE dept1no = #{dept1no}
	</select>

	<!-- mbti 전체 목록 -->
	<select id="mbtiCateListAll">
		SELECT stype
		FROM skinmbti
	</select>

	<!-- 브랜드 전체 목록 -->
	<select id="brandCateListAll">
		SELECT b.bno, b.bname
		FROM (
		    SELECT UNIQUE(bno) AS bno
		    FROM product
		    WHERE dept1no = #{dept1no}) p
		JOIN BRAND b ON p.bno=b.bno
		ORDER BY bname
	</select>
	
</mapper>