#search-list{
	display: none;
	width: 558.4px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #fff;
    position: absolute;
    left: 145px;
    z-index: 999;
}

#search-list li{
	padding: 12px 17px;
}

#search-list li:first-child{
	margin-top: 10px;
}

#search-list li:last-child{
	margin-bottom: 10px;
}

#search-list li:hover{
	background-color: #e9e9e9;
	cursor: pointer;
}