<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1.0">
<title>더현대닷컴 - 현대백화점 공식 온라인몰</title>
<meta name="description"
	content="현대백화점, 현대백화점 공식 온라인몰. 의류, 화장품, 잡화, 가전 등 판매">
<link rel="shortcut icon" href="https://www.thehyundai.com/favicon.ico">
<link rel="stylesheet" type="text/css"
	href="https://image.thehyundai.com/pc/cssssl/co.css?ver=11">
<link rel="stylesheet" media="screen"
	href="https://image.thehyundai.com/pc/cssssl/main_new.css?ver=20230206">
<link rel="stylesheet"
	href="https://image.thehyundai.com/pc/cssssl/dp.css">
<link rel="stylesheet"
	href="https://image.thehyundai.com/pc/cssssl/font.css">
<link rel="stylesheet"
	href="https://image.thehyundai.com/pc/cssssl/animate.min.css">
<link rel="stylesheet"
	href="https://image.thehyundai.com/pc/cssssl/swiper.min.css">
<link rel="stylesheet"
	href="https://image.thehyundai.com/pc/cssssl/swiper-8.4.5.min.css">
<link rel="stylesheet" href="/skinMBTI/css/default.css">
<link rel="stylesheet" href="/skinMBTI/css/main.css">
<link rel="stylesheet" href="/skinMBTI/css/qna.css">
<link rel="stylesheet" href="/skinMBTI/css/animation.css">
<link rel="stylesheet" href="/skinMBTI/css/result.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Source+Serif+Pro&display=swap"
	rel="stylesheet">
<script src="/js/header.js"></script>
<script src="http://sgip.kcii.re.kr/third/jquery/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-ui.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-migrate.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/plugin.js"></script>
<script src="https://image.thehyundai.com/pc/js/swiper-5.4.5.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/swiper-8.4.5.min.js"></script>
<script
	src="https://image.thehyundai.com/pc/js/hdmall/co/jquery.form.js"></script>
<script src="https://image.thehyundai.com/pc/js/hdmall/co/default.js"></script>
<script src="https://image.thehyundai.com/pc/js/hdmall/co/common.js"></script>
<script src="https://image.thehyundai.com/pc/js/common.js"></script>
<script src="https://image.thehyundai.com/pc/js/sso/SsoHttpRequest.js"></script>
<script src="https://image.thehyundai.com/pc/js/sso/SsoAjax.js"></script>
<script
	src="https://image.thehyundai.com/pc/js/hdmall/dp/main_data_new_tmpl.js?ver=20230206"></script>
<script src="https://image.thehyundai.com/pc/js/main_util.js"></script>
<style>
.top-nav-area2 {
	width: 100%;
	padding-bottom: 19px;
	border-bottom: 1px solid #bababa !important;
}
</style>
</head>
<body>
	<!-- wrap -->
	<div id="wrap" class="sub">
		<!------ header ------>
		<div th:insert="~{include/sub-header}"></div>
		<!------ //header ------>
		<!-- container -->
		<div id="container">
			<div id="content-wrap">
				<section id="main">
					<img id="main-img" src="/skinMBTI/img/skinMBTI-main.png">
					<div id="btn-wrap">
						<button type="button" id="start-btn" onclick="js:begin()">START
							NOW</button>
					</div>
				</section>
				<section id="qna">
					<h2 class="mbti-logo">
						<img src="/skinMBTI/img/mbti-logo.png">
					</h2>

					<div id="qna-wrap">
						<div id="qna-content-wrap">
							<div id="progress-wrap">
								<ul>
									<li class="prog-box" id="chapter1">
										<div class="prog-dept1 prog-num">1</div>
										<div class="prog-dept1">
											<div class="prog-kor">유수분도</div>
											<div class="prog-eng">Oily or Dry</div>
										</div>
									</li>
									<li>
										<div class="survey__chapter__arrow">
											<img style="width: 14px; height: 24px;"
												src="/skinMBTI/img/arrow.png">
										</div>
									</li>
									<li class="prog-box" id="chapter2">
										<div class="prog-dept1 prog-num">2</div>
										<div class="prog-dept1">
											<div class="prog-kor">민감도</div>
											<div class="prog-eng">Sensitive or Resistant</div>
										</div>
									</li>
									<li>
										<div class="survey__chapter__arrow">
											<img style="width: 14px; height: 24px;"
												src="/skinMBTI/img/arrow.png">
										</div>
									</li>
									<li class="prog-box" id="chapter3">
										<div class="prog-dept1 prog-num">3</div>
										<div class="prog-dept1">
											<div class="prog-kor">색소 침착도</div>
											<div class="prog-eng">Pigment or Non-Pigment</div>
										</div>
									</li>
									<li>
										<div class="survey__chapter__arrow">
											<img style="width: 14px; height: 24px;"
												src="/skinMBTI/img/arrow.png">
										</div>
									</li>
									<li class="prog-box" id="chapter4">
										<div class="prog-dept1 prog-num">4</div>
										<div class="prog-dept1">
											<div class="prog-kor">주름 형성도</div>
											<div class="prog-eng">Wrinkle or Tight</div>
										</div>
									</li>
									<li>
										<div class="survey__chapter__arrow">
											<img style="width: 14px; height: 24px;"
												src="/skinMBTI/img/arrow.png">
										</div>
									</li>
									<li class="prog-box">
										<div class="prog-dept1 prog-num">5</div>
										<div class="prog-dept1">
											<div class="prog-kor">측정 결과</div>
											<div class="prog-eng">Result</div>
										</div>
									</li>
								</ul>
							</div>
							<div id="camera-box">
								<div>
									<video id="cameraview"></video>
								</div>
							</div>
							<div class="" id="surveyList">
								<div>
									<div id="listfrm" class="survey__form">
										<div class="question__all">
											<div id="part1" class="question__slider">
												<div class="part_chk" id="part1_1">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 1-1</div>
														</div>
														<div>
															<h3 class="q-box">얼굴을 가까이 봤을 때 모공 수가 많고 크기가 커보이나요?</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_1_1"
																	name="1" value="1, 전혀 그렇지 않아요 , A1"> <label
																	for="1_1_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-1/1-1-1.png);"></div>
																	<span>전혀 그렇지 않아요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_1_2"
																	name="1" value="2, 얼굴의 일부에만 작게 보여요 , A1"> <label
																	for="1_1_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-1/1-1-2.png);"></div>
																	<span>얼굴의 일부에만 작게 보여요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_1_3"
																	name="1" value="3, 곳곳에 꽤 도드라져 보여요 , A1"> <label
																	for="1_1_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-1/1-1-3.png);"></div>
																	<span>곳곳에 꽤 도드라져 보여요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_1_4"
																	name="1" value="4, 얼굴 전체에 큰 모공이 많아요 , A1"> <label
																	for="1_1_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-1/1-1-4.png);"></div>
																	<span>얼굴 전체에 큰 모공이 많아요</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="part_chk" id="part1_2">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 1-2</div>
														</div>
														<div>
															<h3 class="q-box">외출 후 반나절이 지나면 피부가 번들거리나요?</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_2_1"
																	name="2" value="1, 외출 전보다 윤기가 없어요 , A2"> <label
																	for="1_2_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-2/1-2-1.png);"></div>
																	<span>외출 전보다 윤기가 없어요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_2_2"
																	name="2" value="2, 외출 전화 변함이 없어요 , A2"> <label
																	for="1_2_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-2/1-2-2.png);"></div>
																	<span>외출 전화 변함이 없어요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_2_3"
																	name="2" value="3, 약간 번들거리고 윤기가 있어요 , A2"> <label
																	for="1_2_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-2/1-2-3.png);"></div>
																	<span>약간 번들거리고 윤기가 있어요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_2_4"
																	name="2" value="4, 많이 번들거리고 기름져요 , A2"> <label
																	for="1_2_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-2/1-2-4.png);"></div>
																	<span>많이 번들거리고 기름져요</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="part_chk" id="part1_3">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 1-3</div>
														</div>
														<div>
															<h3 class="q-box">평소 얼굴에 건조함이 느껴지는 부위는 어디인가요?</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_3_1"
																	name="3" value="1, 없어요 , A3"> <label
																	for="1_3_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-3/1-3-1.png);"></div>
																	<span>없어요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_3_2"
																	name="3" value="2, U존 일부(볼 혹은 턱) , A3"> <label
																	for="1_3_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-3/1-3-2.png);"></div>
																	<span>U존 일부(볼 혹은 턱)</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_3_3"
																	name="3" value="3, U존 전체(볼과 턱) , A3"> <label
																	for="1_3_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-3/1-3-3.png);"></div>
																	<span>U존 전체(볼과 턱)</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="1_3_4"
																	name="3" value="4, 얼굴 전체 , A3"> <label
																	for="1_3_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/1-3/1-3-4.png);"></div>
																	<span>얼굴 전체</span>
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="part2" class="question__slider">
												<div class="part_chk" id="part2_1">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 2-1</div>
														</div>
														<div>
															<h3 class="q-box">최근 2주 사이에 생긴 여드름이 얼마나 있었나요?</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_1_1"
																	name="4" value="1, 없었어요 , B1"> <label
																	for="2_1_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-1/2-1-1.png);"></div>
																	<span>없었어요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_1_2"
																	name="4" value="2, 약간 있었어요(1~3개) , B1"> <label
																	for="2_1_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-1/2-1-2.png);"></div>
																	<span>약간 있었어요(1~3개)</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_1_3"
																	name="4" value="3, 꽤 있었어요(4~6개) , B1"> <label
																	for="2_1_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-1/2-1-3.png);"></div>
																	<span>꽤 있었어요(4~6개)</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_1_4"
																	name="4" value="4, 많았어요(7개 이상) , B1"> <label
																	for="2_1_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-1/2-1-4.png);"></div>
																	<span>많았어요(7개 이상)</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="part_chk" id="part2_2">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 2-2</div>
														</div>
														<div>
															<h3 class="q-box">여드름이 생기면 주로 어떤 상태인가요?</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_2_1"
																	name="5" value="1, 생기지 않아요 , B2"> <label
																	for="2_2_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-2/2-2-1.png);"></div>
																	<span>생기지 않아요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_2_2"
																	name="5" value="2, 하얀 피지가 깔끔하게 나와요 , B2"> <label
																	for="2_2_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-2/2-2-2.png);"></div>
																	<span>하얀 피지가 깔끔하게 나와요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_2_3"
																	name="5" value="3, 피고름이 약간 나오고 끈적해요 , B2"> <label
																	for="2_2_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-2/2-2-3.png);"></div>
																	<span>피고름이 약간 나오고 끈적해요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_2_4"
																	name="5" value="4, 크게 곪고 통증이 심해요 , B2"> <label
																	for="2_2_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-2/2-2-4.png);"></div>
																	<span>크게 곪고 통증이 심해요</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="part_chk" id="part2_3">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 2-3</div>
														</div>
														<div>
															<h3 class="q-box">세안 직후 얼굴에 홍조나 붉은 기가 보이나요?</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_3_1"
																	name="6" value="1, 전혀 안 보여요 , B3"> <label
																	for="2_3_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-3/2-3-1.png);"></div>
																	<span>전혀 안 보여요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_3_2"
																	name="6" value="2, 지금은 없지만 가끔 보여요 , B3"> <label
																	for="2_3_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-3/2-3-2.png);"></div>
																	<span>지금은 없지만 가끔 보여요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_3_3"
																	name="6" value="3, 부분적으로 붉게 보여요 , B3"> <label
																	for="2_3_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-3/2-3-3.png);"></div>
																	<span>부분적으로 붉게 보여요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="2_3_4"
																	name="6" value="4, 전체적으로 붉게 보여요 , B3"> <label
																	for="2_3_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/2-3/2-3-4.png);"></div>
																	<span>전체적으로 붉게 보여요</span>
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="part3" class="question__slider">
												<div class="part_chk" id="part3_1">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 3-1</div>
														</div>
														<div>
															<h3 class="q-box">얼굴에 주근깨, 잡티, 기미가 두드러지게 보이나요?</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_1_1"
																	name="7" value="1, 전혀 안 보여요 , C1"> <label
																	for="3_1_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-1/3-1-1.png);"></div>
																	<span>전혀 안 보여요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_1_2"
																	name="7" value="2, 거의 안 보여요 , C1"> <label
																	for="3_1_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-1/3-1-2.png);"></div>
																	<span>거의 안 보여요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_1_3"
																	name="7" value="3, 약간 눈에 띄어요 , C1"> <label
																	for="3_1_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-1/3-1-3.png);"></div>
																	<span>약간 눈에 띄어요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_1_4"
																	name="7" value="4, 곳곳에 많이 보여요 , C1"> <label
																	for="3_1_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-1/3-1-4.png);"></div>
																	<span>곳곳에 많이 보여요</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="part_chk" id="part3_2">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 3-2</div>
														</div>
														<div>
															<h3 class="q-box">하루 중 몇 시간 정도 강한 햇빛에 노출되나요?</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_2_1"
																	name="8" value="1, 노출되지 않아요 , C2"> <label
																	for="3_2_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-2/3-2-1.png);"></div>
																	<span>노출되지 않아요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_2_2"
																	name="8" value="2, 1시간 이내로 노출돼요 , C2"> <label
																	for="3_2_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-2/3-2-2.png);"></div>
																	<span>1시간 이내로 노출돼요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_2_3"
																	name="8" value="3, 1~2시간 이상 노출돼요 , C2"> <label
																	for="3_2_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-2/3-2-3.png);"></div>
																	<span>1~2시간 이상 노출돼요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_2_4"
																	name="8" value="4, 반나절 이상 노출돼요 , C2"> <label
																	for="3_2_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-2/3-2-4.png);"></div>
																	<span>반나절 이상 노출돼요</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="part_chk" id="part3_3">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 3-3</div>
														</div>
														<div>
															<h3 class="q-box">여드름이나 트러블이 생겼던 곳에 흔적이 남아있나요?</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_3_1"
																	name="9" value="1, 흔적이 남지 않아요 , C3"> <label
																	for="3_3_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-3/3-3-1.png);"></div>
																	<span>흔적이 남지 않아요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_3_2"
																	name="9" value="2, 연하게 흔적이 남지만 금방 사라져요 , C3"> <label
																	for="3_3_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-3/3-3-2.png);"></div>
																	<span>연하게 흔적이 남지만 금방 사라져요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_3_3"
																	name="9" value="3, 진한 흔적이 며칠간 지속돼요 , C3"> <label
																	for="3_3_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-3/3-3-3.png);"></div>
																	<span>진한 흔적이 며칠간 지속돼요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="3_3_4"
																	name="9" value="4, 매우 진한 흔적이 일주일 넘게 지속돼요 , C3">
																<label for="3_3_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/3-3/3-3-4.png);"></div>
																	<span>매우 진한 흔적이 일주일 넘게 지속돼요</span>
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="part4" class="question__slider">
												<div class="part_chk" id="part4_1">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 4-1</div>
														</div>
														<div>
															<h3 class="q-box">입을 다물고 살짝 미소 지어보세요. 입 주변에 팔자주름이
																생기나요?</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_1_1"
																	name="10" value="1, 전혀 생기지 않아요 , D1"> <label
																	for="4_1_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-1/4-1-1.png);"></div>
																	<span>전혀 생기지 않아요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_1_2"
																	name="10" value="2, 미소 지을 때만 약간 생겨요 , D1"> <label
																	for="4_1_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-1/4-1-2.png);"></div>
																	<span>미소 지을 때만 약간 생겨요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_1_3"
																	name="10" value="3, 미소 지을 때 진하게 생겨요 , D1"> <label
																	for="4_1_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-1/4-1-3.png);"></div>
																	<span>미소 지을 때 진하게 생겨요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_1_4"
																	name="10" value="4, 미소 짓지 않아도 생겨요 , D1"> <label
																	for="4_1_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-1/4-1-4.png);"></div>
																	<span>미소 짓지 않아도 생겨요</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="part_chk" id="part4_2">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 4-2</div>
														</div>
														<div>
															<h3 class="q-box">주름의 깊이가 어떤가요? 선이 굵고 뚜렷한지, 얇고 여러
																겹인지 봐주세요.</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_2_1"
																	name="11" value="1, 주름이 없어요 , D2"> <label
																	for="4_2_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-2/4-2-1.png);"></div>
																	<span>주름이 없어요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_2_2"
																	name="11" value="2, 잔주름이에요 , D2"> <label
																	for="4_2_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-2/4-2-2.png);"></div>
																	<span>잔주름이에요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_2_3"
																	name="11" value="3, 깊은 주름이에요 , D2"> <label
																	for="4_2_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-2/4-2-3.png);"></div>
																	<span>깊은 주름이에요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_2_4"
																	name="11" value="4, 잔주름과 깊은 주름 다 있어요 , D2"> <label
																	for="4_2_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-2/4-2-4.png);"></div>
																	<span>잔주름과 깊은 주름 다 있어요</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="part_chk" id="part4_3">
													<div class="survey__container">
														<div class="qna-num-box">
															<div>Question 4-3</div>
														</div>
														<div>
															<h3 class="q-box">평소 과일이나 채소를 얼마나 자주 먹나요?</h3>
														</div>
														<div class="survey__radio">
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_3_1"
																	name="12" value="1, 하루에 세 번은 먹어요 , D3"> <label
																	for="4_3_1">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-3/4-3-1.png);"></div>
																	<span>하루에 세 번은 먹어요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_3_2"
																	name="12" value="2, 하루에 한 번은 먹어요 , D3"> <label
																	for="4_3_2">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-3/4-3-2.png);"></div>
																	<span>하루에 한 번은 먹어요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_3_3"
																	name="12" value="3, 어쩌다 가끔 먹어요 , D3"> <label
																	for="4_3_3">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-3/4-3-3.png);"></div>
																	<span>어쩌다 가끔 먹어요</span>
																</label>
															</div>
															<div class="survey__radio__answer4">
																<input style="display: none;" type="radio" id="4_3_4"
																	name="12" value="4, 전혀 안 먹어요 , D3"> <label
																	for="4_3_4">
																	<div
																		style="background: center/contain no-repeat url(/skinMBTI/img/4-3/4-3-4.png);"></div>
																	<span>전혀 안 먹어요</span>
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="btnBox" class="text-right" style="margin-right: 100px;">

									<button class="survey__btn" id="finish"
										onclick="resultSurvey.surveyFinish()" style="display: none;">정보입력</button>
								</div>
							</div>
							<div class="dir-wrap">
								<button class="survey__btn prev" id="prev" onclick="move('prev')">이전</button>
								<button class="survey__btn next" id="next" onclick="move('next')">다음</button>
							</div>
						</div>

					</div>
			
			</section>
			<script src="/skinMBTI/js/video.js"></script>
			<script>
				mainInit();
			</script>
			<script src="/skinMBTI/js/data.js" charset="UTF-8"></script>
			<script src="/skinMBTI/js/start.js" charset="UTF-8"></script>
			<script src="/skinMBTI/js/share.js" charset="UTF-8"></script>
			<script src="/skinMBTI/js/qna.js"></script>

		</div>

	</div>
	<!-- //container -->
	<!------ footer ------>
	<div th:insert="~{include/footer}"></div>
	<!------ //footer ------>
	</div>
</body>
</html>