<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<head th:insert="~{include/head}"></head>
<link rel="stylesheet" type="text/css" href="/review/css/form.css">
<script src="/review/js/form.js" charset="UTF-8"></script>
</head>
<body>

  <div id="wrap">

    <nav id="skip_navi">
      <a href="#contents">본문 바로가기</a>
      <a href="#menu">메뉴 바로가기</a>
      <a href="#footer">하단 정보 바로가기</a>
    </nav>

    <!-- header -->
   	<header id="header" th:insert="~{include/header}"></header>
    <!-- /header -->

    <section class="h_link">
      <nav>
        <ol>
          <li><a href="javascript:void(0);" onclick="location.href='/'"><i>HOME</i></a></li>
          <li class="current kor"><a href="javascript:void(0);"
              onclick="location.href='/review/list'"><i>리얼리뷰</i></a></li>
        </ol>
      </nav>
    </section>

    <section class="sub_visual_warp">
		<div class="sub_visual">
				<img src="/skinMBTI/img/skinMBTI-banner3.jpg"
					style="width: 100%; height: 210px;">
				<div class="sub_visual" style="top: -210px;">
					<h1>
						<i style="font-family: 'locator-medium';">REAL REVIEW</i>
					</h1>
					<h2>
						더현대뷰티 제품 사용 후 남겨준 리얼 생생 후기
					</h2>
				</div>
			</div>
    </section>

    <section id="container">

      <section id="contents">
        <form id="reviewForm" name="reviewForm" method="post" action="/review/write.do" enctype="multipart/form-data">
          <input type="hidden" name="pcode" id="pcode" value="">
          <input type="hidden" name="oid" id="oid" value="">   
          <input type="hidden" name="rrate" id="rrate" value="">
          
          <div class="review_warp">
            <div class="review_write">
              <div class="review_write_top">
                <dlv class="left">
                  <div class="empty">
                    <span class="pimg" style="float: left;"> <img src="https://www.larocheposay.co.kr/images/common/bg_reivew.png"
                        alt=""></span> 
                        <span class="txt" id="reviewText" style="display: none; ">리뷰를 작성하실 제품을 선택해주세요</span>
                    	<div id="select-prod" style="display: none;">
	                    	<div style="float: left; width: 500px;">
		                    	<div id="select-brand">브랜드</div>
		                    	<div class="ptit"></div>
		                    	<div id="select-price"><em></em>원</div>
	                    	</div>
	                    	<div id="select-odate"><em>주문일자 </em><i></i></div>
                    	</div>
                    	
                  </div>
                </dlv>
                <dlv class="right" style="width:auto;">
                  <div class="btn_wrap side">
                    <a href="#my_product" onclick="Toolpop(event, $(this) ); return false;" class="btn_base blue">내가 산
                      제품</a>
                  </div>
                </dlv>
              </div>
              <div class="review_write_conts">
                <ul class="guide">
                  <li>리뷰는 <strong>회원 및 구매한 제품에 한해 작성 가능</strong>하며, 작성기간은 구매확정일로부터 90일 간입니다.</li>
                  <li>주문번호 별 <strong>구매한 제품 당 리뷰 1개</strong> 작성 가능합니다.</li>
                  <li><strong>포토리뷰 500M, 한줄리뷰 50M </strong>마일리지 적립되며, <strong>첫 리뷰 등록 시 더블 마일리지 적립</strong>해 드립니다.</li>
                  <li>작성해 주신 리뷰는 등록 즉시 <strong>전체 공개</strong>됩니다. (등록 후 수정 가능, <strong>삭제 불가능</strong>)</li>
                  <li>취소/교환/반품 확정 시, <strong>해당 제품 리뷰 삭제 및 적립된 마일리지 회수</strong>됩니다.</li>
                  <li>해당 제품과 <strong>일치하지 않거나, 각 리뷰 별 중복되는 문구를 올리는 경우</strong> 사전고지 없이 리뷰 삭제 및 적립된 마일리지 회수됩니다.</li>
                  <li>회원님이 등록한 게시물 및 게시된 리뷰의 저작권, 2차적 저작물 작성권(발췌, 활용 등)등의 지식재산권은 더현대뷰티에 귀속되며, 모두 <strong>향후 본 웹사이트 및 회사가
                      직접 운영하는 마케팅 홍보활동 등을 위하여 사용될 수 있음에 동의합니다</strong>.</li>
                </ul>
                <div class="border_warp">
                  <div class="border_conts">
                    <ul class="write">

                      <li>
                        <span><label for="star1">별점</label><em class="required">필수입력사항</em></span>
                        <span class="valign_middle">
                          <fieldset class="star_rating">
                            <input type="radio" id="star5" name="rating" value="5">
                            <label for="star5">5스타</label>
                            <input type="radio" id="star4" name="rating" value="4">
                            <label for="star4">4스타</label>
                            <input type="radio" id="star3" name="rating" value="3">
                            <label for="star3">3스타</label>
                            <input type="radio" id="star2" name="rating" value="2">
                            <label for="star2">2스타</label>
                            <input type="radio" id="star1" name="rating" value="1">
                            <label for="star1">1스타</label>
                          </fieldset>
                        </span>
                      </li>
                      <li>
                        <span><label for="title">제목</label><em class="required">필수입력사항</em></span>
                        <span>
                        <input type="text" name="rtitle" value="" id="rtitle" placeholder="최대 50자 이내로 작성해 주세요. (필수)" maxlneght="50"></span>
                      </li>
                      <li>
                        <span><label for="story">내용</label><em class="required">필수입력사항</em></span>
                        <span>
                          <div class="textarea">
                            <textarea cols="" name="rcontent" rows="" id="rcontent" maxlength="2000" style="height: 218px;"
                              placeholder="최소 20자 이상 작성해 주세요. (필수)

사용하신 제품의 자세한 리뷰(좋았던 사용감, 나만의 사용법, 이 제품에 대해 도움이 되는 정보 등)를 작성해 주세요."></textarea>
                            <em class="count">0/2000</em>
                          </div>
                        </span>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="border_btn">
              <div class="btn_wrap side">
                <button type="button" class="btn_base darkgray act cancleBtn">취소</button>
                <button type="button" class="btn_base blue act writeBtn">등록</button>
              </div>
            </div>

          </div>
        </form>
      </section>
      <!-- //contents -->
      
      <!-- footer -->
	<div class="include-footer" th:insert="~{include/footer}"></div>
	<!-- /footer -->
    </section>



    <!-- 내가 산 제품 팝업 -->
    <section id="my_product" class="toolpop_warp"
      style="width: 413px; position: absolute; left: 942.667px; top: 612px; display: none;" tabindex="0">
      <div class="toolpop_head">
        <h1>내가 산 제품</h1>
      </div>
      <div class="toolpop_cont">
        <div class="ps">
          <ul class="prd_list">
            <li th:if="${#lists.size(reviewProdList) == 0}" class="empty_all">리뷰 작성 가능한 제품이 없습니다.<br>(구매확정일로부터 90일 간 작성가능)
            </li>
            <li th:each="myProd, myStat: ${reviewProdList}" th:id="'prodInfo' + ${myStat.count}">
            	<div class="odate"><em>주문일자 </em><i>[[${myProd.odate}]]</i></div>
            	<div class="myProd-img"><img th:src="${myProd.iloc} + '_600.jpg'"></div>
            	<div class="myProd-info">
            		<div class="bname">[[${myProd.bname}]]</div>
            		<div class="pname">[[${myProd.pname}]]</div>
       				<div class="price">[[${#numbers.formatInteger(myProd.pprice, 3, 'COMMA')}]] <em>원</em></div>
            	</div>
            	<input type="hidden" class="myPcode" th:value="${myProd.pcode}">
            	
            	<button class="my-btn" th:onclick="setProdInfo([[${'prodInfo'+myStat.count}]])">선택</button>
            	
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="close">닫기</button>
    </section>
    <!-- //내가 산 제품 팝업 -->

	    <!-- right 제품구매 플로팅 -->
    <section class="flot_right_warp" th:insert="~{include/float}"></section>
</div>

    
</body>

</html>