<!DOCTYPE html>
<html lang="ko" class="js">

<head>
  <title>더현대뷰티 - 현대백화점 공식 화장품 온라인몰</title>
  <link rel="shortcut icon" href="https://www.thehyundai.com/favicon.ico">
  <link rel="canonical" href="https://www.larocheposay.co.kr/main.do">
  <script src="https://connect.facebook.net/signals/config/507474643422972?v=2.9.100&amp;r=stable" async=""></script>
  <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
  <script async=""
    src="//img-amc.tason.com/resources/js/et.v2.min.js?_t=1680284807734&amp;appKey=dce87c12e15a11e686ea"></script>
  <script src="https://connect.facebook.net/signals/config/507474643422972?v=2.9.100&amp;r=stable" async=""></script>
  <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
  <script async=""
    src="//img-amc.tason.com/resources/js/et.v2.min.js?_t=1680284678141&amp;appKey=dce87c12e15a11e686ea"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.min.js?v=36201204202301"></script>
  <script type="text/javascript"
    src="https://www.larocheposay.co.kr/js/libs/jquery-ui.min.js?v=36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.form.min.js" async=""></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.validate.min.js" async=""></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.marquee.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.bpopup.min.js" async=""></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/moment.min.js" async=""></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/util.jquery.extend.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/util.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/lib.js"></script>
  <link rel="stylesheet" type="text/css" href="/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/common/css/layout.css">
  <link rel="stylesheet" type="text/css" href="/common/css/content.css">
  <link rel="stylesheet" type="text/css" href="/common/css/libs/ie9.swiper.css">
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/ie9.swiper.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.marquee.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/TweenMax.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/common/popup.js?v=36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/common/common.js?v=36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/common/common_pc.js?v=36201204202301"></script>
  <script type="text/javascript"
    src="https://www.larocheposay.co.kr/js/common/common_front.js?v=36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/common_dev.js?v=36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/flipclock.min.js"></script>
  <script async=""
    src="https://www.larocheposay.co.kr//larocheposaycokr.api.useinsider.com/ins.js?id=10003736"></script>
  <link rel="stylesheet" type="text/css" href="https://www.larocheposay.co.kr/css/libs/swiper_why.css">
  <script src="https://www.larocheposay.co.kr/js/libs/babel.min.js?v=36201204202301"></script>
  <script src="https://www.larocheposay.co.kr/js/libs/polyfill.min.js?v=36201204202301"></script>
  <script src="https://www.larocheposay.co.kr/js/libs/core-js.min.js?v=36201204202301"></script>
  <script src="https://www.larocheposay.co.kr/js/libs/base64.min.js?v=36201204202301"></script>
  <script src="https://www.larocheposay.co.kr/js/libs/kakaosync.sdk.js?v=36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/main_pc.js?36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.tmpl.min.js"></script>
</head>
<body>
  <div id="wrap">

    <nav id="skip_navi">
      <a href="#contents">본문 바로가기</a>
      <a href="#menu">메뉴 바로가기</a>
      <a href="#footer">하단 정보 바로가기</a>
    </nav>
    
		<!-- header -->
		<header id="header" th:insert="~{include/header}"></header>
		<!-- /header -->
    <section class="h_link">
      <nav>
        <ol>
          <li><a href="javascript:void(0);" onclick="location.href='/'"><i>HOME</i></a></li>
          <li class="current kor"><a href="javascript:void(0);"
              onclick="location.href='/review/list.do'"><i>리얼리뷰</i></a></li>
        </ol>
      </nav>
    </section>

    <section class="sub_visual_warp">
		<div class="sub_visual">
				<img src="/skinMBTI/img/skinMBTI-banner3.jpg"
					style="width: 100%; height: 210px;">
				<div class="sub_visual" style="top: -210px;">
					<h1>
						<i style="font-family: 'locator-medium';">REAL REVIEW</i>
					</h1>
					<h2>
						제품 사용 후 남겨준 리얼 생생 후기
					</h2>
				</div>
			</div>
    </section>

    <section id="container">
      <form id="reviewForm" action="/review/list.do" method="post"><input type="hidden" value="20"
          name="recordCountPerPage">
        <input id="pageIndex" name="pageIndex" type="hidden" value="1"><input type="hidden" value="BRA002"
          name="brdCate" id="brdCate">
        <input id="orderby" name="orderby" type="hidden" value="">
        <section id="contents">
          <div class="tabtext_warp">
            <div class="tabtext">
              <ul>
                <li class="">
                  <a href="#" onclick="reviewList_all();return false">전체 <i id="totalCount">(64995)</i></a>
                </li>
                <li>
                  <a href="#" onclick="reviewList_photo();return false">포토리뷰 <i id="photoCount">(34079)</i></a>
                </li>
                <li class="on">
                  <a href="#" onclick="reviewList_text();return false">한줄리뷰 <i id="textCount">(30606)</i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="review_warp sp-goal-504-1001-64-1645076803677">


            <ul class="empty_wrap" style="display:none;">
              <li class="empty_all">
                검색결과 없습니다.
              </li>
            </ul>
            <div class="review_conts">
              <ul class="list" id="reviewList" style="position: relative; height: 2250.97px;">

                <li class="btn_review" style="position: absolute; left: 0px; top: 0px;"><a
                    href="/review/form"><span>리얼리뷰 쓰기</span><em>한줄리뷰 50M<br>첫 리뷰 더블적립</em></a>
                </li>
                <li class="text" style="position: absolute; left: 290px; top: 0px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97210.do"> <span class="hash">#
                      집중손상케어밤</span> <span class="tit"><strong>시카플라스트</strong> 밤 B5+ [100ml] + 12ml 추가 증정</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">여드름 자국 개선에 좋아요</span> <span class="reply">아들 여드름 치료 관리제품으로 좋아요
                      여드름 자국이 개선 되는듯 하네요
                      쭈욱 사용해보려구요</span> <span class="data"> <span class="userid">hjs04***</span> <span
                        class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 580px; top: 0px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97203.do"> <span class="hash">#
                      수분&amp;톤업선크림</span> <span class="tit"><strong>유비데아</strong> 멜트인 크림 &amp; 톤업 라이트 세트 + 비건 화장솜&amp;
                      토너 추가 증정 </span> <span class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">항상쓰는 썬크림 셋뚜로!</span> <span class="reply">추울 땐 멜트인
                      더울땐 톤업라이트 쓰는데 두개를 세트로 사은품까지 받아서 좋네요</span> <span class="data"> <span
                        class="userid">loveis1***</span> <span class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 870px; top: 0px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97201.do"> <span class="hash">#
                      에빠끌라키트</span> <span class="tit"><strong>에빠끌라</strong> 4월 신규회원전용💙폼클렌저 50% OFF + 에빠끌라 키트 증정</span>
                    <span class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">너무 좋아용...</span> <span class="reply">샘플 써봤다가 좋아서 구매했어용... 너무 즇아용
                      ㅠㅠ</span> <span class="data"> <span class="userid">KAKAO9771659***</span> <span
                        class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 0px; top: 322px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97216.do"> <span class="hash">#
                      집중손상케어밤</span> <span class="tit"><strong>시카플라스트</strong> 밤 B5+ [100ml] + 12ml 추가 증정</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">역시 좋아요</span> <span class="reply">발림성도 예전보다 좋아졌네요 확실히 피부가 건강해지고 있는
                      느낌적인 느낌..</span> <span class="data"> <span class="userid">KAKAO6015793***</span> <span
                        class="day">2023.04.14</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 290px; top: 398px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97214.do"> <span class="hash">#
                      보송밀착선크림</span> <span class="tit"><strong>유비데아</strong> [이벤트 판매 종료] NEW 톤업 클리어 체험 샘플</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">기름지지않고 좋아요ㅎㅎ</span> <span class="reply">원래 썬크림바르면 기름지거나
                      얼굴에 항상 트러블이생기기마련인데
                      라로슈포제껀혹시나 하고 사봤는데
                      수부지인 저한테도 잘맞고
                      톤업도적당히되고 좋아요</span> <span class="data"> <span class="userid">KAKAO5474896***</span> <span
                        class="day">2023.04.14</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 580px; top: 398px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97197.do"> <span class="hash">#
                      24시간수분지속</span> <span class="tit"><strong>똘러리앙</strong> 울트라 로션 200ml</span> <span class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">좋아요</span> <span class="reply">믿고 쓰는 제품입니다 실질적으로 써봤을때 다른 피부트러블은 없이
                      무난하고 잘 쓰고 있습니다</span> <span class="data"> <span class="userid">ssa43***</span> <span
                        class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 870px; top: 378px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97198.do"> <span class="hash">#
                      수분선크림</span> <span class="tit"><strong>유비데아</strong> 안뗄리오스 멜트인 크림 [수분]</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">좋아요</span> <span class="reply">썬크림 라인중에서는 이게 저한테 제일 잘 맞네요 톤업썬크림도
                      써봤는데 발림송이나 촉촉함 면에서는 이게 제일 좋은듯합니다</span> <span class="data"> <span class="userid">ssa43***</span>
                      <span class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 0px; top: 720px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97196.do"> <span class="hash">#
                      48시간보습지속크림</span> <span class="tit"><strong>똘러리앙</strong> 덤알레르고 크림</span> <span class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">좋아요</span> <span class="reply">플로이드와 비교하면 더 꾸덕해서 보습의 느낌이 강합니다 봄철까지는
                      요거 쓰고 한여름에는 플로이드 쓸까싶네요!</span> <span class="data"> <span class="userid">ssa43***</span> <span
                        class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 290px; top: 837px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97164.do"> <span class="hash">#
                      촉촉웜톤</span> <span class="tit"><strong>유비데아</strong> 안뗄리오스 톤업 로지</span> <span class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">잘써요</span> <span class="reply">잘스며들고 광택이 도네요 그리고촉촉합니다 재구매각
                      이네요</span> <span class="data"> <span class="userid">sweetyg***</span> <span
                        class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 580px; top: 775px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97209.do"> <span class="hash">#
                      신규회원샘플키트</span> <span class="tit"><strong>샘플무료체험</strong> [신규회원전용💙] 라로슈포제 인기 샘플 키트</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">샘플 써보구 구매할게요</span> <span class="reply">샘플 써보구 구매할게요
                      제품구성이 좋아요</span> <span class="data"> <span class="userid">hjs04***</span> <span
                        class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 870px; top: 775px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97202.do"> <span class="hash">#
                      신규회원샘플키트</span> <span class="tit"><strong>샘플무료체험</strong> 자가진단 시카플라스트 키트</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">좋아용</span> <span class="reply">샘플 써봤는데 너무 좋아서 구매합니당!</span> <span
                      class="data"> <span class="userid">KAKAO9771659***</span> <span class="day">2023.04.13</span>
                    </span> </a> </li>
                <li class="text" style="position: absolute; left: 0px; top: 1117px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97184.do"> <span class="hash"># 온가족 저자극 바디
                      보습 밤</span> <span class="tit"><strong>리피카</strong> 밤 AP+M 바디 크림 [병원판매 화장품]</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">보습력짱이에여</span> <span class="reply">보습짱이에요!!!!!! 매번 이거만 시켜서
                      사용해요</span> <span class="data"> <span class="userid">KAKAO6798274***</span> <span
                        class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 290px; top: 1193px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97185.do"> <span class="hash"># 한 장으로 경험하는
                      시카의 힘</span> <span class="tit"><strong>시카플라스트</strong> 마스크 B5 시트 (민감 피부 저자극 진정 마스크)</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">진정효과 좋아요</span> <span class="reply">예민피부에 진정효과 좋아요.
                      매일 쓰고 싶은 팩입니다.</span> <span class="data"> <span class="userid">KAKAO6415692***</span> <span
                        class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 580px; top: 1153px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97162.do"> <span class="hash">#
                      보송밀착선크림</span> <span class="tit"><strong>유비데아</strong> [이벤트 판매 종료] NEW 톤업 클리어 체험 샘플</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">톤업제품</span> <span class="reply">이제품을샘플로써보니 좋네요 맑고투명합니다</span> <span
                      class="data"> <span class="userid">sweetyg***</span> <span class="day">2023.04.13</span> </span>
                  </a> </li>
                <li class="text" style="position: absolute; left: 870px; top: 1131px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97160.do"> <span class="hash">#
                      저자극클렌징워터</span> <span class="tit"><strong>미셀라 클렌징워터</strong> 울트라 센시티브 [400ml]</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">항상쓰던제품 </span> <span class="reply">미끌거리지 않고 잘 닦여서 재근매합니다</span>
                    <span class="data"> <span class="userid">sweetyg***</span> <span class="day">2023.04.13</span>
                    </span> </a> </li>
                <li class="text" style="position: absolute; left: 0px; top: 1495px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97158.do"> <span class="hash">#
                      저자극각질케어토너</span> <span class="tit"><strong>에빠끌라</strong> H 리밸런싱 하이드레이션 로션</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">항상쓰던제품 </span> <span class="reply">항상쓰던제품 이라 재구매했습니다
                      순하고 촉촉해서 좋ㅇ습니다</span> <span class="data"> <span class="userid">sweetyg***</span> <span
                        class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 290px; top: 1572px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97224.do"> <span class="hash">#
                      집중손상케어밤</span> <span class="tit"><strong>시카플라스트</strong> 밤 B5+ [100ml]</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">무거운 느낌</span> <span class="reply">크림이 좀 무거운 느낌 있어요
                      아직 트러블은 없는데
                      기름지진 않은데 좀 번들거린달까
                      바를때도 좀 뻑뻑한 느낌이라서
                      재구매는 안할것 같아요
                      나한테 안맞는 느낌.
                      샘플을 다양하게 체험할수 있으면 좋겠어요</span> <span class="data"> <span class="userid">bbosas***</span> <span
                        class="day">2023.04.14</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 580px; top: 1532px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97177.do"> <span class="hash"># 온가족 저자극 바디
                      보습 밤</span> <span class="tit"><strong>리피카</strong> 밤 AP+M 바디 크림 [병원판매 화장품]</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">겨울 필수템</span> <span class="reply">겨울마다 쟁여놓고 사용하는 필수템입니다
                      피부가 다음날까지 촉촉해요</span> <span class="data"> <span class="userid">eunjoe***</span> <span
                        class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 870px; top: 1488px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97169.do"> <span class="hash"># S.O.S
                      진정보습세럼</span> <span class="tit"><strong>똘러리앙</strong> 덤알레르고 [병원판매 화장품]</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">없으면 안돼요</span> <span class="reply">몇통째 쓰는지 모르겠네여 없으면 불안한 제품
                      ㅎㅎ</span> <span class="data"> <span class="userid">khjoo0***</span> <span
                        class="day">2023.04.13</span> </span> </a> </li>
                <li class="text" style="position: absolute; left: 0px; top: 1852px;"> <a href="#review_list001"
                    class="layer-pop" data-type="link" data-url="/review/view/97204.do"> <span class="hash">#
                      보송밀착선크림</span> <span class="tit"><strong>유비데아</strong> [이벤트 판매 종료] NEW 톤업 클리어 체험 샘플</span> <span
                      class="rating">
                      <div class="star-rating small"> <span class="c50"> <em class="hide">벌점 5개</em></span> </div>
                    </span> <span class="replyhead">뉴 선크림 </span> <span class="reply">새로운 종류가 나와서 궁금했는데 샘플체험 좋네요
                      이전 제품들과 비슷하게 무난하게 괜찮은 거 같아요</span> <span class="data"> <span class="userid">loveis1***</span>
                      <span class="day">2023.04.13</span> </span> </a> </li>
              </ul>
            </div>
            <!--
                  <div class="border_btn">
                      <button type="button" class="btn_base eng">MORE</button>
                  </div>
                   -->
          </div>
        </section>
        <!-- //contents -->
      </form>
    </section>
    <!-- //container -->

    <!-- right 제품구매 플로팅 -->
    <section class="flot_right_warp">
      <div class="flot_price_btn">
        <div class="flotmem"><a
            href="https://www.larocheposay.co.kr/myPage/myPageHome.do"></a><strong><em>고객</em>님</strong>반갑습니다</div>
        <div class="flotcart"><a href="https://www.larocheposay.co.kr/cart/cart.do"><span class="count">0</span><span
              class="hide">장바구니 - 바로가기</span></a></div>
        <div class="flotheart"><a href="https://www.larocheposay.co.kr/myPage/likeList.do"><span
              class="count">0</span><span class="hide">찜한제품 - 바로가기</span></a></div>
        <div id="flotprd" class="swiper-container">
          <div class="swiper-wrapper"
            style="width: 224px; height: 79px; transform: translate3d(-56px, 0px, 0px); transition-duration: 0s;">
            <div class="swiper-slide swiper-slide-duplicate" style="width: 56px; height: 79px;">
              <a href="https://www.larocheposay.co.kr/product/view/3910.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2023/03/20230324_1846029_551_100x100.png"
                  alt="[이벤트 판매 종료] NEW 톤업 클리어 체험 샘플">
              </a>
            </div>
            <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 56px; height: 79px;">
              <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png"
                  alt="리페어 세럼 B5">
              </a>
            </div>
            <div class="swiper-slide" style="width: 56px; height: 79px;">
              <a href="https://www.larocheposay.co.kr/product/view/3910.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2023/03/20230324_1846029_551_100x100.png"
                  alt="[이벤트 판매 종료] NEW 톤업 클리어 체험 샘플">
              </a>
            </div>
            <div class="swiper-slide swiper-slide-duplicate" style="width: 56px; height: 79px;">
              <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png"
                  alt="리페어 세럼 B5">
              </a>
            </div>
          </div>
          <button type="button" class="flotprd-prev" style="z-index:1000;"><span class="hide">이전</span></button>
          <button type="button" class="flotprd-next" style="z-index:1000;"><span class="hide">다음</span></button>
        </div>
        <!-- //swiper-container -->
        <button type="button" class="btn_top" title="상단 이동">top</button>
      </div>
    </section>
    <!-- //right 제품구매 플로팅 -->

    <!-- review 상세 레이어 팝업 -->
    <section id="review_list001" class="layerpop_warp boardview_pop" style="display: none;">
      <script type="text/javascript" src="https://www.larocheposay.co.kr/js/order/cart.js?v=02190604202314"></script>
      <script type="text/javascript">
        function basketEvent(seq, prdtCnt, mbrNm, linename, prdtname, SapCode) {
          if (prdtCnt == '' && prdtCnt == '0') {
            alert('품절된 제품입니다.');
          } else {
            $('#reviewPopForm').find('#ordCnt').data('prdt-seq', seq);
            var value = seq;
            var price = '';
            var lineNm = linename;
            var prdtNm = prdtname;
            CART.save($('#reviewPopForm'), function (data) {
              if (data.result == 'OK') {
                // 토스트 팝업 처리.
                setTimeout(function () {
                  $('.layer_alert_wrap').hide().find('span').hide();
                }, 1500);
                $('.layer_alert_wrap').css('display', 'block').find('.layer_alert3').css('display', 'block');
                var _tasz = [];
                _tasz.push({
                  productName: lineNm + prdtNm,
                  productCode: value,
                  productPrice: price,
                  SapCode: SapCode
                });
                LARO.TAS.et('cartAdd', _tasz);
              } else {
                if ('[LEVEL] 등급만 구매하실 수 있는 제품입니다.' == data.message) {
                  if (mbrNm == undefined) {
                    alert('등급이 맞지 않아 구매 하실수 없는 제품입니다.');
                  } else {
                    alert(data.message.replace('[LEVEL]', mbrNm));
                  }
                } else {
                  alert(data.message);
                }
              }
            });
          }
        }
      </script>
      <form id="reviewPopForm">
        <input type="hidden" id="ordCnt" name="ordCnt" data-prdt-type="PT" data-prdt-seq="3890" value="1">
      </form>
      <div class="layerpop" style="width:720px;">
        <div class="layerpop_head">
          <h1>리얼리뷰 상세</h1>
        </div>
        <div class="layerpop_cont" style="">
          <div class="review_detail">
            <div class="review_detail_top">
              <div class="left">
                <span class="pimg"><img
                    src="https://www.larocheposay.co.kr/upload/product/main/2023/03/20230314_1243027_378_210x210.png"
                    alt=""></span>
                <span class="ptxt">
                  <span class="phash">
                    <span style="display:inline-block;"> #집중손상케어밤</span>
                    <span style="display:inline-block;"> #손상케어크림</span>
                    <span style="display:inline-block;"> #시카플라스트</span>
                  </span>
                  <span class="ptit">
                    <strong>시카플라스트</strong>
                    밤 B5+ [100ml] + 12ml 추가 증정</span>
                </span>
              </div>
              <div class="right">
                <span><button type="button" class="btn_base" onclick="javascript:prdtViewLink('3890', 'PT', 'Y')">제품
                    상세보기</button></span>
                <span><button type="button" class="btn_base gray" data-level="제한없음"
                    onclick="basketEvent(3890, '5', '제한없음', '시카플라스트' , '밤 B5+ [100ml] + 12ml 추가 증정' ,'');">장바구니</button></span>
              </div>
            </div>
            <div class="review_detail_box" tabindex="0">
              <div class="review_detail_cont">
                <div class="head">
                  <h2>여드름 자국 개선에 좋아요</h2>
                  <div class="head_data">
                    <div class="info">
                      <span class="star">
                        <div class="star-rating small">
                          <span class="c50">
                            <em class="hide">벌점 5개</em></span>
                        </div>
                      </span>
                      <span class="userid">hjs04***</span>
                      <span class="group">
                        40 대
                        /

                        여자

                        /
                        복합성 (양 볼만 당김, T존 번들거림)</span>
                    </div>
                    <div class="day">2023.04.13</div>
                  </div>
                </div>
                <div class="body">
                  아들 여드름 치료 관리제품으로 좋아요<br><br>여드름 자국이 개선 되는듯 하네요<br><br>쭈욱 사용해보려구요</div>
              </div>
            </div>
          </div>
          <!-- //review_detail -->

        </div>
        <!-- //layerpop_cont -->
        <button type="button" class="close">닫기</button>
      </div>
    </section>
    <!-- //review 상세 레이어 팝업 -->


		<!-- footer -->
		<div class="include-footer" th:insert="~{include/footer}"></div>
		<!-- /footer -->
</div>
</body>

</html>