<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>주문완료 | 더한섬닷컴</title>
<th:block th:replace="common/head :: headFragment"></th:block>

<head>
<head th:insert="~{include/head}"></head>
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Pragma" content="no-cache" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0" />

<link rel="stylesheet" type="text/css" href="https://image.thehyundai.com/pc/cssssl/font.css" />


<link rel="stylesheet" type="text/css" href="https://image.thehyundai.com/pc/cssssl/co.css?ver=14" />
<link rel="stylesheet" type="text/css" href="https://image.thehyundai.com/pc/cssssl/wf.css" />
<script src="https://image.thehyundai.com/pc/js/jquery-1.11.3.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-ui.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-migrate.min.js"></script>

<script src="https://image.thehyundai.com/pc/js/plugin.js?ver=030614"></script>
<script type="text/javascript" src="https://image.thehyundai.com/pc/js/hdmall/co/jquery.form.js"></script>
<script type="text/javascript" src="https://image.thehyundai.com/pc/js/hdmall/co/default.js?ver=030614"></script>
<script type="text/javascript" src="https://image.thehyundai.com/pc/js/hdmall/co/common.js?ver=030614"></script>
<script src="https://image.thehyundai.com/pc/js/common.js?ver=030614"></script>
<script type="text/javascript" src="https://image.thehyundai.com/pc/js/swiper.min.js?ver=030614"></script>

<link rel="stylesheet" type="text/css" href="https://www.thehyundai.com/cssssl/jquery-ui.css?ver=14" />
<link rel="stylesheet" type="text/css" href="https://www.thehyundai.com/cssssl/co.css?ver=14" />
<link rel="stylesheet" type="text/css" href="https://www.thehyundai.com/cssssl/od_new.css?ver=14" />
<link rel="stylesheet" type="text/css" href="https://www.thehyundai.com/cssssl/dp.css?ver=14" />


<style type="text/css">

header#header {
	background: none;
	height: auto;
}


.fancybox-margin {
	margin-right: 16px;
}
</style>

<script type="text/javascript" async=""
	src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/879261918/?random=1678080685959&amp;cv=11&amp;fst=1678080685959&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be3310&amp;u_w=1707&amp;u_h=1067&amp;hn=www.googleadservices.com&amp;frm=0&amp;url=https%3A%2F%2Fwww.thehyundai.com%2Ffront%2Foda%2ForderComplete.thd&amp;ref=https%3A%2F%2Fwww.thehyundai.com%2Ffront%2Foda%2Forder.thd&amp;tiba=%EB%8D%94%ED%98%84%EB%8C%80%EB%8B%B7%EC%BB%B4&amp;auid=1634151386.1677462498&amp;uaa=x86&amp;uab=64&amp;uafvl=Chromium%3B110.0.5481.178%7CNot%2520A(Brand%3B24.0.0.0%7CGoogle%2520Chrome%3B110.0.5481.178&amp;uamb=0&amp;uap=Windows&amp;uapv=15.0.0&amp;uaw=0&amp;data=event%3Dgtag.config&amp;rfmt=3&amp;fmt=4"
></script>
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" async=""
	src="https://www.googleadservices.com/pagead/conversion/879261918/?random=1678080686784&amp;cv=11&amp;fst=1678080686784&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be3310&amp;u_w=1707&amp;u_h=1067&amp;label=DAtcCKWT6bYBEN7xoaMD&amp;hn=www.googleadservices.com&amp;frm=0&amp;url=https%3A%2F%2Fwww.thehyundai.com%2Ffront%2Foda%2ForderComplete.thd&amp;ref=https%3A%2F%2Fwww.thehyundai.com%2Ffront%2Foda%2Forder.thd&amp;tiba=%EB%8D%94%ED%98%84%EB%8C%80%EB%8B%B7%EC%BB%B4&amp;oid=23030600618040&amp;value=341000&amp;currency_code=KRW&amp;gtm_ee=1&amp;auid=1634151386.1677462498&amp;uaa=x86&amp;uab=64&amp;uafvl=Chromium%3B110.0.5481.178%7CNot%2520A(Brand%3B24.0.0.0%7CGoogle%2520Chrome%3B110.0.5481.178&amp;uamb=0&amp;uap=Windows&amp;uapv=15.0.0&amp;uaw=0&amp;data=event%3Dconversion&amp;rfmt=3&amp;fmt=4"
></script>
<script type="text/javascript" async=""
	src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/879261918/?random=1678080686789&amp;cv=11&amp;fst=1678080686789&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be3310&amp;u_w=1707&amp;u_h=1067&amp;hn=www.googleadservices.com&amp;frm=0&amp;url=https%3A%2F%2Fwww.thehyundai.com%2Ffront%2Foda%2ForderComplete.thd&amp;ref=https%3A%2F%2Fwww.thehyundai.com%2Ffront%2Foda%2Forder.thd&amp;tiba=%EB%8D%94%ED%98%84%EB%8C%80%EB%8B%B7%EC%BB%B4&amp;oid=23030600618040&amp;value=341000&amp;currency_code=KRW&amp;auid=1634151386.1677462498&amp;uaa=x86&amp;uab=64&amp;uafvl=Chromium%3B110.0.5481.178%7CNot%2520A(Brand%3B24.0.0.0%7CGoogle%2520Chrome%3B110.0.5481.178&amp;uamb=0&amp;uap=Windows&amp;uapv=15.0.0&amp;uaw=0&amp;data=event%3Dpurchase%3Bid%3D40A1650970%2C40A1624448&amp;rfmt=3&amp;fmt=4"
></script>
<script type="text/javascript" async="" src="//tpc.googlesyndication.com/sodar/1s9mPOHO.js"></script>

</head>
<body>
	<!-- wrap -->
	<div id="wrap" class="sub notgnb simple-gnb">
		<!-- gnb -->

		<script type="text/javascript" src="https://www.thehyundai.com/js/hdmall/co/referCodes.js"></script>
		<script src="/js/sso/SsoHttpRequest.js"></script>
		<script src="/js/sso/SsoAjax.js"></script>
		<script src="/js/sso/SsoLogin.js"></script>

		<script type="text/javascript" src="https://www.thehyundai.com/static/gen/js/mainBnnrContents.js?ver=061431"></script>



		<header id="header" th:insert="~{include/header}"></header>

		<script type="text/javascript" src="https://image.thehyundai.com/pc/js/hdmall/co/skyscraper.js?ver=030614"></script>
		<script type="text/javascript">
			$(document).ready(function() {
			});
		</script>

		<!-- //gnb -->

		<!-- container -->
		<div id="container">
			<h1 class="blind">컨텐츠영역</h1>

			<!-- content-wrap -->
			<div class="content-wrap">
				<!-- cart-head -->
				<div class="cart-head">
					<h2>주문완료</h2>
					<div class="stepwrap">
						<ul>
							<li>
								<div class="step-box cart-01">
									<span class="mark"></span>
									<p>STEP 01</p>
									<p>장바구니</p>
								</div>
							</li>
							<li><span class="step-mark"></span> <span class="step-box cart-02"> <i class="mark"></i> <em>STEP 02</em> <em>주문서작성</em>
							</span></li>
							<li><span class="step-mark"></span> <span class="step-box cart-03 current"> <i class="mark"></i> <em>STEP 03</em> <em>주문완료</em>
							</span></li>
						</ul>
					</div>
				</div>
				<!-- //cart-head -->

				<!-- order-complete -->
				<div class="order-complete pt50" id="divOrderCompleteInf">
					<!-- 20170512// -->

					<!-- //20170512 -->
					<p>더현대닷컴 쇼핑몰을 이용해 주셔서 감사합니다.</p>
					<h3>
						주문이 정상적으로 <strong class="text-point2">완료</strong>되었습니다.
					</h3>
					<h4 class="order-number">
						주문번호 : <strong class="text-point5 underline"> [[${orderSheet.orderId}]]</strong>
					</h4>

					<!-- info-table -->
					<div class="info-table">
						<div class="table-wrap">
							<table>
								<colgroup>
									<col style="width: 150px" />
									<col style="width: 215px" />
									<col style="width: 150px" />
									<col style="width: 215px" />
								</colgroup>
								<tbody>
									<tr>
										<th scope="row">주문하신 분</th>
									<td><span sec:authentication="principal.mName" class="od-name" type="text" title="이름" name="chgOrdCustNm" maxlength="10" /></td>
									</tr>
									<tr>
										<th scope="row">휴대폰 번호</th>
									<td><span id="mPhone" sec:authentication="principal.mPhone"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- //info-table -->

					<!-- ordersheet-box -->
					<div class="ordersheet-box mt50">
						<h4 class="oc-subtit">상품 및 배송지 정보</h4>

						<!--cart-list-->
						<div class="cart-list">
							<div class="table-wrap coltype cart">
								<div style="display: none">
									<f1tgs name="f1_content_ids" desc="Product ID">40A1650970</f1tgs>
									<f1tgs name="f1_products_price" desc="Product Price">68000</f1tgs>
								</div>
								<div style="display: none">
									<f1tgs name="f1_content_ids" desc="Product ID">40A1624448</f1tgs>
									<f1tgs name="f1_products_price" desc="Product Price">273000</f1tgs>
								</div>
								<table>
									<caption></caption>
									<colgroup>
										<col style="width: *" />
										<col style="width: 150px" />
										<col style="width: 150px" />
										<col style="width: 150px" />
									</colgroup>
									<thead>
										<tr>
											<th scope="col">상품정보/옵션정보</th>
											<th scope="col">수량</th>
											<th scope="col">주문금액</th>
											<th scope="col">배송비</th>
										</tr>
									</thead>	
									<tbody>
										<tr th:each="item, stat : ${orderSheet.product_id}">
										<td class="valign-top">
											<div class="prod-info no-ctrl">
												<div class="img" id="img-40A1650970">
													<input type="hidden" th:value="${orderSheet.product_id[stat.index]}" />
													<img th:src="${orderSheet.product_image[stat.index]} + '_600.jpg'" onerror="noImage(this, 'https://image.thehyundai.com/hdmall/images/pd/no_image_100x100.jpg')" />
													<div class="hover-info">
														<a href="http://www.thehyundai.com/front/pda/itemPtc.thd?slitmCd=40A1650970&amp;sectId=102066" target="_blank" title="새창으로 보기">새창으로
															보기</a><a href="javascript:sltdItemDone('40A1650970:00001','102066',event);return false;" title="찜하기"
															onclick="javascript:popover_open(this , '#popover-layer-zzim');return false;"
														>찜하기</a>
													</div>
												</div>
												<div class="title">
													<a href="http:	//www.thehyundai.com/front/pda/itemPtc.thd?slitmCd=40A1650970&amp;sectId=102066" target="_blank">[[${orderSheet.product_name[stat.index]}]]</a>
												</div>
												<div class="option-info">
													<span class="tit">옵션 : [[${orderSheet.product_poption[stat.index]}]]</span>
												</div>
											</div>
										</td>
										<td class="prod-num">[[${orderSheet.product_Quntity[stat.index]}]]개</td>
										
										<td class="price-info">
											<div class="o-price" th:text="${#numbers.formatInteger(orderSheet.product_price[stat.index], 3, 'COMMA') + '원'}"></div>
											<div class="tot-price" >
												<span data-tcprate="1.0" data-luityn="N" data-stlmdcamt="0"
													th:text="${#numbers.formatInteger(orderSheet.product_price[stat.index]*orderSheet.product_Quntity[stat.index], 3, 'COMMA') + '원'}"
												></span>
											</div>
										</td>
										<td  th:if="${stat.index == 0}")class="shipping" rowspan="2">
											<div class="free">
												<div class="free">무료배송</div>
											</div>
										</td>
										
										
										
										
									</tr>
									
									</tbody>
								</table>
							</div>

							<div class="table-wrap order-addinfo">
								<table>
									<colgroup>
										<col style="width: 180px" />
										<col style="width: 185px" />
										<col style="width: 180px" />
										<col />
									</colgroup>
									<tbody>
										<tr>
											<th scope="row">배송방법</th>
											<td colspan="3"><span class="text-point2">택배배송</span></td>
										</tr>
										<tr>
											<th scope="row">받으시는 분</th>
											<td colspan="3">[[${orderSheet.oReceiver}]]</td>
										</tr>
										<tr>
											<th scope="row">휴대폰 번호</th>
											<td colspan="3">[[${orderSheet.oTel}]]</td>
										</tr>
										<tr>
											<th scope="row">배송지</th>
											<td colspan="3">[[${orderSheet.oZipcode}]] - [[${orderSheet.oAddress1}]] [[${orderSheet.oAddress2}]]</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!--//cart-list-->
					</div>
					<!-- //ordersheet-box -->

					<div class="info-table">
						<h4 class="oc-subtit">할인 및 결제정보</h4>

						<div class="bill-summary-wrap">
							<table class="bill-summary for-comp">
								<tbody>
									<tr>
										<td>
											<div class="title">주문금액</div>
											<div class="price" th:text="${#numbers.formatInteger(orderSheet.oTotalPrice+orderSheet.oMileage, 3, 'COMMA') + '원'}">
											</div>
										</td>
										<td>
											<div class="title">배송비</div>
											<div class="price free">무료</div>
										</td>
										<td class="minus">
											<div class="title">할인금액</div>
											<div class="price" th:text="${#numbers.formatInteger(orderSheet.oMileage, 3, 'COMMA') + '원'}">
												<span>원</span>
											</div>
										</td>
										<td class="equal">
											<div class="title">총 결제금액</div>
											<div class="price sum" th:text="${#numbers.formatInteger(orderSheet.oTotalPrice, 3, 'COMMA') + '원'}">
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="btn-wrap">
						<a href="/shop/orderlist" class="btn size7 wide2 color2" >주문내역 확인<i
							class="icon-arrow btn-ar"
						></i></a> <a href="http://www.thehyundai.com/Home.html" class="btn size7 wide2 color3" onclick="javascript:">쇼핑 계속하기</a>
					</div>


					
					<script type="text/javascript" src="https://www.thehyundai.com/js/hdmall/co/md5.js"></script>

				</div>
			</div>
		</div>
	</div>

	

</body>
</html>
