<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyundai.higher.mapper.beauty.MakeupMapper">
	
	<select id="Picklip" resultType="com.hyundai.higher.domain.makeup.LipVO">
		select a.pcode, pname, pprice, dept2no, optcolor, optname, iloc, itype
		from product a, poption b, img c
		where a.pcode=b.pcode and a.pcode=c.pcode and dept2no=22 
		and itype='thumb' and iloc like '%0' and optcolor=#{optcolor}
	</select>
	
	<select id="PickBlush" resultType="com.hyundai.higher.domain.makeup.BlushVO">
		select a.pcode, pname, pprice, dept2no, optcolor, optname, iloc, itype
		from product a, poption b, img c
		where a.pcode=b.pcode and a.pcode=c.pcode and dept2no=24 
		and itype='thumb' and iloc like '%0' and optcolor=#{optcolor}	
	</select>
	
	<select id="PickFoundation" resultType="com.hyundai.higher.domain.makeup.FoundationVO">
		select a.pcode, pname, pprice, dept2no, ptype, optcolor, optname, iloc, itype
		from product a, poption b, img c
		where a.pcode=b.pcode and a.pcode=c.pcode and dept2no=21
		and itype='thumb' and iloc like '%0' and optcolor=#{optcolor}	
	</select>

</mapper>