<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyundai.higher.mapper.makeup.MakeupMapper">

	<select id="MemInfo" resultType="com.hyundai.higher.domain.member.Member">
		select * from member where mid=#{mid}
	</select>
	<select id="PickLip" resultType="com.hyundai.higher.domain.makeup.LipVO">
		select a.pcode, bname, pname, pprice, dept2no, optcolor, optname, iloc, itype
		from product a, poption b, img c, brand d
		where a.pcode=b.pcode and a.bno = d.bno and
		a.pcode=c.pcode and dept2no=22
		and itype='thumb' and iloc like '%0' and
		optcolor=#{optcolor} and rownum<![CDATA[ <= ]]>10
	</select>

	<select id="PickBlush"
		resultType="com.hyundai.higher.domain.makeup.BlushVO">
		select a.pcode, bname, pname, pprice, dept2no, optcolor, optname, iloc, itype
		from product a, poption b, img c, brand d
		where a.pcode=b.pcode and a.bno = d.bno and
		a.pcode=c.pcode and dept2no=24
		and itype='thumb' and iloc like '%0' and
		optcolor=#{optcolor} and rownum<![CDATA[ <= ]]>10
	</select>

	<select id="PickFoundation"
		resultType="com.hyundai.higher.domain.makeup.FoundationVO">
		select a.pcode, bname, pname, pprice, dept2no, optcolor, optname, iloc, itype
		from product a, poption b, img c, brand d
		where a.pcode=b.pcode and a.bno = d.bno and
		a.pcode=c.pcode and dept2no=21
		and itype='thumb' and iloc like '%0' and
		optcolor=#{optcolor} and rownum<![CDATA[ <= ]]>10
	</select>

	<insert id="insertResult"
		parameterType="com.hyundai.higher.domain.makeup.ResultVO">
		insert into result(rid, result_img, lip, lip_pcode,
		lip_opt, blush, blush_pcode, blush_opt, face, face_pcode, face_opt, artistcmt)
		values (#{rid},#{result_img}, #{lip},
		#{lip_pcode}, #{lip_opt},
		#{blush}, #{blush_pcode}, #{blush_opt},
		#{face}, #{face_pcode},
		#{face_opt}, #{artistcmt})
	</insert>
	
	<update id="mileageupdate">
		update member set mmileage = mmileage+2000  where mid=#{mid}
	</update>
	
	<select id="findmbti" resultType="com.hyundai.higher.domain.makeup.MbtiVO">
		select mbti, mbti_scores from member where mid=#{mid}
	</select>

</mapper>