<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hyundai.higher.mapper.makeup.ReservMapper">

	<insert id="reserv"
		parameterType="com.hyundai.higher.domain.makeup.ReservVO">
		insert into reservation(rid, rcheck, rimg, rdate, mid)
		values
		(seq_rid.nextval, 0, #{rimg}, #{rdate}, #{mid})
	</insert>

	<select id="CountDate" resultType="java.lang.Integer">
		select count(*) from
		reservation where rdate=to_date(#{rdate}, 'YYYY-MM-DD HH24:MI:SS')
	</select>

</mapper>