<html xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="~{include/head}"></head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1.0" />
<title>더현대닷컴</title>
<style>
header#header {
	background: none;
	height: auto;
}
</style>
<link rel="stylesheet" type="text/css"
	href="https://image.thehyundai.com/pc/cssssl/font.css" />
<link rel="stylesheet" type="text/css"
	href="/makeup/css/mypage_result.css">
<link rel="stylesheet" type="text/css"
	href="https://image.thehyundai.com/pc/cssssl/co.css?ver=13" />
<link rel="stylesheet" type="text/css"
	href="https://image.thehyundai.com/pc/cssssl/wf.css" />
<script src="https://image.thehyundai.com/pc/js/jquery-1.11.3.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-ui.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-migrate.min.js"></script>
<script type="text/javascript">
	document.domain = "thehyundai.com";
	var locationHref = document.location.href;
	var imageServer = "https://image.thehyundai.com";
	var serverHost = "http://www.thehyundai.com";
	var serverHostForSSL = "https://www.thehyundai.com";

	var switch_serverHost;
	var contextPath = "/front";

	if (locationHref.indexOf("https") > -1) {
		switch_serverHost = serverHostForSSL;
	} else if (locationHref.indexOf("http") > -1) {
		switch_serverHost = serverHost;
	}

	var _timer;
	$(document).ready(
			function() {
				var interval = 1801000;
				var ChkSTDtm = new Date();
				var expireDtm = new Date();
				ChkSTDtm.setMinutes(ChkSTDtm.getMinutes() + 30);
				expireDtm.setDate(expireDtm.getDate() + 1);
				document.cookie = "ChkSTDtm=" + ChkSTDtm.getTime()
						+ "; path=/; expires=" + expireDtm.toUTCString()
						+ "; path=/";
				_timer = setTimeout("timeOutLogOutCookie()", interval);
			});

	function timeOutLogOut() {
		try {
			gfnSsoDscdToknReq(dscdCallback2);
		} catch (exception) {
			//console.log(exception);
		} finally {
			location.href = "https://www.thehyundai.com/front/cob/logout.thd";
		}
	}
</script>

<script src="https://image.thehyundai.com/pc/js/plugin.js?ver=040213"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/hdmall/co/jquery.form.js"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/hdmall/co/default.js?ver=040213"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/hdmall/co/common.js?ver=040213"></script>
<script src="https://image.thehyundai.com/pc/js/common.js?ver=040213"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/swiper.min.js?ver=040213"></script>
<style type="text/css">
.fancybox-margin {
	margin-right: 17px;
}
</style>
<link rel="stylesheet" type="text/css"
	href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
<style type="text/css">
.fancybox-margin {
	margin-right: 0px;
}
</style>
<style type="text/css">
.fancybox-margin {
	margin-right: 21px;
}
</style>
</head>

<body oncontextmenu="return false" ondragstart="return false"
	onselectstart="return false">
	<!-- wrap -->
	<div id="wrap" class="sub">
		<header id="header" th:insert="~{include/header}"></header>
		<!-- gnb -->

		<script type="text/javascript"
			src="https://www.thehyundai.com/js/hdmall/co/referCodes.js"></script>

		<!-- top banner -->
		<div id="js-tpl-topBanner" style="display: none"></div>

		<div class="top-wrap sub">
			<div class="top-area-setting">
				<script type="text/javascript"
					src="https://www.thehyundai.com/js/hdmall/dp/dpo/dqSearch.js?ver=040213"></script>

				<script type="text/javascript"
					src="https://www.thehyundai.com/js/hdmall/dp/dpo/dqAutoCompleteNewCommon.js?ver=040213"></script>
				<script type="text/javascript"
					src="https://www.thehyundai.com/js/hdmall/dp/dpo/dqAutoCompleteNew.js?ver=040213"></script>

				<!-- //header -->
			</div>
		</div>

		<!-- container -->
		<div id="container">
			<!-- content-wrap -->
			<div class="content-wrap hasleft myhyundai">
				<!-- left contents -->

				<div class="leftarea">
					<h2>
						<a href="/front/mpf/selectMyPageMain.thd">마이현대<span>MY
								HYUNDAI</span></a>
					</h2>
					<div class="line"></div>

					<!-- leftmenu -->
					<ul class="leftmenu">
						<li class=""><a class="not">MY Make-ON</a>
							<ul>
								<li class=""><a href="/mypage/reserv">예약 관리</a></li>
								<li class=""><a href="/mypage/reserv_ing">예약 완료</a></li>
								<li class=""><a href="/mypage/reserv_ready">상담 입장</a></li>
								<li class=""><a href="/mypage/reserv_done">상담 완료</a></li>
							</ul></li>
						<li class=""><a class="not">MY 피부 MBTI</a>
							<ul>
								<li class=""><a href="/mypage/skinmbti">결과 보기</a></li>
							</ul></li>
						<li class=""><a class="not">MY 주문</a>
							<ul>
								<li class=""><a href="/shop/orderlist">주문 내역</a></li>

							</ul></li>

					</ul>		<!-- //leftmenu -->
				</div>
				<!-- //leftarea -->
				<!-- // left contents -->

				<!-- content -->
				<div class="content">
					<div class="myhyundai-head"></div>
					<div class="myhyundai-main"
						style="margin: 40px 0; font-family: 'notokr-medium';">
						<h3>Make-On 예약 관리</h3>
					</div>
					<!-- cart-list -->
					<div class="myhyundai-main"
						style="margin: 40px 0; font-family: 'notokr-demilight';">
						<h2>예약 내용</h2>
					</div>
					<div class="numbering"
						style="font-family: 'locator-medium'; position: relative; float: left; margin-right: 695px; line-height: 26px;">
						<p style="display: inline">예약번호 :</p>
						<p style="display: inline" th:text="${info.rid}"></p>
					</div>
					<div style="position: relative;">
						<p class="v-btn-wrap" style="">
							<a th:href="'/mypage/modify?rid=' + ${info.rid}"
								onclick="javascript:GA_Event('PC_마이페이지', '최근_주문_배송내역', '상세내역');"
								class="btn color4 size1"
								style="background: #bfae90; border: #bfae90; display: block;">수정</a>
						</p>
					</div>
					<div>
						<div class="makeupwrapper">
							<!-- 예약자 정보 -->
							<div class="table-wrap order-addinfo mt20" style="display: flex;">
								<div class="wrapper3">
									<div class="faceupload">
										<img class="face"
											th:src="'/beauty/display?fileName=' + ${info.rimg}"
											style="max-width: 200px; height: 265px; object-fit: cover;">
									</div>
								</div>

								<table>
									<caption></caption>
									<colgroup>
										<col style="width: 150px;">
										<col style="width: 390px;">
									</colgroup>
									<tbody>
										<tr>
											<th scope="row" style="vertical-align: middle;">예약자</th>
											<td colspan="3" th:text="${mem.mName}"></td>
										</tr>
										<tr>
											<th scope="row" style="vertical-align: middle;">상담일자</th>
											<td th:text="${info.rdate}"></td>
										</tr>
										<tr>
											<th scope="row" style="vertical-align: middle;">피부 MBTI</th>
											<td th:text="${pro.mbti}"></td>
										</tr>

										<tr>
											<th scope="row" style="vertical-align: middle;">요청 사항</th>
											<td th:text="${info.rneeds}">></td>
										</tr>

									</tbody>
								</table>
							</div>
							<!-- 예약자 정보 -->
						</div>
					</div>

					<!-- //cart-list -->

					<!-- //입장-->
				</div>
				<!-- //content -->
			</div>
			<!-- //content-wrap -->
		</div>
		<div class="include-footer" th:insert="~{include/footer2}"></div>
	</div>
	<!-- //wrap -->

	<script>
		function addCart() {
			//console.log('장바구니 담기');
			var pCode = document.querySelector('.pcode').value;
			//옵션 바꾸기
			//var pOption = document.querySelector('input[name="optNm"]').value;
			var pAmount = document.querySelector('input[name="pamount"]').value;
			var mid = document.getElementById('mid').value;
			//console.log(mid);
			var pOption = "";

			var pname = document.querySelector('.datail_info_top .tit strong').textContent
					.trim();
			//console.log(pname + " 이름");

			if (!document.querySelector('.option')) {
				pOption = pname;
			} else {
				const selectEl = document.querySelector('.opt'); // select 요소 선택
				const selectedValue = selectEl.options[selectEl.selectedIndex].value;
				pOption = selectedValue;
			}
			//console.log(pOption);

			if (mid != 'anonymousUser') {
				var requestData = JSON.stringify({
					pcode : pCode,
					poption : pOption,
					pamount : pAmount,
					mid : mid
				});
				//로그인 여부 확인 
				//중복 상품 확인

				//console.log(requestData);

				$.ajax({
					url : '/restcart/addCart',
					type : 'post',
					data : requestData,
					contentType : "application/json",
					success : function(result) {
						//console.log("장바구니 success");
						if (result == '0') {
							alert("장바구니에 추가를 하지 못하였습니다.");
						} else if (result == '1') {
							alert("장바구니에 추가되었습니다.");
						} else if (result == '2') {
							alert("이미 장바구니에 담긴 상품으로 수량이 추가되었습니다.");
						}
					},
					error : function(request, status, error) {
						//console.log(error);
					}
				});
			} else {
				//console.log("로그인 필요");
				alert('장바구니는 로그인이 필요합니다.');
				var loginUrl = "/member/login";
				window.location.href = loginUrl;
			}

		}
	</script>
	<style>
button.addcart.basket {
	background:
		url(https://www.larocheposay.co.kr/images/product/bg_product_sp.png)
		-444px 0 no-repeat !important;
}

button.detailview {
	background-image: url(/makeup/img/plus.png) !important;
	width: 56px !important;
	height: 56px !important;
	background-size: 56px !important;
	background: aliceblue !important;
	border-radius: 50px !important;
}

.product_wrap .product_list .over button:first-child {
	background-image: url(/makeup/img/plus.png) !important;
	background-size: 56px !important;
	opacity: 0.85;
}
</style>
</body>
</html>
