<html xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="~{include/head}"></head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1.0" />
<title>더현대닷컴</title>
<style>
header#header {
	background: none;
	height: auto;
}

button.addcart.basket {
	background:
		url(https://www.larocheposay.co.kr/images/product/bg_product_sp.png)
		-444px 0 no-repeat;
}

button.detailview {
	background-image: url(/makeup/img/plus.png);
	width: 56px;
	height: 56px;
	background-size: 56px;
}
</style>
<link rel="stylesheet" type="text/css"
	href="https://image.thehyundai.com/pc/cssssl/font.css" />
<link rel="stylesheet" type="text/css"
	href="/makeup/css/mypage_result.css">
<link rel="stylesheet" type="text/css"
	href="https://image.thehyundai.com/pc/cssssl/co.css?ver=13" />
<link rel="stylesheet" type="text/css"
	href="https://image.thehyundai.com/pc/cssssl/wf.css" />
<link rel="stylesheet" type="text/css"
	href="../../static/css/makeup_result.css" />
<script src="https://image.thehyundai.com/pc/js/jquery-1.11.3.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-ui.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-migrate.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/plugin.js?ver=040213"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/hdmall/co/jquery.form.js"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/hdmall/co/default.js?ver=040213"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/hdmall/co/common.js?ver=040213"></script>
<script src="https://image.thehyundai.com/pc/js/common.js?ver=040213"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/swiper.min.js?ver=040213"></script>
<style type="text/css">
.fancybox-margin {
	margin-right: 17px;
}
</style>
<link rel="stylesheet" type="text/css"
	href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
<style type="text/css">
.fancybox-margin {
	margin-right: 0px;
}
</style>
<style type="text/css">
.fancybox-margin {
	margin-right: 21px;
}
</style>
</head>
<script>
document.addEventListener("DOMContentLoaded", function() {

    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        slidesPerGroup: 3,
        observer: true,
        observeParents: true,
        spaceBetween: 24,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            1280: {
                slidesPerView: 3,
                slidesPerGroup: 3,
            },
            720: {
                slidesPerView: 1,
                slidesPerGroup: 1,
            }
        }
    });
    
});

function back() {
	history.go(-1); 
}
</script>
<body oncontextmenu="return false" ondragstart="return false"
	onselectstart="return false">
	<!-- wrap -->
	<div id="wrap" class="sub">
		<header id="header" th:insert="~{include/header}"></header>
		<!-- gnb -->

		<script type="text/javascript"
			src="https://www.thehyundai.com/js/hdmall/co/referCodes.js"></script>

		<!-- top banner -->
		<div id="js-tpl-topBanner" style="display: none"></div>

		<div class="top-wrap sub">
			<div class="top-area-setting">
				<script type="text/javascript"
					src="https://www.thehyundai.com/js/hdmall/dp/dpo/dqSearch.js?ver=040213"></script>

				<script type="text/javascript"
					src="https://www.thehyundai.com/js/hdmall/dp/dpo/dqAutoCompleteNewCommon.js?ver=040213"></script>
				<script type="text/javascript"
					src="https://www.thehyundai.com/js/hdmall/dp/dpo/dqAutoCompleteNew.js?ver=040213"></script>

				<!-- //header -->
			</div>
		</div>

		<!-- container -->
		<div id="container">
			<!-- content-wrap -->
			<div class="content-wrap hasleft myhyundai">
				<!-- left contents -->
				<div class="leftarea">
					<h2>
						<a href="/front/mpf/selectMyPageMain.thd">상세 결과<span>ARTIST's
								PICK</span></a>
					</h2>
					<div class="line"></div>

					<!-- leftmenu -->
					<div class="numbering" style="font-family: 'locator-medium';">
						<p style="display: inline">예약번호 :</p>
						<p style="display: inline" th:text="${info.rid}"></p>
					</div>
					<div class="table-wrap order-addinfo mt20" style="width: 200px;">
						<table>
							<caption></caption>
							<colgroup>
								<col style="width: 70px;">
								<col style="width: 130px;">
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">예약자</th>
									<td colspan="3" th:text="${mem.mName}"></td>
								</tr>
								<tr>
									<th scope="row">립</th>
									<td th:text="${result.lip}"></td>
								</tr>
								<tr>
									<th scope="row">블러쉬</th>
									<td th:text="${result.blush}"></td>
								</tr>

								<tr>
									<th scope="row">페이스</th>
									<td colspan="3" th:text="${result.face}"></td>
								</tr>

							</tbody>
						</table>
					</div>
					<div
						style="text-align: center; margin: 20px 0; margin-right: 30px;">
						<span>결과</span>
					</div>
					<div class="compare" style="margin-right: 30px;">
						<div class="comparison-slider">
							<figure>
								<img th:src="'/beauty/display?fileName=' + ${info.rimg}"
									alt="before">
								<figcaption>Before</figcaption>
							</figure>
							<figure>
								<img th:src="${result.result_img}" alt="after">
								<figcaption>After</figcaption>
							</figure>
						</div>
					</div>
					<!-- //leftmenu -->
				</div>
				<!-- //leftarea -->
				<!-- // left contents -->

				<!-- content -->
				<div class="content">
					<div class="myhyundai-head"></div>
					<div class="myhyundai-main"
						style="margin: 40px 0; font-family: 'notokr-medium';">
						<h3>Make-On 예약 관리</h3>
						<input type="hidden" class="mid" name="mid" id="mid" th:value="${info.mid}">
						<img src="/makeup/img/return.png" onclick="back()"
							style="width: 3%; margin-left: 10px; cursor: pointer;">
					</div>
					<div class="myhyundai-main"
						style="margin: 40px 0; font-family: 'notokr-demilight';">
						<h2>예약 결과</h2>
					</div>
					<div class="tab-block">
						<!-- tab -->
						<ul class="nav nav-tabs2">
							<li class="active" style="width: 33%;" id="lippick"><a>립
									PICK</a></li>

							<li style="width: 33%;" id="blushpick"><a>블러쉬 PICK</a></li>
							<li style="width: 33%;" id="facepick"><a>페이스 PICK</a></li>
						</ul>
					</div>
					<!-- 립파트 -->
					<div class="picklip">
						<div class="selectprod">
							<div class="numbering" style="margin: 20px 0; text-align: center">
								<p
									style="text-align: center; font-weight: bold; font-family: 'locator-regular'; font-size: 20px; color: cadetblue; margin-top: 30px;">
									ARTIST's PICK</p>
							</div>
							<div class="lip_prod">
								<div class="product-list-wrap1"
									style="text-align: center; width: fit-content; margin: 0 auto;">
									<section class="product_wrap">
										<!-- 신상, 단독구성 -->
										<ul class="product_list ea03" id="listUl">
											<li style="margin: 0 0 20px 16px;"><a
												th:href="'/product/detail?code=' + ${lipresult.pcode}">
												<input type="hidden" name="lip_pcode" class="lip_pcode"
														th:value="${lipresult.pcode}" /> <input type="hidden"
														name="lip_opt" class="lip_opt"
														th:value="${lipresult.optname}" /> <input type="hidden"
														name="price" class="price" th:value="${lipresult.pprice}" />
													<input type="hidden" name="pname" class="pname"
														th:value="${lipresult.pname}" /> <input type="hidden"
														name="brand" class="brand" th:value="${lipresult.bname}" />
													<input type="hidden" name="imglink" class="imglink"
														th:value="${lipresult.iloc} + '_600.jpg'" /> <input
														type="hidden" name="rate" class="rate" value="4.5" /> <input
														type="hidden" name="review" class="review" value=" " /> <input
														type="hidden" name="pVolume" class="pVolume"
														th:value="${lipresult.pvolume}" /> <input type="hidden"
														name="ptype" class="ptype" th:value="${lipresult.ptype}" />
													<input type="hidden" name="pingredient" class="pingredient"
														th:value="${lipresult.pingredient}" />
													
													<img th:src="${lipresult.iloc} + '_600.jpg'"
													th:alt="${lipresult.pname}"> <span class="hash_tag"
													th:text="${lipresult.bname}"></span> <span class="tit"
													th:text="${lipresult.pname}" style="height: 54px;"></span>
													<span class="kind" th:text="${lipresult.optname}"></span> <span
													class="rating"> </span> <span class="price"> <span
														class="after">[[${#numbers.formatInteger(lipresult.pprice,
															3, 'COMMA')}]]<em>원</em>
													</span>
												</span>
											</a>
												<div class="over">
													
													<button class="detailview" onclick="put()">비교함 담기</button>
													<button class="addcart basket" onclick="addCart()">장바구니
														담기</button>
												</div></li>
										</ul>
									</section>
								</div>
							</div>
						</div>
						<div class="simlip">
							<div class="makeupwrapper"
								style="margin-bottom: 100px; width: 900px;">
								<div class="swiper-container">
									<div class="swiper-wrapper" style="height: 440px;">
										<div class="swiper-slide" th:each="simlip : ${simlip}"
											style="width: 284px; height: 437px; margin-right: 24px;">
											<section class="product_wrap">
												<ul class="product_list ea03" id="listUl">
													<li style="margin: 0 0 20px 16px;"><a
														th:href="'/product/detail?code=' + ${simlip.pcode}"> 
														
														<input type="hidden" name="pcode" class="pcode"
														th:value="${simlip.pcode}" /> <input type="hidden"
														name="opt" class="opt"
														th:value="${simlip.optname}" /> <input type="hidden"
														name="price" class="price" th:value="${simlip.pprice}" />
													<input type="hidden" name="pname" class="pname"
														th:value="${simlip.pname}" /> <input type="hidden"
														name="brand" class="brand" th:value="${simlip.bname}" />
													<input type="hidden" name="imglink" class="imglink"
														th:value="${simlip.iloc} + '_600.jpg'" /> <input
														type="hidden" name="rate" class="rate" value="4.5" /> <input
														type="hidden" name="review" class="review" value=" " /> <input
														type="hidden" name="pVolume" class="pVolume"
														th:value="${simlip.pvolume}" /> <input type="hidden"
														name="ptype" class="ptype" th:value="${simlip.ptype}" />
													<input type="hidden" name="pingredient" class="pingredient"
														th:value="${simlip.pingredient}" />
														
														<img
															th:src="${simlip.iloc} + '_600.jpg'"
															th:alt="${simlip.pname}"> <span class="hash_tag"
															th:text="${simlip.bname}"></span> <span class="tit"
															th:text="${simlip.pname}" style="height: 54px;"></span> <span
															class="kind" th:text="${simlip.optname}"></span> <span
															class="rating"> </span> <span class="price"> <span
																class="after">[[${#numbers.formatInteger(simlip.pprice,
																	3, 'COMMA')}]]<em>원</em>
															</span>
														</span>
													</a>
														<div class="over">
															<button class="detailview" onclick="put()">비교함
																담기</button>
															<button 
																class="addcart basket" onclick="addCart()">장바구니
																담기</button>
														</div></li>
												</ul>
											</section>
										</div>
									</div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
								<!-- before after -->
							</div>
						</div>
					</div>
					<!-- /립파트 -->
					<!-- 블러쉬파트 -->
					<div class="pickblush" style="display: none;">
						<div class="selectprod">
							<div class="numbering" style="margin: 20px 0; text-align: center">
								<p
									style="text-align: center; font-weight: bold; font-family: 'locator-regular'; font-size: 20px; color: cadetblue; margin-top: 30px;">
									ARTIST's PICK</p>
							</div>
							<div class="lip_prod">
								<div class="product-list-wrap1"
									style="text-align: center; width: fit-content; margin: 0 auto;">
									<section class="product_wrap">
										<!-- 신상, 단독구성 -->
										<ul class="product_list ea03" id="listUl">
													<li style="margin: 0 0 20px 16px;"><a
														th:href="'/product/detail?code=' + ${blushresult.pcode}"> 
														
														<input type="hidden" name="pcode" class="pcode"
														th:value="${blushresult.pcode}" /> <input type="hidden"
														name="opt" class="opt"
														th:value="${blushresult.optname}" /> <input type="hidden"
														name="price" class="price" th:value="${blushresult.pprice}" />
													<input type="hidden" name="pname" class="pname"
														th:value="${blushresult.pname}" /> <input type="hidden"
														name="brand" class="brand" th:value="${blushresult.bname}" />
													<input type="hidden" name="imglink" class="imglink"
														th:value="${blushresult.iloc} + '_600.jpg'" /> <input
														type="hidden" name="rate" class="rate" value="4.5" /> <input
														type="hidden" name="review" class="review" value=" " /> <input
														type="hidden" name="pVolume" class="pVolume"
														th:value="${blushresult.pvolume}" /> <input type="hidden"
														name="ptype" class="ptype" th:value="${blushresult.ptype}" />
													<input type="hidden" name="pingredient" class="pingredient"
														th:value="${blushresult.pingredient}" />
														
														<img
															th:src="${blushresult.iloc} + '_600.jpg'"
															th:alt="${blushresult.pname}"> <span class="hash_tag"
															th:text="${blushresult.bname}"></span> <span class="tit"
															th:text="${blushresult.pname}" style="height: 54px;"></span> <span
															class="kind" th:text="${blushresult.optname}"></span> <span
															class="rating"> </span> <span class="price"> <span
																class="after">[[${#numbers.formatInteger(blushresult.pprice,
																	3, 'COMMA')}]]<em>원</em>
															</span>
														</span>
													</a>
														<div class="over">
															<button class="detailview" onclick="put()">비교함
																담기</button>
															<button 
																class="addcart basket" onclick="addCart()">장바구니
																담기</button>
														</div></li>
												</ul>
											</section>
								</div>
							</div>
						</div>
						<div class="simblush">
							<div class="makeupwrapper"
								style="margin-bottom: 100px; width: 900px;">
								<div class="swiper-container">
									<div class="swiper-wrapper" style="height: 440px;">
										<div class="swiper-slide" th:each="simblush : ${simblush}"
											style="width: 284px; height: 437px; margin-right: 24px;">
											<section class="product_wrap">
												<ul class="product_list ea03" id="listUl">
													<li style="margin: 0 0 20px 16px;"><a
														th:href="'/product/detail?code=' + ${simblush.pcode}"> 
														
														<input type="hidden" name="pcode" class="pcode"
														th:value="${simblush.pcode}" /> <input type="hidden"
														name="opt" class="opt"
														th:value="${simblush.optname}" /> <input type="hidden"
														name="price" class="price" th:value="${simblush.pprice}" />
													<input type="hidden" name="pname" class="pname"
														th:value="${simblush.pname}" /> <input type="hidden"
														name="brand" class="brand" th:value="${simblush.bname}" />
													<input type="hidden" name="imglink" class="imglink"
														th:value="${simblush.iloc} + '_600.jpg'" /> <input
														type="hidden" name="rate" class="rate" value="4.5" /> <input
														type="hidden" name="review" class="review" value=" " /> <input
														type="hidden" name="pVolume" class="pVolume"
														th:value="${simblush.pvolume}" /> <input type="hidden"
														name="ptype" class="ptype" th:value="${simblush.ptype}" />
													<input type="hidden" name="pingredient" class="pingredient"
														th:value="${simblush.pingredient}" />
														
														<img
															th:src="${simblush.iloc} + '_600.jpg'"
															th:alt="${simblush.pname}"> <span class="hash_tag"
															th:text="${simblush.bname}"></span> <span class="tit"
															th:text="${simblush.pname}" style="height: 54px;"></span> <span
															class="kind" th:text="${simblush.optname}"></span> <span
															class="rating"> </span> <span class="price"> <span
																class="after">[[${#numbers.formatInteger(simblush.pprice,
																	3, 'COMMA')}]]<em>원</em>
															</span>
														</span>
													</a>
														<div class="over">
															<button class="detailview" onclick="put()">비교함
																담기</button>
															<button 
																class="addcart basket" onclick="addCart()">장바구니
																담기</button>
														</div></li>
												</ul>
											</section>
										</div>
									</div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
								<!-- before after -->
							</div>
						</div>
					</div>
					<!-- /블러쉬파트 -->
					<!-- 파데파트 -->
					<div class="pickface" style="display: none;">
						<div class="selectprod">
							<div class="numbering" style="margin: 20px 0; text-align: center">
								<p
									style="text-align: center; font-weight: bold; font-family: 'locator-regular'; font-size: 20px; color: cadetblue; margin-top: 30px;">
									ARTIST's PICK</p>
							</div>
							<div class="face_prod">
								<div class="product-list-wrap1"
									style="text-align: center; width: fit-content; margin: 0 auto;">
									<section class="product_wrap">
										<!-- 신상, 단독구성 -->
										<ul class="product_list ea03" id="listUl">
													<li style="margin: 0 0 20px 16px;"><a
														th:href="'/product/detail?code=' + ${faceresult.pcode}"> 
														
														<input type="hidden" name="pcode" class="pcode"
														th:value="${faceresult.pcode}" /> <input type="hidden"
														name="opt" class="opt"
														th:value="${faceresult.optname}" /> <input type="hidden"
														name="price" class="price" th:value="${faceresult.pprice}" />
													<input type="hidden" name="pname" class="pname"
														th:value="${faceresult.pname}" /> <input type="hidden"
														name="brand" class="brand" th:value="${faceresult.bname}" />
													<input type="hidden" name="imglink" class="imglink"
														th:value="${faceresult.iloc} + '_600.jpg'" /> <input
														type="hidden" name="rate" class="rate" value="4.5" /> <input
														type="hidden" name="review" class="review" value=" " /> <input
														type="hidden" name="pVolume" class="pVolume"
														th:value="${faceresult.pvolume}" /> <input type="hidden"
														name="ptype" class="ptype" th:value="${faceresult.ptype}" />
													<input type="hidden" name="pingredient" class="pingredient"
														th:value="${faceresult.pingredient}" />
														
														<img
															th:src="${faceresult.iloc} + '_600.jpg'"
															th:alt="${faceresult.pname}"> <span class="hash_tag"
															th:text="${faceresult.bname}"></span> <span class="tit"
															th:text="${faceresult.pname}" style="height: 54px;"></span> <span
															class="kind" th:text="${faceresult.optname}"></span> <span
															class="rating"> </span> <span class="price"> <span
																class="after">[[${#numbers.formatInteger(faceresult.pprice,
																	3, 'COMMA')}]]<em>원</em>
															</span>
														</span>
													</a>
														<div class="over">
															<button class="detailview" onclick="put()">비교함
																담기</button>
															<button 
																class="addcart basket" onclick="addCart()">장바구니
																담기</button>
														</div></li>
												</ul>
											</section>
								</div>
							</div>
						</div>
						<div class="simface">
							<div class="makeupwrapper"
								style="margin-bottom: 100px; width: 900px;">
								<div class="swiper-container">
									<div class="swiper-wrapper" style="height: 440px;">
										<div class="swiper-slide" th:each="simface : ${simface}"
											style="width: 284px; height: 437px; margin-right: 24px;">
											<section class="product_wrap">
												<ul class="product_list ea03" id="listUl">
													<li style="margin: 0 0 20px 16px;"><a
														th:href="'/product/detail?code=' + ${simface.pcode}"> 
														
														<input type="hidden" name="pcode" class="pcode"
														th:value="${simface.pcode}" /> <input type="hidden"
														name="opt" class="opt"
														th:value="${simface.optname}" /> <input type="hidden"
														name="price" class="price" th:value="${simface.pprice}" />
													<input type="hidden" name="pname" class="pname"
														th:value="${simface.pname}" /> <input type="hidden"
														name="brand" class="brand" th:value="${simface.bname}" />
													<input type="hidden" name="imglink" class="imglink"
														th:value="${simface.iloc} + '_600.jpg'" /> <input
														type="hidden" name="rate" class="rate" value="4.5" /> <input
														type="hidden" name="review" class="review" value=" " /> <input
														type="hidden" name="pVolume" class="pVolume"
														th:value="${simface.pvolume}" /> <input type="hidden"
														name="ptype" class="ptype" th:value="${simface.ptype}" />
													<input type="hidden" name="pingredient" class="pingredient"
														th:value="${simface.pingredient}" />
														
														<img
															th:src="${simface.iloc} + '_600.jpg'"
															th:alt="${simface.pname}"> <span class="hash_tag"
															th:text="${simface.bname}"></span> <span class="tit"
															th:text="${simface.pname}" style="height: 54px;"></span> <span
															class="kind" th:text="${simface.optname}"></span> <span
															class="rating"> </span> <span class="price"> <span
																class="after">[[${#numbers.formatInteger(simface.pprice,
																	3, 'COMMA')}]]<em>원</em>
															</span>
														</span>
													</a>
														<div class="over">
															<button class="detailview" onclick="put()">비교함
																담기</button>
															<button 
																class="addcart basket" onclick="addCart()">장바구니
																담기</button>
														</div></li>
												</ul>
											</section>
										</div>
									</div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
								<!-- before after -->
							</div>
						</div>
					</div>
					<!-- /파데파트 -->
				</div>
				<!-- //content -->
			</div>
			<!-- //content-wrap -->
		</div>
		<div class="include-footer" th:insert="~{include/footer2}"></div>
	</div>
	<!-- //wrap -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
$('#lippick').click(function(){
	$('ul.nav-tabs2 li').removeClass('active');
    $(this).addClass('active');
	$('.picklip').css('display','block');
	$('.pickblush').css('display','none');
	$('.pickface').css('display','none');
})
$('#blushpick').click(function(){
	$('ul.nav-tabs2 li').removeClass('active');
    $(this).addClass('active');
	$('.picklip').css('display','none');
	$('.pickblush').css('display','block');
	$('.pickface').css('display','none');
})
$('#facepick').click(function(){
	$('ul.nav-tabs2 li').removeClass('active');
    $(this).addClass('active');
	$('.picklip').css('display','none');
	$('.pickblush').css('display','none');
	$('.pickface').css('display','block');
})
</script>
	<script>
	// 결과 비포에프터 비교 스크립트
	document.querySelectorAll(".comparison-slider").forEach((element) => {
    const slider = document.createElement("div");
    const resizeElement = element.getElementsByTagName("figure")[1];
    if (!resizeElement) return;
    const figcaption = {
        first: element.getElementsByTagName("figcaption")[0],
        second: element.getElementsByTagName("figcaption")[1],
    };
    const arrow = document.createElementNS("http://www.w3.org/2000/svg", "svg");
    const path = document.createElementNS("http://www.w3.org/2000/svg", "path");

    let ticking = false;

    const slide = (event) => {
        if (!ticking) {
            ticking = true;
            requestAnimationFrame(() => {
                ticking = false;

                // sliding image
                const clientX = event.clientX ?? event.touches[0].clientX;
                const x = clientX - element.offsetLeft;
                let percentage = ((x / element.offsetWidth) * 10000) / 100;

                if (percentage >= 100) {
                    percentage = 100;
                }
                if (percentage <= 0) {
                    percentage = 0;
                }

                slider.style.left = `${percentage}%`;
                resizeElement.style.clipPath = `polygon(${percentage}% 0, 100% 0, 100% 100%, ${percentage}% 100%)`;

                // hiding figcaption
                if (figcaption.first) {
                    if (x <= figcaption.first.offsetWidth) {
                        figcaption.first.classList.add("hide");
                    } else {
                        figcaption.first.classList.remove("hide");
                    }
                }

                if (figcaption.second) {
                    if (
                        element.offsetWidth - x <=
                        figcaption.second.offsetWidth
                    ) {
                        figcaption.second.classList.add("hide");
                    } else {
                        figcaption.second.classList.remove("hide");
                    }
                }
            });
        }
    };
    const dragStart = () => {
        element.addEventListener("mousemove", slide, { passive: true });
        element.addEventListener("touchmove", slide, { passive: true });
        element.classList.add("dragging");
    };
    const dragDone = () => {
        element.removeEventListener("mousemove", slide);
        element.removeEventListener("touchmove", slide);
        element.classList.remove("dragging");
    };

    slider.addEventListener("mousedown", dragStart, { passive: true });
    slider.addEventListener("touchstart", dragStart, { passive: true });

    document.addEventListener("mouseup", dragDone, { passive: true });
    document.addEventListener("touchend", dragDone, { passive: true });
    document.addEventListener("touchcancel", dragDone, { passive: true });

    slider.classList.add("slider");
    arrow.setAttribute("display", "none");
    arrow.setAttribute("width", "20");
    arrow.setAttribute("height", "20");
    arrow.setAttribute("viewBox", "0 0 30 30");
    path.setAttribute(
        "d",
        "M1,14.9l7.8-7.6v4.2h12.3V7.3l7.9,7.6l-7.9,7.7v-4.2H8.8v4.2L1,14.9z"
    );
    //arrow.append(path);
    //slider.append(arrow);

    //element.append(slider);
});
	</script>
<script>
	function put() {
	    const clickedButton = event.currentTarget;
	    const clickedLi = clickedButton.closest('li');
	    
	    const pcode = clickedLi.querySelector(".pcode").value;
	    const opt = clickedLi.querySelector(".opt").value;
	    const price = clickedLi.querySelector(".price").value;
	    const pname = clickedLi.querySelector(".pname").value;
	    const brand = clickedLi.querySelector(".brand").value;
	    const imglink = clickedLi.querySelector(".imglink").value;
	    const rate = clickedLi.querySelector(".rate").value;
	    const review = clickedLi.querySelector(".review").value;
	    const pVolume = clickedLi.querySelector(".pVolume").value;
	    const ptype = clickedLi.querySelector(".ptype").value;
	    const pingredient = clickedLi.querySelector(".pingredient").value;
	    
	    console.log(pcode);
	    console.log(pname);

	    let arr = JSON.parse(localStorage.getItem("arr")) || []; // null일 경우 빈 배열 생성

	    if (arr.length >= 10) {
	        alert("비교함에는 10개의 상품을 담을 수 있습니다.");
	        return false;
	    }

	    if (arr.some(item => item[0] === pcode)) { // 이미 비교함에 추가된 상품인 경우
	        alert("이미 비교함에 담긴 상품입니다.");
	    } else {
	        arr.push([pcode, pname, brand, price, imglink, rate, review, pVolume, ptype, pingredient]); // 상품 정보 저장
	        localStorage.setItem("arr", JSON.stringify(arr));
	        alert("비교함에 담겼습니다.");
	    }
	    console.log("비교함에 담음");

	    // show the content of the corresponding li element
	    const content = clickedLi.textContent.trim();
	    console.log("The content of the corresponding li element is:", content);
	    //담았으면 옆에 사이드바에 띄워줘야 함
	}
</script>

	<script>
	function addCart() {
		console.log('장바구니 담기');
		const clickedButton = event.currentTarget;
		const clickedLi = clickedButton.closest('li');
		var pCode = clickedLi.querySelector(".pcode").value;
		var pOption = clickedLi.querySelector(".opt").value;
		var pAmount = 1;
		var mid = document.getElementById('mid').value;
		console.log(mid);
		const pname = clickedLi.querySelector(".pname").value;
    console.log(pname+" 이름");

		console.log(pOption);
		
		if (mid !='anonymousUser'){
			var requestData = JSON.stringify({
				pcode : pCode,
				poption : pOption,
			  pamount : pAmount,
			  mid  :mid
		});
		//로그인 여부 확인 
		//중복 상품 확인
		
		console.log(requestData);

		 $.ajax({
			url: '/restcart/addCart',
			type: 'post',
			data: requestData,
			contentType: "application/json",
			success	: function(result){
				console.log("장바구니 success");
				if(result == '0'){
					alert("장바구니에 추가를 하지 못하였습니다.");
				} else if(result == '1'){
					alert("장바구니에 추가되었습니다.");
				} else if(result == '2'){
					alert("이미 장바구니에 담긴 상품으로 수량이 추가되었습니다.");
				} 
			},
			error :function(request, status, error) {
				console.log(error);
			}
		}); 
		}else {
			console.log("로그인 필요");
			alert('장바구니는 로그인이 필요합니다.');
			var loginUrl = "/member/login";
			window.location.href = loginUrl;
		}
		
	}
	</script>

	<style>
button.addcart.basket {
	background: url(/img/cart.png) !important;
	width: 56px !important;
	height: 56px !important;
	background-size: 56px !important;
}

button.detailview {
	background-image: url(/img/plus.png) !important;
	width: 56px !important;
	height: 56px !important;
	background-size: 56px !important;
	background: rgba(0, 0, 0, 0) !important;
	border-radius: 50px !important;
	background-image: url(/img/plus.png) !important;
	background-size: 56px !important;
	opacity: 0.85;
}

.product_wrap .product_list .over button:first-child {
	background-image: url(/img/plus.png) !important;
	background-size: 56px !important;
	opacity: 0.85;
}
</style>
</body>
</html>