<html xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="~{include/head}"></head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1.0" />
<title>더현대닷컴</title>
<style>
header#header {
	background: none;
	height: auto;
}

button.addcart.basket {
	background:
		url(https://www.larocheposay.co.kr/images/product/bg_product_sp.png)
		-444px 0 no-repeat;
}

button.detailview {
	background-image: url(/makeup/img/plus.png);
	width: 56px;
	height: 56px;
	background-size: 56px;
}
</style>
<link rel="stylesheet" type="text/css"
	href="https://image.thehyundai.com/pc/cssssl/font.css" />
<link rel="stylesheet" type="text/css"
	href="/makeup/css/mypage_result.css">
<link rel="stylesheet" type="text/css"
	href="https://image.thehyundai.com/pc/cssssl/co.css?ver=13" />
<link rel="stylesheet" type="text/css"
	href="https://image.thehyundai.com/pc/cssssl/wf.css" />
<link rel="stylesheet" type="text/css"
	href="../../static/css/makeup_result.css" />
<script src="https://image.thehyundai.com/pc/js/jquery-1.11.3.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-ui.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/jquery-migrate.min.js"></script>
<script src="https://image.thehyundai.com/pc/js/plugin.js?ver=040213"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/hdmall/co/jquery.form.js"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/hdmall/co/default.js?ver=040213"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/hdmall/co/common.js?ver=040213"></script>
<script src="https://image.thehyundai.com/pc/js/common.js?ver=040213"></script>
<script type="text/javascript"
	src="https://image.thehyundai.com/pc/js/swiper.min.js?ver=040213"></script>
<style type="text/css">
.fancybox-margin {
	margin-right: 17px;
}
</style>
<link rel="stylesheet" type="text/css"
	href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" />
<style type="text/css">
.fancybox-margin {
	margin-right: 0px;
}
</style>
<style type="text/css">
.fancybox-margin {
	margin-right: 21px;
}
</style>
</head>
<script>
document.addEventListener("DOMContentLoaded", function() {

    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        slidesPerGroup: 3,
        observer: true,
        observeParents: true,
        spaceBetween: 24,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            1280: {
                slidesPerView: 3,
                slidesPerGroup: 3,
            },
            720: {
                slidesPerView: 1,
                slidesPerGroup: 1,
            }
        }
    });
    
});

function back() {
	history.go(-1); 
}
</script>
<body oncontextmenu="return false" ondragstart="return false"
	onselectstart="return false">
	<!-- wrap -->
	<div id="wrap" class="sub">
		<header id="header" th:insert="~{include/header}"></header>
		<!-- gnb -->

		<script type="text/javascript"
			src="https://www.thehyundai.com/js/hdmall/co/referCodes.js"></script>

		<!-- top banner -->
		<div id="js-tpl-topBanner" style="display: none"></div>

		<div class="top-wrap sub">
			<div class="top-area-setting">
				<script type="text/javascript"
					src="https://www.thehyundai.com/js/hdmall/dp/dpo/dqSearch.js?ver=040213"></script>

				<script type="text/javascript"
					src="https://www.thehyundai.com/js/hdmall/dp/dpo/dqAutoCompleteNewCommon.js?ver=040213"></script>
				<script type="text/javascript"
					src="https://www.thehyundai.com/js/hdmall/dp/dpo/dqAutoCompleteNew.js?ver=040213"></script>

				<!-- //header -->
			</div>
		</div>

		<!-- container -->
		<div id="container">
			<!-- content-wrap -->
			<div class="content-wrap hasleft myhyundai">
				<!-- left contents -->
				<div class="leftarea">
					<h2>
						<a href="/front/mpf/selectMyPageMain.thd">상세 결과<span>ARTIST's
								PICK</span></a>
					</h2>
					<div class="line"></div>

					<!-- leftmenu -->
					<div class="numbering" style="font-family: 'locator-medium';">
						<p style="display: inline">예약번호 :</p>
						<p style="display: inline">57</p>
					</div>
					<div class="table-wrap order-addinfo mt20" style="width: 200px;">
						<table>
							<caption></caption>
							<colgroup>
								<col style="width: 70px;">
								<col style="width: 130px;">
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">예약자</th>
									<td colspan="3" th:text="${mem.mName}"></td>
								</tr>
								<tr>
									<th scope="row">립</th>
									<td th:text="${result.lip}"></td>
								</tr>
								<tr>
									<th scope="row">블러쉬</th>
									<td th:text="${result.blush}"></td>
								</tr>

								<tr>
									<th scope="row">페이스</th>
									<td colspan="3" th:text="${result.face}"></td>
								</tr>

							</tbody>
						</table>
					</div>
					<div
						style="text-align: center; margin: 20px 0; margin-right: 30px;">
						<span>결과</span>
					</div>
					<div class="compare" style="margin-right: 30px;">
						<div class="comparison-slider">
							<figure>
								<img th:src="'/beauty/display?fileName=' + ${info.rimg}"
									alt="before">
								<figcaption>Before</figcaption>
							</figure>
							<figure>
								<img th:src="${result.result_img}" alt="after">
								<figcaption>After</figcaption>
							</figure>
						</div>
					</div>
					<!-- //leftmenu -->
				</div>
				<!-- //leftarea -->
				<!-- // left contents -->

				<!-- content -->
				<div class="content">
					<div class="myhyundai-head"></div>
					<div class="myhyundai-main"
						style="margin: 40px 0; font-family: 'notokr-medium';">
						<h3>Make-On 예약 관리</h3>
						<img src="/makeup/img/return.png" onclick="back()"
							style="width: 3%; margin-left: 10px; cursor: pointer;">
					</div>
					<div class="myhyundai-main"
						style="margin: 40px 0; font-family: 'notokr-demilight';">
						<h2>예약 결과</h2>
					</div>
					<div class="tab-block">
						<!-- tab -->
						<ul class="nav nav-tabs2">
							<li class="active" style="width: 33%;" id="lippick"><a>립
									PICK</a></li>

							<li style="width: 33%;" id="blushpick"><a>블러쉬 PICK</a></li>
							<li style="width: 33%;" id="facepick"><a>페이스 PICK</a></li>
						</ul>
					</div>
					<!-- 립파트 -->
					<div class="picklip">
						<div class="selectprod">
							<div class="numbering" style="margin: 20px 0; text-align: center">
								<p
									style="text-align: center; font-weight: bold; font-family: 'locator-regular'; font-size: 20px; color: cadetblue; margin-top: 30px;">
									ARTIST's PICK</p>
							</div>
							<form method="post" enctype="multipart/form-data"
								action="/makeup/makeup_send">
								<div class="lip_prod">
									<div class="product-list-wrap1"
										style="text-align: center; width: fit-content; margin: 0 auto;">
										<section class="product_wrap">
											<!-- 신상, 단독구성 -->
											<ul class="product_list ea03" id="listUl">
												<li style="margin: 0 0 20px 16px;"><a
													th:href="'/product/detail?code=' + ${lipresult.pcode}">
														<img th:src="${lipresult.iloc} + '_600.jpg'"
														th:alt="${lipresult.pname}"> <input type="hidden"
														name="lip_pcode" class="lip_pcode"
														th:value="${lipresult.pcode}" /> <input type="hidden"
														name="lip_opt" class="lip_opt"
														th:value="${lipresult.optname}" /> <span class="hash_tag"
														th:text="${lipresult.bname}"></span> <span class="tit"
														th:text="${lipresult.pname}" style="height: 54px;"></span>
														<span class="kind" th:text="${lipresult.optname}"></span>
														<span class="rating"> </span> <span class="price">
															<span class="after">[[${#numbers.formatInteger(lipresult.pprice,
																3, 'COMMA')}]]<em>원</em>
														</span>
													</span>
												</a>
													<div class="over">
														<button class="detailview">자세히보기</button>
														<button data-price="${lipresult.pprice}"
															data-linename="${lipresult.pname}"
															data-sapcode="${lipresult.pname}" data-category="20"
															class="addcart basket">장바구니 담기</button>
													</div></li>
											</ul>
										</section>
									</div>
								</div>
							</form>
						</div>
						<div class="simlip">
							<div class="makeupwrapper"
								style="margin-bottom: 100px; width: 900px;">
								<div class="swiper-container">
									<div class="swiper-wrapper" style="height: 440px;">
										<div class="swiper-slide" th:each="simlip : ${simlip}"
											style="width: 284px; height: 437px; margin-right: 24px;">
											<section class="product_wrap">
												<ul class="product_list ea03" id="listUl">
													<li style="margin: 0 0 20px 16px;"><a
														th:href="'/product/detail?code=' + ${simlip.pcode}"> <img
															th:src="${simlip.iloc} + '_600.jpg'"
															th:alt="${simlip.pname}"> <input type="hidden"
															name="lip_pcode" class="lip_pcode"
															th:value="${simlip.pcode}" /> <input type="hidden"
															name="lip_opt" class="lip_opt"
															th:value="${simlip.optname}" /> <span class="hash_tag"
															th:text="${simlip.bname}"></span> <span class="tit"
															th:text="${simlip.pname}" style="height: 54px;"></span> <span
															class="kind" th:text="${simlip.optname}"></span> <span
															class="rating"> </span> <span class="price"> <span
																class="after">[[${#numbers.formatInteger(simlip.pprice,
																	3, 'COMMA')}]]<em>원</em>
															</span>
														</span>
													</a>
														<div class="over">
															<button class="detailview">자세히보기</button>
															<button data-price="${simlip.pprice}"
																data-linename="${simlip.pname}"
																data-sapcode="${simlip.pname}" data-category="20"
																class="addcart basket">장바구니 담기</button>
														</div></li>
												</ul>
											</section>
										</div>
									</div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
								<!-- before after -->
							</div>
						</div>
					</div>
					<!-- /립파트 -->
					<!-- 블러쉬파트 -->
					<div class="pickblush" style="display: none;">
						<div class="selectprod">
							<div class="numbering" style="margin: 20px 0; text-align: center">
								<p
									style="text-align: center; font-weight: bold; font-family: 'locator-regular'; font-size: 20px; color: cadetblue; margin-top: 30px;">
									ARTIST's PICK</p>
							</div>
							<div class="lip_prod">
								<div class="product-list-wrap1"
									style="text-align: center; width: fit-content; margin: 0 auto;">
									<section class="product_wrap">
										<!-- 신상, 단독구성 -->
										<ul class="product_list ea03" id="listUl">
											<li style="margin: 0 0 20px 16px;"><a
												href="/product/detail?code=A1592419"> <img
													th:src="${blushresult.iloc} + '_600.jpg'"
													th:alt="${blushresult.pname}"> <input type="hidden"
													name="blush_pcode" class="blush_pcode"
													th:value="${blushresult.pcode}" /> <input type="hidden"
													name="blush_opt" class="blush_opt"
													th:value="${blushresult.optname}" /> <span
													class="hash_tag" th:text="${blushresult.bname}"></span> <span
													class="tit" style="height: 54px"
													th:text="${blushresult.pname}"></span> <span class="kind"
													th:text="${blushresult.optname}"></span> <span
													class="rating"> </span> <span class="price"> <span
														class="after">[[${#numbers.formatInteger(blushresult.pprice,
															3, 'COMMA')}]]<em>원</em>
													</span>
												</span>
											</a>
												<div class="over">
													<button class="detailview">자세히보기</button>
													<button data-price="45000" data-linename="[나스] 파워매트 립스틱"
														data-sapcode="A1592419" data-category="20"
														class="addcart basket">장바구니 담기</button>
												</div></li>
										</ul>
									</section>
								</div>
							</div>
						</div>
						<div class="simblush">
							<div class="makeupwrapper"
								style="margin-bottom: 100px; width: 900px;">
								<div class="swiper-container">
									<div class="swiper-wrapper" style="height: 440px;">
										<div class="swiper-slide" th:each="simblush : ${simblush}"
											style="width: 284px; height: 437px; margin-right: 24px;">
											<section class="product_wrap">
												<ul class="product_list ea03" id="listUl">
													<li style="margin: 0 0 20px 16px;"><a
														th:href="'/product/detail?code=' + ${simblush.pcode}">
															<img th:src="${simblush.iloc} + '_600.jpg'"
															th:alt="${simblush.pname}"> <input type="hidden"
															name="blush_pcode" class="blush_pcode"
															th:value="${simblush.pcode}"> <input
															type="hidden" name="blush_opt" class="blush_opt"
															th:value="${simblush.optname}"> <span
															class="hash_tag" th:text="${simblush.bname}"> </span> <span
															class="tit" th:value="${simblush.pname}"
															style="height: 54px;" th:text="${simblush.pname}"></span>
															<span class="kind" th:value="${simblush.optname}"
															th:text="${simblush.optname}"></span> <span class="price">
																<span class="after">[[${#numbers.formatInteger(simblush.pprice,
																	3, 'COMMA')}]]<em>원</em>
															</span>
														</span>
													</a>
														<div class="over">
															<button class="detailview">자세히보기</button>
															<button data-price="${simblush.pprice}"
																data-linename="${simblush.pname}"
																data-sapcode="${simblush.pname}" data-category="20"
																class="addcart basket">장바구니 담기</button>
														</div></li>
												</ul>
											</section>
										</div>
									</div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
								<!-- before after -->
							</div>
						</div>
					</div>
					<!-- /블러쉬파트 -->
					<!-- 파데파트 -->
					<div class="pickface" style="display: none;">
						<div class="selectprod">
							<div class="numbering" style="margin: 20px 0; text-align: center">
								<p
									style="text-align: center; font-weight: bold; font-family: 'locator-regular'; font-size: 20px; color: cadetblue; margin-top: 30px;">
									ARTIST's PICK</p>
							</div>
							<div class="face_prod">
								<div class="product-list-wrap1"
									style="text-align: center; width: fit-content; margin: 0 auto;">
									<section class="product_wrap">
										<!-- 신상, 단독구성 -->
										<ul class="product_list ea03" id="listUl">
											<li style="margin: 0 0 20px 16px;"><a
												href="/product/detail?code=A1592419"> <img
													th:src="${faceresult.iloc} + '_600.jpg'"
													th:alt="${faceresult.pname}"> <input type="hidden"
													name="face_pcode" class="face_pcode"
													th:value="${faceresult.pcode}" /> <input type="hidden"
													name="face_opt" class="face_opt"
													th:value="${faceresult.optname}" /> <span class="hash_tag"
													th:text="${faceresult.bname}"></span> <span class="tit"
													style="height: 54px" th:text="${faceresult.pname}"></span>
													<span class="kind" th:text="${faceresult.optname}"></span>
													<span class="rating"> </span> <span class="price"> <span
														class="after">[[${#numbers.formatInteger(faceresult.pprice,
															3, 'COMMA')}]]<em>원</em>
													</span>
												</span>
											</a>
												<div class="over">
													<button class="detailview">자세히보기</button>
													<button data-price="45000" data-linename="[나스] 파워매트 립스틱"
														data-sapcode="A1592419" data-category="20"
														class="addcart basket">장바구니 담기</button>
												</div></li>
										</ul>
									</section>
								</div>
							</div>
						</div>
						<div class="simface">
							<div class="makeupwrapper"
								style="margin-bottom: 100px; width: 900px;">
								<div class="swiper-container">
									<div class="swiper-wrapper" style="height: 440px;">
										<div class="swiper-slide" th:each="simface : ${simface}"
											style="width: 284px; height: 437px; margin-right: 24px;">
											<section class="product_wrap">
												<ul class="product_list ea03" id="listUl">
													<li style="margin: 0 0 20px 16px;"><a
														th:href="'/product/detail?code=' + ${simface.pcode}">
															<img th:src="${simface.iloc} + '_600.jpg'"
															th:alt="${simface.pname}"> <input type="hidden"
															name="face_pcode" class="face_pcode"
															th:value="${simface.pcode}"> <input type="hidden"
															name="face_opt" class="faceopt"
															th:value="${simface.optname}"> <span
															class="hash_tag" th:text="${simface.bname}"></span> <span
															class="tit" th:value="${simface.pname}"
															style="height: 54px;" th:text="${simface.pname}"></span>
															<span class="kind" th:value="${simface.optname}"
															th:text="${simface.optname}"></span> <span class="price">
																<span class="after">[[${#numbers.formatInteger(simface.pprice,
																	3, 'COMMA')}]]<em>원</em>
															</span>
														</span>
													</a>
														<div class="over">
															<button class="detailview">자세히보기</button>
															<button data-price="${simface.pprice}"
																data-linename="${simface.pname}"
																data-sapcode="${simface.pname}" data-category="20"
																class="addcart basket">장바구니 담기</button>
														</div></li>
												</ul>
											</section>
										</div>
									</div>
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
								<!-- before after -->
							</div>
						</div>
					</div>
					<!-- /파데파트 -->
				</div>
				<!-- //content -->
			</div>
			<!-- //content-wrap -->
		</div>
		<div class="include-footer" th:insert="~{include/footer2}"></div>
	</div>
	<!-- //wrap -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
$('#lippick').click(function(){
	$('ul.nav-tabs2 li').removeClass('active');
    $(this).addClass('active');
	$('.picklip').css('display','block');
	$('.pickblush').css('display','none');
	$('.pickface').css('display','none');
})
$('#blushpick').click(function(){
	$('ul.nav-tabs2 li').removeClass('active');
    $(this).addClass('active');
	$('.picklip').css('display','none');
	$('.pickblush').css('display','block');
	$('.pickface').css('display','none');
})
$('#facepick').click(function(){
	$('ul.nav-tabs2 li').removeClass('active');
    $(this).addClass('active');
	$('.picklip').css('display','none');
	$('.pickblush').css('display','none');
	$('.pickface').css('display','block');
})
</script>
	<script>
	// 결과 비포에프터 비교 스크립트
	document.querySelectorAll(".comparison-slider").forEach((element) => {
    const slider = document.createElement("div");
    const resizeElement = element.getElementsByTagName("figure")[1];
    if (!resizeElement) return;
    const figcaption = {
        first: element.getElementsByTagName("figcaption")[0],
        second: element.getElementsByTagName("figcaption")[1],
    };
    const arrow = document.createElementNS("http://www.w3.org/2000/svg", "svg");
    const path = document.createElementNS("http://www.w3.org/2000/svg", "path");

    let ticking = false;

    const slide = (event) => {
        if (!ticking) {
            ticking = true;
            requestAnimationFrame(() => {
                ticking = false;

                // sliding image
                const clientX = event.clientX ?? event.touches[0].clientX;
                const x = clientX - element.offsetLeft;
                let percentage = ((x / element.offsetWidth) * 10000) / 100;

                if (percentage >= 100) {
                    percentage = 100;
                }
                if (percentage <= 0) {
                    percentage = 0;
                }

                slider.style.left = `${percentage}%`;
                resizeElement.style.clipPath = `polygon(${percentage}% 0, 100% 0, 100% 100%, ${percentage}% 100%)`;

                // hiding figcaption
                if (figcaption.first) {
                    if (x <= figcaption.first.offsetWidth) {
                        figcaption.first.classList.add("hide");
                    } else {
                        figcaption.first.classList.remove("hide");
                    }
                }

                if (figcaption.second) {
                    if (
                        element.offsetWidth - x <=
                        figcaption.second.offsetWidth
                    ) {
                        figcaption.second.classList.add("hide");
                    } else {
                        figcaption.second.classList.remove("hide");
                    }
                }
            });
        }
    };
    const dragStart = () => {
        element.addEventListener("mousemove", slide, { passive: true });
        element.addEventListener("touchmove", slide, { passive: true });
        element.classList.add("dragging");
    };
    const dragDone = () => {
        element.removeEventListener("mousemove", slide);
        element.removeEventListener("touchmove", slide);
        element.classList.remove("dragging");
    };

    slider.addEventListener("mousedown", dragStart, { passive: true });
    slider.addEventListener("touchstart", dragStart, { passive: true });

    document.addEventListener("mouseup", dragDone, { passive: true });
    document.addEventListener("touchend", dragDone, { passive: true });
    document.addEventListener("touchcancel", dragDone, { passive: true });

    slider.classList.add("slider");
    arrow.setAttribute("display", "none");
    arrow.setAttribute("width", "20");
    arrow.setAttribute("height", "20");
    arrow.setAttribute("viewBox", "0 0 30 30");
    path.setAttribute(
        "d",
        "M1,14.9l7.8-7.6v4.2h12.3V7.3l7.9,7.6l-7.9,7.7v-4.2H8.8v4.2L1,14.9z"
    );
    //arrow.append(path);
    //slider.append(arrow);

    //element.append(slider);
});
	</script>
	<style>
button.addcart.basket {
	background:
		url(/img/cart.png) !important;
			width: 56px !important;
	height: 56px !important;
	background-size: 56px !important;
}

button.detailview {
	background-image: url(/img/plus.png) !important;
	width: 56px !important;
	height: 56px !important;
	background-size: 56px !important;
	background: rgba(0, 0, 0, 0) !important;
	border-radius: 50px !important;
}

.product_wrap .product_list .over button:first-child {
	background-image: url(/img/plus.png) !important;
	background-size: 56px !important;
	opacity: 0.85;
}
</style>
</body>
</html>