<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hyundai.higher.mapper.product.ProductMapper">

	<!-- 상품 목록 -->
	<select id="productList" resultMap="productMap">
		SELECT p.pcode, p.pname, p.pprice, p.bno, b.bname, dept1no, dept2no, itype, iloc, NVL(r.rates, 0) AS rates, NVL(rcnt, 0) AS rcnt
		FROM (SELECT *
			  FROM product 
			  WHERE dept1no=#{dept1no}
			<if test="dept2no != ''"> 
				AND dept2no=#{dept2no} 
			</if> 
			) p 
		LEFT JOIN brand b ON p.bno=b.bno
		JOIN (SELECT pcode, itype, iloc FROM IMG WHERE itype='thumb') i ON p.pcode=i.pcode
        LEFT JOIN (SELECT pcode, sum(rrate)/count(*)*10 as rates, count(*) as rcnt FROM review GROUP BY pcode) r ON p.pcode=r.pcode  
		ORDER BY PTOTALAMOUNT DESC
	</select>
	
	<!-- 상품 세부 정보 -->
	<select id="productDetailInfo" resultType="com.hyundai.higher.domain.product.ProductDTO">
		SELECT pcode, pname, pprice, p.bno, bname, p.dept1no, p.dept2no, dept2name, pvolume, ptype, pexp, puse, pproduce, pcountry, pcaution, pingredient, rates
		FROM product p JOIN brand b ON p.bno=b.bno
                       JOIN category_dept2 d2 ON p.dept2no=d2.dept2no
		WHERE pcode=#{pcode}
	</select>
	
	<!-- 상품 세부 섬네일 이미지 -->
	<select id="imgThumbList" resultType="com.hyundai.higher.domain.product.ImgDTO">
		SELECT iloc, itype, pcode
		FROM (SELECT pcode, iloc, UPPER(itype) AS itype FROM img)
		WHERE pcode=#{pcode} AND itype='THUMB'
	</select>
	
	<!-- 상품 세부 디테일 이미지 -->
	<select id="imgDetailList" resultType="com.hyundai.higher.domain.product.ImgDTO">
		SELECT iloc, itype, pcode
		FROM (SELECT pcode, iloc, UPPER(itype) AS itype FROM img)
		WHERE pcode=#{pcode} AND itype='DETAIL'
	</select>

	<!-- 상품 세부 옵션 -->
	<select id="optList" resultType="com.hyundai.higher.domain.product.OptionDTO">
		SELECT pcode, optname, optcolor
		FROM poption
		WHERE pcode=#{pcode}
	</select>
	
	<resultMap type="com.hyundai.higher.domain.product.ProductDTO" id="productMap">
		<result property="pcode" column="pcode"/>
		<result property="pname" column="pname"/>
		<result property="pprice" column="pprice"/>
		<result property="bno" column="bno"/>
		<result property="bname" column="bname"/>
		<result property="dept1no" column="dept1no"/>
		<result property="dept2no" column="dept2no"/>
		<result property="rates" column="rates"/>
		<result property="rcnt" column="rcnt"/>		
		<collection property="thumbImgList" resultMap="imgMap"/>
	</resultMap>
	
	<resultMap type="com.hyundai.higher.domain.product.ImgDTO" id="imgMap">
		<result property="pcode" column="pcode"/>
		<result property="itype" column="itype"/>
		<result property="iloc" column="iloc"/>
	</resultMap>
	
	<!-- // 카테고리 목록 이름 -->
	<select id="getDept2name" resultType="com.hyundai.higher.domain.category.CategoryDTO">
		SELECT a.dept1no, dept1name, dept2no, dept2name
		FROM category_dept2 a JOIN category_dept1 b ON a.dept1no=b.dept1no
		WHERE a.dept1no=#{dept1no} AND dept2no=#{dept2no}
	</select>

</mapper>