<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><head>
 <head th:insert="~{include/head}"></head>
<style>
header#header {
	background: none;
	height: auto;
}
</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <title>더현대닷컴 - 현대백화점 공식 온라인몰</title>
    <meta name="description" content="현대백화점, 현대백화점 공식 온라인몰. 의류, 화장품, 잡화, 가전 등 판매">
    <link rel="shortcut icon" href="https://www.thehyundai.com/favicon.ico">
    <link rel="stylesheet" href="https://image.thehyundai.com/pc/cssssl/co.css?ver=20230206">
    <link rel="stylesheet" media="screen" href="https://image.thehyundai.com/pc/cssssl/main_new.css?ver=20230206">
    <link rel="stylesheet" href="https://image.thehyundai.com/pc/cssssl/dp.css">
    <link rel="stylesheet" href="https://image.thehyundai.com/pc/cssssl/font.css">
    <link rel="stylesheet" href="https://image.thehyundai.com/pc/cssssl/animate.min.css">
    <link rel="stylesheet" href="https://image.thehyundai.com/pc/cssssl/swiper.min.css">
    <link rel="stylesheet" href="https://image.thehyundai.com/pc/cssssl/swiper-8.4.5.min.css">
    <!-- <script src="https://image.thehyundai.com/pc/js/jquery-1.11.3.min.js"></script> -->
    <script src="/js/header.js"></script>
    <script src="https://image.thehyundai.com/pc/js/jquery-ui.min.js"></script>
    <script src="https://image.thehyundai.com/pc/js/jquery-migrate.min.js"></script>
    <script src="https://image.thehyundai.com/pc/js/plugin.js"></script>
    <script src="https://image.thehyundai.com/pc/js/swiper-8.4.5.min.js"></script>
    <script src="https://image.thehyundai.com/pc/js/swiper-animation.umd.min.js"></script>
    <script src="https://image.thehyundai.com/pc/js/hdmall/co/jquery.form.js"></script>
    <script src="https://image.thehyundai.com/pc/js/hdmall/co/default.js"></script>
    <script src="https://image.thehyundai.com/pc/js/hdmall/co/common.js"></script>
    <script src="https://image.thehyundai.com/pc/js/common.js"></script>
    <script src="https://image.thehyundai.com/pc/js/sso/SsoHttpRequest.js"></script>
    <script src="https://image.thehyundai.com/pc/js/sso/SsoAjax.js"></script>
    <script src="https://image.thehyundai.com/pc/js/hdmall/dp/main_data_new_tmpl.js?ver=20230206"></script>
    <script src="https://image.thehyundai.com/pc/js/main_util.js"></script>
  
  </head><body>
  <!-- wrap -->
  <div id="wrap" class="main">
   <header id="header" th:insert="~{include/header}"></header>
          <div class="makeuptitle">
            <h2 style="
    text-align: center;
    margin: 30px;
    margin-bottom: 50px;
">Make ON 예약하기</h2>
          </div>
          <div class="reser-grid" style="
    max-width: 1360px;
    min-width: 1360;
    margin: 0 auto;
">
          <div class="reser-wrap" style="
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
">
          <div class="makeupwrap1" style="position: relative;overflow: hidden;width: 550px;">
  <div class="makeup-main" style="text-align: center;filter: brightness(0.5);opacity: 0.9;position: relative;height: 450px;">
      <img src="https://necteltechnologies.com/site/wp-content/uploads/it-consulting.jpeg" style="
      min-width: 600;
      max-width: 600;
      max-height: 450px;
      min-height: 450px;
  ">
  </div>
  <div class="makeupmaintext" style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: left;
    color: white;
">
    <h2 style="
    color: white;
    font-size: 25;
    margin-bottom: 40px;
    text-align: center;
">온라인 프로그램</h2>
    
    
    <p class="text=02" style="
    font-size: 16;
    font-weight: 100;
    margin-bottom: 20;
">⊙ &nbsp;&nbsp;전문 메이크업 아티스트와 1:1 상담</p>
    <p class="text=02" style="
    font-size: 16;
    font-weight: 100;
    margin-bottom: 20;
">⊙ &nbsp;&nbsp;퍼스널 메이크업 컨설팅</p>
    <p class="text=02" style="
    font-size: 16;
    font-weight: 100;
    margin-bottom: 20;
">⊙ &nbsp;&nbsp;어울리는 색조 추천</p>
<p class="text=02" style="font-size: 16;font-weight: 100;margin-bottom: 20;">⊙ &nbsp;&nbsp;제품 추천 목록 전송 및 할인</p>
<p class="text=02" style="font-size: 16;font-weight: 100;margin-bottom: 80;">⊙ &nbsp;&nbsp;가상 메이크업 서비스</p>    
  </div>
  <div class="makeupbtn1" style="
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate( -50%, 0 );
    text-align: center;
">
    <div class="btn_green" style="
    float: left;
    color: white;
    background: #45675B;
    height: 50;
    width: 200;
">
<p style="
    margin-top: 15px;
    font-weight: 100;
    font-size: 16;
     cursor: pointer;
" th:onclick="|location.href='@{/reserv/reserv_online}'|">온라인 서비스 예약</p></div>
    
  </div>
</div>
<div class="makeupwrap1" style="position: relative;overflow: hidden;width: 550px;">
    <div class="makeup-main" style="text-align: center;filter: brightness(0.5);opacity: 0.9;position: relative;height: 450px;">
        <img src="https://carminacristina.com/beta-1/wp-content/uploads/2020/10/MG_1173-Edit-1024x683.jpg" style="
        min-width: 600;
        max-width: 600;
        max-height: 450px;
        min-height: 450px;
    ">
    </div>
    <div class="makeupmaintext" style="
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
      text-align: left;
      color: white;
  ">
      <h2 style="
      color: white;
      font-size: 25;
      margin-bottom: 40px;
      text-align: center;
  ">오프라인 프로그램</h2>
      
      
      <p class="text=02" style="
      margin-bottom: 20;
      font-size: 16;
      font-weight: 100;
  ">⊙ &nbsp;&nbsp;전문 메이크업 아티스트와 1:1 상담</p>
      <p class="text=02" style="
      margin-bottom: 20;
      font-size: 16;
      font-weight: 100;
  ">⊙ &nbsp;&nbsp;퍼스널 메이크업 컨설팅</p>
      <p class="text=02" style="
      margin-bottom: 20;
      font-size: 16;
      font-weight: 100;
  ">⊙ &nbsp;&nbsp;어울리는 색조 추천</p>
  <p class="text=02" style="margin-bottom: 20;font-size: 16;font-weight: 100;">⊙ &nbsp;&nbsp;제품 추천 목록 전송 및 할인</p>
  <p class="text=02" style="font-size: 16;font-weight: 100;margin-bottom: 80;">⊙ &nbsp;&nbsp;직접 방문 및 실사용 가능</p>    
    </div>
    <div class="makeupbtn1" style="
      position: absolute;
      top: 79%;
      left: 50%;
      transform: translate( -50%, 0 );
      text-align: center;
  ">
      <div class="btn_green" style="
      float: left;
      color: white;
      background: #45675B;
      height: 50;
      width: 200;
  ">
  <p style="
      margin-top: 15px;
      font-weight: 100;
      font-size: 16; cursor: pointer;"
       th:onclick="|location.href='@{/reserv/reserv_offline}'|">오프라인 서비스 예약</p></div>
       </div>
       </div>
       </div>
       </div>
       </div>
</body></html>