<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    <section id="chart_box">
      <div class="chart">...//차트에 해당하는 요소들</div>
    </section>

    <button id="btn">123</button>
  </body>

  <script>
    $("#btn").on("click", function () {
      sreenShot($("#chart_box"));
    });

    function sreenShot(target) {
      if (target != null && target.length > 0) {
        var t = target[0];
        html2canvas(t).then(function (canvas) {
          var myImg = canvas.toDataURL("image/png");
          myImg = myImg.replace("data:image/png;base64,", "");

          $.ajax({
            type: "POST",
            data: {
              imgSrc: myImg,
            },
            dataType: "text",
            url: "/public/ImgSaveTest.do",
            success: function (data) {
              console.log(data);
            },
            error: function (a, b, c) {
              alert("error");
            },
          });
        });
      }
    }
  </script>
</html>
