<script src="/js/hanbang/ProductCategory.js"></script>
<script>
        $(function() {
        var options = {};
        options.lang = 'ko';
        options.Lang = 'Ko';
        options.searchCtgrySn = 100000034;
          ProductCategory.init(options);
        });
        function onVueUpdated(vm) {
            $('.select').on('mouseleave', function(evt){
              $('.select > a').removeClass('on');
              $(this).children('ul').slideUp(700);
            });
            $('.ctgryVue .select > a').off('click').on('click', function(e) {
                e.preventDefault();
                $(this).toggleClass('on');
                $(this).next('ul').slideUp(700);
                if($(this).hasClass('on')){
                  $(this).next('ul').slideDown(700);
                }
            });
            $('.ctgryVue .select ul li a').off('click').on('click',function(e){
                e.preventDefault();
                $(this).parents('ul').slideUp(700);
                $(this).parents('.select').children('a').text($(this).text()).focus();
                $('.ctgryVue .select > a').removeClass('on');
            });
            TweenMax.set($('.product_list_2 li'), {y:100, opacity:0 });
            $(window).on('scroll',function() {
                $('.product_list_2').each(function(index){
                  var top = $(this).offset().top;
                  var wTop = $(window).scrollTop();
                var time = 500;
                  if(wTop > top - 1000){
                    TweenMax.to($(this).find('.box_1'),1.2,{opacity:1,y:0,ease: SlowMo.easeOut,delay:0.4});
                    TweenMax.to($(this).find('.box_2'),1.2,{opacity:1,y:0,ease: SlowMo.easeOut,delay:0.7});
                    TweenMax.to($(this).find('.box_3'),1.2,{opacity:1,y:0,ease: SlowMo.easeOut,delay:1.0});
                  }
                });
            });
        // onload
            $('.product_list_2').each(function(index){
              var top = $(this).offset().top;
              var wTop = $(window).scrollTop();
            var time = 500;
              if(wTop > top - 1000){
                TweenMax.to($(this).find('.box_1'),1.2,{opacity:1,y:0,ease: SlowMo.easeOut,delay:0.4});
                TweenMax.to($(this).find('.box_2'),1.2,{opacity:1,y:0,ease: SlowMo.easeOut,delay:0.7});
                TweenMax.to($(this).find('.box_3'),1.2,{opacity:1,y:0,ease: SlowMo.easeOut,delay:1.0});
              }
            });
        };
      </script>
<footer class="cl">
	<div class="inner">
		<ul class="etc">
			<li><a href="/ko/sitemap">SITEMAP</a></li>
			<li><a href="/ko/contact">CONTACT</a></li>
		</ul>
		<ul class="company_infomation">
			<li><span>(주)신세계인터내셔날</span><br> <br> <span>대표이사:
					이길한<br> <br> 주소 : 서울특별시 강남구 도산대로 449 (청담동)
			</span></li>
			<li><span>대표전화 : 1644-4490 </span></li>
			<li>© 2018 SHINSEGAE INTERNATIONAL. ALL RIGHTS RESERVED</li>
		</ul>
		<ul class="sns">
		</ul>
		<a href="#" class="btn_go_top"><img
			src="/images/icon/btn_go_top.png" alt=""></a>
	</div>
</footer>