<header class="fixed up">
	<div class="inner">
		<h1>
			<a href="/ko"><span class="hidden">YUNJAC</span></a>
		</h1>
	</div>
	<div id="gnb">
		<a href="/" class="logo-side"><img src="/img/h-logo.png" style="width: 220px;"
			alt=""></a>
		<!-- 다국어 -->
		<div class="page_infomation">
			<span class="sns_box">
				<ul>
					<li><a
						href="https://www.instagram.com/accounts/login/?next=/yunjac.official/"
						target="_blank"><img src="/images/icon/ico_insta2.png" alt="">Instagram</a></li>
					<li><a
						href="https://www.youtube.com/channel/UCCtd49wSiLElkJNUBTRF-Ww"
						target="_blank"><img src="/images/icon/ico_youtube2.png"
							alt="">Youtube</a></li>
				</ul>
			</span> <span class="lang arrow"> <a href="javascript:;"> KR </a>
				<ul>
					<li><a href="/ko/locale/change">KR</a></li>
					<li><a href="/en/locale/change">EN</a></li>
					<li><a href="/zh/locale/change">CN</a></li>
				</ul>
			</span> <a href="javascript:;" class="go_search btnSearch">검색</a>
		</div>
		<!-- =============== 상단 메뉴 =============== S -->
		<ul class="gnb_inner">
			<!-- NEW 메뉴 -->
			<li id="new_id" class=""><a href="/ko/product/new"><span>NEW</span></a>
			</li>
			<!-- PRODUCT 메뉴 -->
			<!--class="current" -->
			<li id="product_id" class="current"><a href="javascript:;"
				class="sub_link"><span>PRODUCT</span></a>
				<div class="box product_box">
					<div class="inner box_sub" style="width: 1314px;">
						<!-- BEST -->
						<div class="area make_area">
							<a href="javascript:;" style="cursor: default;">BEST</a>
							<ul>
								<li><a href="/ko/product/category/100000034">BEST
										SELLERS</a></li>
								<li><a href="/ko/discover/discover">DISCOVER</a></li>
							</ul>
						</div>
						<!-- SKINCARE -->
						<div class="area skincare_area">
							<a href="javascript:;" style="cursor: default;">SKINCARE</a>
							<div>
								<a href="javascript:;" style="cursor: default;">제품유형별</a>
								<ul>
									<li><a href="/ko/product/category/100000025">토너</a></li>
									<li><a href="/ko/product/category/100000024">에센스,앰플</a></li>
									<li><a href="/ko/product/category/100000017">크림</a></li>
									<li><a href="/ko/product/category/100000020">아이,립</a></li>
									<li><a href="/ko/product/category/100000018">마스크</a></li>
									<li><a href="/ko/product/category/100000026">클렌저</a></li>
									<li><a href="/ko/product/category/100000019">선프로텍션</a></li>
									<li><a href="/ko/product/category/100000021">인텐시브 케어</a></li>
									<li><a href="/ko/product/category/100000016">전체보기</a></li>
								</ul>
							</div>
							<div>
								<a href="javascript:;" style="cursor: default;">피부고민별</a>
								<ul>
									<li><a href="/ko/product/category/100000027">필수케어</a></li>
									<li><a href="/ko/product/category/100000029">안티에이징</a></li>
									<li><a href="/ko/product/category/100000028">화이트닝</a></li>
									<li><a href="/ko/product/category/100000023">리뉴잉</a></li>
									<li><a href="/ko/product/category/100000022">수분 진정</a></li>
									<li><a href="/ko/product/category/100000036">자외선차단</a></li>
									<li><a href="/ko/product/category/100000037">민감성 피부</a></li>
									<li><a href="/ko/product/category/100000011">전체보기</a></li>
								</ul>
							</div>
						</div>
						<!-- MAKE-UP -->
						<div class="area make_area">
							<a href="javascript:;" style="cursor: default;">MAKE-UP</a>
							<ul>
								<li><a href="/ko/product/category/100000015">베이스</a></li>
								<li><a href="/ko/product/category/100000014">파운데이션</a></li>
							</ul>
						</div>
						<!-- MOTHER-BABY -->
						<div class="area">
							<a href="javascript:;" style="cursor: default;">MOTHER &amp;
								BABY</a>
							<ul>
								<li><a href="/ko/product/category/100000012">마더후드</a></li>
								<li><a href="/ko/product/category/100000010">베이비후드</a></li>
							</ul>
						</div>
						<!-- LIFECARE -->
						<div class="area">
							<a href="javascript:;" style="cursor: default;">LIFECARE</a>
							<ul>
								<li><a href="/ko/product/category/100000035">바디</a></li>
							</ul>
						</div>
					</div>
				</div></li>
					<!-- BRAND 메뉴 -->
			<li id="brand_id" class="rel "><a href="/ko/brand/story"
				class="sub_link"><span>SkinMBTI</span></a>
				<div class="box center_box brand_box">
					<div class="inner box_sub">
						<div class="area">
							<a href="/skinMBTI/main2">What Is My Skin Type?
								<div>
									<img src="/images/ex/brand_gnb_01.jpg" alt="">
									<p>
										식물의 자생력을 피부의 자생력으로.<br> 자연의 작품, 연작의 이야기
									</p>
								</div>
							</a>
						</div>
						<div class="area">
							<a href="/ko/brand/koreanHerb">Matching MBTI
								<div>
									<img src="/images/ex/brand_gnb_02.jpg" alt="">
									<p>
										탁월한 아름다움의 비밀,<br> 영험한 한국의 숨은 허브 이야기
									</p>
								</div>
							</a>
						</div>
						<!-- ============= MEDIA 아카이브 신규추가 20201111 ============= S -->
						<div class="area">
							<a href="/similarCos/main">Similar 성분템
								<div>
									<img src="/images/ex/brand_gnb_03.jpg?v2" alt="">
									<p>
										연작이 걸어온 여정을 기록한<br>미디어 아카이브
									</p>
								</div>
							</a>
						</div>
						<!-- ============= MEDIA 아카이브 신규추가 20201111 ============= E -->
					</div>
				</div></li>
			<li id="store_id" class="rel "><a href="/ko/store/offline"
				class="sub_link"><span>STORE</span></a>
				<div class="box center_box store_box">
					<div class="inner box_sub">
						<!-- Offline 서브 메뉴 -->
						<div class="area">
							<a href="/ko/store/offline">Offline
								<div>
									<img src="/images/ex/store_gnb_01.jpg" alt="">
									<p>
										연작을 만날 수 있는<br>오프라인 매장을 소개합니다.
									</p>
								</div>
							</a>
						</div>
						<!-- Online 서브 메뉴 -->
						<div class="area">
							<a href="#"
								target="_blank">Online
								<div>
									<img src="/images/ex/store_gnb_02.jpg" alt="">
									<p>온라인에서도 연작을 만나 보세요.</p>
								</div>
							</a>
							<div class="online_btn_wrap">
								<p class="online_btn">
									<a href="#"
										class="online_link" target="_blank">SSG</a>
								</p>
								<p class="online_btn">
									<a
										href="#"
										class="online_link" target="_blank">SI.VILLAGE</a>
								</p>
							</div>
						</div>
						<!-- Promotion 서브 메뉴 -->
						<div class="area">
							<a href="/ko/promotion/list">Promotion
								<div>
									<img src="/images/ex/store_gnb_03.jpg?v2" alt="">
									<p>연작에서 준비한 프로모션입니다.</p>
								</div>
							</a>
						</div>
					</div>
				</div></li>
		</ul>

	</div>
	<div id="search"></div>
</header>