<!-- CSS only -->


<script>
$(function(){
	$.ajax({
		url: '/category/cateAll',
		type: 'GET',
		success: function(r){
			console.log(r);
			
			// mbti - 건성
			let mbti = r.mbtiDTO;
			
			let mbtiDTag = `<a href="/product/list?dept1=10&stype=D">전체</a>`;
			for(let i=0; i<8; i++){
				mbtiDTag += `<a href="/product/list?dept1=10&stype=` + mbti[i].stype + `">` + mbti[i].stype + `</a>`;
			}
			$('#mbti_d').html(mbtiDTag);
			
			// mbti - 지성
			let mbtiOTag = `<a href="/product/list?dept1=10&stype=O">전체</a>`;
			for(let i=8; i<16; i++){
				mbtiOTag += `<a href="/product/list?dept1=10&stype=` + mbti[i].stype + `">` + mbti[i].stype + `</a>`;
			}
			$('#mbti_o').html(mbtiOTag);
			
			// 스킨케어 - 중분류
			let skin = r.skinDTO;
			let skinTag = `<a href="/product/list?dept1=10">전체</a>`;
			$.each(skin, function(idx, item){
				skinTag += `<a href="/product/list?dept1=10&dept2=` + item.dept2no + `">` + item.dept2name + `</a>`;
			});
			$('#cateSkin').html(skinTag);
			
			// 스킨케어 - 브랜드
			let skinBrand = r.skinBrandDTO;
			let skinBrandTag1 = `<a href="/product/list?dept1=10">전체</a>`;
			let skinBrandTag2 = ``;
			$.each(skinBrand, function(idx, item){
				if(idx < 9){
					skinBrandTag1 += `<a href="/product/list?dept1=10&bno=` + item.bno + `">` + item.bname + `</a>`;
				}else if(idx>10 && idx <= 20){
					skinBrandTag2 += `<a href="/product/list?dept1=10&bno=` + item.bno + `">` + item.bname + `</a>`;
				}
			});
			$('#cateSkinBrand1').html(skinBrandTag1);
			$('#cateSkinBrand2').html(skinBrandTag2);
			
			// 메이크업 - 중분류
			let make = r.makeDTO;
			let makeTag = `<a href="/product/list?dept1=20">전체</a>`;
			$.each(make, function(idx, item){
				makeTag += `<a href="/product/list?dept1=20&dept2=` + item.dept2no + `">` + item.dept2name + `</a>`;
			});
			$('#cateMake').html(makeTag);
			
			// 메이크업 - 브랜드
			let makeBrand = r.makeBrandDTO;
			let makeBrandTag1 = `<a href="/product/list?dept1=20">전체</a>`;
			let makeBrandTag2 = ``;
			$.each(makeBrand, function(idx, item){
				if(idx < 9){
					makeBrandTag1 += `<a href="/product/list?dept1=20&bno=` + item.bno + `">` + item.bname + `</a>`;
				}else if(idx>10 && idx <= 20){
					makeBrandTag2 += `<a href="/product/list?dept1=20&bno=` + item.bno + `">` + item.bname + `</a>`;
				}
			});
			$('#cateMakeBrand1').html(makeBrandTag1);
			$("#cateMakeBrand2").html(makeBrandTag2);
			
			
		},
		error: function(e){
			console.log(e);
		}
	});
});
</script>
<h1 onclick="location.href='/';">The Hyundai Beauty</h1>
<section class="top_nav">
	<nav>
		<ul>
			<!-- 로그인 전 -->
			<li sec:authorize="isAnonymous()"><a href="/member/login">로그인</a></li>
			<li sec:authorize="isAnonymous()"><a href="/member/jointotal">회원가입</a></li>
			<!-- //로그인 후 -->
			<li sec:authorize="isAuthenticated()" class="myinfo"><a
				href="/mypage/mypage_reserv"><strong sec:authentication="principal.mName">회원이름</strong>
					님 <i></i></a>
				<div id="myinfo_layer">
					<dl>
						<dt>
							<span class="text_ellipsis" style="max-width: 75px;" sec:authentication="principal.mName">회원이름</span>
							님의 회원 등급은 <br> <strong>Dermo-beginner</strong> 입니다.
						</dt>
						<dd>
							<span>사용 가능 쿠폰 : <strong> 3</strong>장
							</span> <span>총 보유 마일리지 : <strong> 150</strong>M
							</span>
							<ul>
								<li><a
									href="#">MY
										쇼핑관리</a></li>
								<li><a
									href="#">MY
										정기배송</a></li>
								<li><a
									href="#">MY
										제품관리</a></li>
								<li><a
									href="#">MY
										혜택관리</a></li>
								<li><a
									href="#">MY
										활동관리</a></li>
								<li><a
									href="#">MY
										정보관리</a></li>
								<li><a
									href="#">MY
										피부 민감도</a></li>
							</ul>
						</dd>
					</dl>
				</div></li>
			<li sec:authorize="isAuthenticated()"><a href="/member/logout">로그아웃</a></li>
			<li><a href="#">주문/배송조회</a></li>
			<li><a href="#">고객케어센터</a></li>
		</ul>

	</nav>
</section>
<section class="cf_side">
	<div class="campain">
		<a href="#campain_banner" class="btn_campain">민감성 피부의 삶을 바꾸는 라로슈포제</a>
		<!-- 캠페인 배너  -->
		<div id="campain_banner">
			<ul>
				<li><a
					href="#"><img
						src="https://www.larocheposay.co.kr/images/main/campain_banner_v2_1.jpg"
						alt="더 나은 삶을 위한 민감성 피부의 선택 라로슈포제 - 바로가기"></a></li>
				<li><a
					href="#"><img
						src="https://www.larocheposay.co.kr/images/main/campain_banner_v2_2.jpg"
						alt="전 세계 피부 전문가가 선택한 민감 피부 솔루션 - 바로가기"></a></li>
				<li><a
					href="#"><img
						src="https://www.larocheposay.co.kr/images/main/campain_banner_v2_3.jpg"
						alt="민감한 피부를 개선하는 프랑스 NO.1* 온천 과학 센터의 연구 - 바로가기"></a></li>
				<li><a
					href="#"><img
						src="https://www.larocheposay.co.kr/images/main/campain_banner_v2_4.jpg"
						alt="민감한 피부에도 사용 가능한 저자극 포뮬라 알러지 테스트 완료 - 바로가기"></a></li>
				<li><a href="#"><img
						src="https://www.larocheposay.co.kr/images/main/campain_banner_v2_5.jpg?1"
						alt="라로슈포제만의 개인 맞춤형 피부관리 솔루션 추천 - 바로가기"></a></li>
			</ul>
			<p>* CNETH (Conseil National des exploitants Thermaux, 2010)</p>
		</div>
		<!-- //캠페인 배너  -->
	</div>
	<div class="fastinfo">
	<!-- 	<form id="headerSearchForm"> -->
			<div class="search_cart">
				<div class="search_faq">
					<input type="hidden" value="182" name="seq"> <input
						type="hidden" value="SHA001" name="hitType"> <input
						type="search" title="검색 입력창" name="topSearchKeyword"
						placeholder="유비데아로 촉촉하게 톤업" maxlength="20">
					<button type="button" onclick="topSearchEvent();">
						<span>검색</span>
					</button>
				</div>
				<a href="/shop/mycart"
					class="btn-cart"><span class="hide">장바구니</span><span
					class="count">0</span></a>
			</div>
		<!-- </form> -->
		<div class="hashtag"
			style="display: block-inline; width: 308px; height: 20px; overflow: hidden;">
			<div style="float: left; white-space: nowrap; padding: 0px 308px;">
				<div style="float: left; white-space: nowrap; padding: 0px 308px;">
					<div style="float: left; white-space: nowrap; padding: 0px 308px;">
						<div style="float: left; white-space: nowrap; padding: 0px 308px;">
							<a href="#none" onclick="goKey('전 품목 20% OFF!'); return false;">#전
								품목 20% OFF!</a> <a href="#none"
								onclick="goKey('신제품 무료 체험 이벤트✨'); return false;">#신제품 무료 체험
								이벤트✨</a> <a href="#none"
								onclick="goKey('세트 구매 시 추가 증정🎁'); return false;">#세트 구매 시
								추가 증정🎁</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="gnb_nav">
	<nav>
		<ul class="left">
			<li class=""><a
				href="#"
				onclick="LARO.TagManager.menu(this);" data-menu-name="공식몰 단독혜택"
				data-depth="1"><span>공식몰 단독혜택</span><em>공식몰 단독혜택</em></a>
				<div class="sub_contain" style="opacity: 1; display: none;">
					<div class="menu">
						<ul>
							<li><a
								href="#"
								onclick="LARO.TagManager.menu(this);" data-menu-name="베스트"
								data-depth="2">베스트</a></li>
							<li><a
								href="#"
								onclick="LARO.TagManager.menu(this);" data-menu-name="단독구성"
								data-depth="2">단독구성</a></li>
							<li><a
								href="#"
								class="" onclick="LARO.TagManager.menu(this);"
								data-menu-name="신규회원첫혜택" data-depth="2">신규회원첫혜택</a></li>
							<li><a
								href="#"
								onclick="LARO.TagManager.menu(this);"
								data-menu-name="피부민감도 자가진단" data-depth="2">피부민감도 자가진단</a></li>
						</ul>
					</div>
					<div class="sub_contain_banner">
						<a href="#"
							onclick="LARO.TagManager.menu(this);" data-menu-name="인기샘플키트"
							data-depth="2"> <img
							src="https://www.larocheposay.co.kr/images/main/gnb_banner.jpg?v=36201204202301"
							alt="인기샘플키트">
						</a>
					</div>
				</div> <!-- //sub_contain --></li>
			<li class=""><a
				href="#"
				onclick="LARO.TagManager.menu(this);" data-menu-name="병원판매화장품"
				data-depth="1"> <span>피부타입</span> <em>MBTI TYPE</em>
			</a>
				<div class="sub_contain" style="opacity: 1; display: none;">
					<div class="submenu">
						<dl>
							<dt>
								<a
									href="#">건성</a>
							</dt>
							<dd id="mbti_d"></dd>
						</dl>
					</div>
					<div class="submenu">
						<dl>
							<dt>
								<a
									href="#">지성</a>
							</dt>
							<dd id="mbti_o"></dd>
						</dl>
					</div>
					<div class="sub_contain_button">
						<button type="button" class="btn_base move"
							onclick="location.href='/product/allList.do';">전체 제품 보기</button>
						<button type="button" class="btn_base move"
							onclick="location.href='/skinlife/selfConsult.do';">피부
							MBTI 진단하기</button>
					</div>
					<div class="sub_contain_banner">
						<a
							href="javascript:bannerLink('1238', '/product/view/3738.do', '_self');">
							<span class="product_banner"> <img
								src="https://www.larocheposay.co.kr/upload/product/main/2022/12/20221220_1654046_085_210x210.png"
								alt="에빠끌라 에이치 아이소 바이옴 크림 썸네일"> <span class="tit">에빠끌라</span>
								<span class="kind">H 아이소바이옴 울트라 수딩 하이드레이팅 크림 [병원판매 화장품]</span> <span
								class="price"> <span class="after">29,000<em>원</em></span>
							</span>
						</span>
						</a>
					</div>
				</div></li>
			<li class=""><a href="/product/list?dept1=10"
				data-menu-name="스킨케어" data-depth="1"> <span>스킨케어</span> <em>FACE</em>
			</a>
				<div class="sub_contain" style="opacity: 1; display: none;">
					<div class="submenu">
						<dl>
							<dt>
								<a href="/product/list?dept1=10"> 사용 단계별</a>
							</dt>
							<dd id="cateSkin"></dd>
						</dl>
					</div>
					<div class="submenu" style="margin-right: 0px;">
						<dl>
							<dt>
								<a href="/product/list?dept1=10" data-depth="2">브랜드별</a>
							</dt>
							<dd id="cateSkinBrand1"></dd>
						</dl>
					</div>
					<div class="submenu" style="margin-left: 0px;">
						<dl style="margin-top: 16px;">
							<dt>
								<a href="javascript:void(0);" data-depth="2"></a>
							</dt>
							<dd id="cateSkinBrand2"></dd>
						</dl>
					</div>
					<div class="sub_contain_button">
						<button type="button" class="btn_base move"
							onclick="location.href='/product/list?dept1=10';">전체 제품
							보기</button>
						<button type="button" class="btn_base move"
							onclick="location.href='/skinMBTI/selfConsult';">피부 MBTI
							진단하기</button>
					</div>
					<div class="sub_contain_banner">
						<a
							href="javascript:bannerLink('1239', '/product/view/3862.do', '_self');">
							<span class="product_banner"> <img
								src="https://www.larocheposay.co.kr/upload/product/main/2021/10/20230130_1351020_733_210x210.png"
								alt="에빠끌라 딥 클렌징 포밍 크림"> <span class="tit">에빠끌라</span> <span
								class="kind">딥 클렌징 포밍 크림</span> <span class="price"> <span
									class="after">28,000<em>원</em></span>
							</span>
						</span>
						</a>
					</div>
				</div></li>
			<li class=""><a href="/product/list?dept1=20"> <span>메이크업</span>
					<em>MAKE UP</em>
			</a>
				<div class="sub_contain" style="opacity: 1; display: none;">
					<div class="submenu">
						<dl>
							<dt>
								<a href="/product/list?dept1=20">메이크업</a>
							</dt>
							<dd id="cateMake"></dd>
						</dl>
					</div>

					<div class="submenu" style="margin-right: 0px;">
						<dl>
							<dt>
								<a href="/product/list?dept1=20">브랜드별</a>
							</dt>
							<dd id="cateMakeBrand1"></dd>
						</dl>
					</div>
					<div class="submenu" style="margin-left: 0px;">
						<dl style="margin-top: 16px;">
							<dt>
								<a href="javascript:void(0)"></a>
							</dt>
							<dd id="cateMakeBrand2"></dd>
						</dl>
					</div>
					<div class="sub_contain_button">
						<button type="button" class="btn_base move"
							onclick="location.href='/product/list?dept1=20';">전체 제품
							보기</button>
						<button type="button" class="btn_base move"
							onclick="location.href='/beauty/reserv';">메이크업 상담 예약</button>
					</div>
					<div class="sub_contain_banner">
						<a
							href="javascript:bannerLink('1240', '/product/view/3714.do', '_self');">
							<span class="product_banner"> <img
								src="https://www.larocheposay.co.kr/upload/product/main/2022/10/20221012_1026026_754_210x210.png"
								alt="리피카 윌 라방 (저자극 바디 오일 클렌저)"> <span class="tit">리피카</span>
								<span class="kind">바디 오일 클렌저 대용량 세트</span> <span class="price">
									<span class="after">53,000<em>원</em></span>
							</span>
						</span>
						</a>
					</div>
				</div></li>
			<li class=""><a href="/similarCos/main"> <span>유사성분템</span>
					<em>SIMILAR COSMETICS</em>
			</a>
				<div class="sub_contain" style="opacity: 1; display: none;">
					<div class="submenu">
						<dl>
							<dt>
								<a
									href="#"
									onclick="LARO.TagManager.menu(this);" data-menu-name="피부고민별"
									data-depth="2"> 피부고민별</a>
							</dt>
							<dd>
								<a
									href="#"
									onclick="LARO.TagManager.menu(this);" data-menu-name="전체"
									data-depth="2">전체</a> <a
									href="#"
									onclick="LARO.TagManager.menu(this);" data-menu-name="수분UV케어"
									data-depth="2">수분UV케어</a> <a
									href="#"
									onclick="LARO.TagManager.menu(this);" data-menu-name="톤업UV케어"
									data-depth="2">톤업UV케어</a>
							</dd>
						</dl>
					</div>
					<div class="submenu">
						<dl>
							<dt>
								<a
									href="#"
									onclick="LARO.TagManager.menu(this);" data-menu-name="제품 라인별"
									data-depth="2"> 제품 라인별</a>
							</dt>
							<dd>
								<a
									href="#"
									onclick="LARO.TagManager.menu(this);" data-menu-name="전체"
									data-depth="2">전체</a> <a
									href="#"
									onclick="LARO.TagManager.menu(this);" data-menu-name="유비데아"
									data-depth="2">유비데아</a>
							</dd>
						</dl>
					</div>
					<div class="submenu">
						<dl>
							<dt>
								<a
									href="#"
									onclick="LARO.TagManager.menu(this);" data-menu-name="사용 단계별"
									data-depth="2"> 사용 단계별</a>
							</dt>
							<dd>
								<a
									href="#"
									onclick="LARO.TagManager.menu(this);" data-menu-name="전체"
									data-depth="2">전체</a> <a
									href="#"
									onclick="LARO.TagManager.menu(this);" data-menu-name="UV차단"
									data-depth="2">UV차단</a>
							</dd>
						</dl>
					</div>
					<div class="sub_contain_button">
						<button type="button" class="btn_base move"
							onclick="location.href='/product/allList.do';">전체 제품 보기</button>
						<button type="button" class="btn_base move"
							onclick="location.href='/skinlife/selfConsult.do';">피부
							민감도 자가진단</button>
					</div>
					<div class="sub_contain_banner">
						<a
							href="javascript:bannerLink('1241', '/product/view/3619.do', '_self');">
							<span class="product_banner"> <img
								src="https://www.larocheposay.co.kr/upload/product/main/2020/06/20220124_1552013_147_210x210.png"
								alt="유비데아 XL 틴티드 크림 [톤보정]"> <span class="tit">유비데아</span>
								<span class="kind">안뗄리오스 멜트인 틴티드 크림 [톤보정]</span> <span
								class="price"> <span class="sale">3%</span> <span
									class="before">35,000<em>원</em></span> <span class="after">34,000<em>원</em></span>
							</span>
						</span>
						</a>
					</div>
				</div>
			</li>
			<li><a href="#"
				onclick="LARO.TagManager.menu(this);" data-menu-name="리얼리뷰"
				data-depth="1"><span>리얼리뷰</span><em>REVIEW</em></a>
			</li>
			<li style="margin-left:20px;"><a href="/product/compare"
				onclick="LARO.TagManager.menu(this);" data-menu-name="상품비교하기"
				data-depth="1"><span>상품 비교하기</span><em>COMPARE IT</em></a>
			</li>
		</ul>
		<ul class="right">
			<li class=""><a href="/skinMBTI/selfConsult"><i
					class="ico_new">NEW</i>피부 MBTI</a>
				<div class="sub_contain" style="opacity: 1; display: none;">
					<div class="menu">
						<ul>
							<li><a href="/skinMBTI/selfConsult" data-depth="2">진단하기</a></li>
							<li><a href="/skinMBTI/result?mbti=OSPW" data-depth="2">결과보기</a></li>
						</ul>
					</div>
				</div> <!-- //sub_contain --></li>
			<li class=""><a
				href="#"
				onclick="LARO.TagManager.menu(this);" data-menu-name="이벤트"
				data-depth="1"><span>이벤트</span><em>EVENT</em></a>
				<div class="sub_contain" style="opacity: 1; display: none;">
					<div class="menu">
						<ul>
							<li><a
								href="#"
								onclick="LARO.TagManager.menu(this);" data-menu-name="진행중 이벤트"
								data-depth="2">진행중 이벤트</a></li>
							<li><a
								href="#"
								onclick="LARO.TagManager.menu(this);" data-menu-name="당첨자 발표"
								data-depth="2">당첨자 발표</a></li>
							<li><a
								href="#"
								onclick="LARO.TagManager.menu(this);" data-menu-name="종료된 이벤트"
								data-depth="2">종료된 이벤트</a></li>
						</ul>
					</div>
				</div> <!-- //sub_contain --></li>
			<li class=""><a
				href="#"
				onclick="LARO.TagManager.menu(this);" data-menu-name="쿠폰/멤버십"
				data-depth="1" class="sp-goal-457-c65-35-1627285161700"><span><i
						class="ico"></i>쿠폰/멤버십</span><em>MEMBERSHIP</em></a>
				<div class="sub_contain" style="opacity: 1; display: none;">
					<div class="menu">
						<ul>
							<li><a
								href="#"
								onclick="LARO.TagManager.menu(this);" data-menu-name="라로슈포제 멤버십"
								data-depth="2">라로슈포제 멤버십</a></li>
							<li><a
								href="#"
								onclick="LARO.TagManager.menu(this);" data-menu-name="마일리지 기프트샵"
								data-depth="2">마일리지 기프트샵</a></li>
							<li><a
								href="#"
								onclick="LARO.TagManager.menu(this);" data-menu-name="쿠폰존"
								data-depth="2" class="sp-goal-457-c65-39-1627366488428">쿠폰존</a></li>
							<li><a
								href="#"
								onclick="LARO.TagManager.menu(this);" data-menu-name="제휴 쿠폰존"
								data-depth="2">제휴 쿠폰존</a></li>
						</ul>
					</div>
				</div> <!-- //sub_contain --></li>
		</ul>
	</nav>
</section>

