<footer id="footer">
  <section class="foot_nav">
    <nav>
      <ul class="left">
        <li><a href="https://www.larocheposay.co.kr/noDev/lrpBrandStory.do">ABOUT US</a></li>
        <li><a href="https://www.larocheposay.co.kr/noDev/agreement.do">이용약관</a></li>
        <li><a href="https://www.larocheposay.co.kr/noDev/privacy.do">개인정보처리방침</a></li>
        <!--  <li><a href="https://www.larocheposay.co.kr/noDev/certification.do">정품인증</a></li> -->
        <li class="facebook"><a href="https://www.facebook.com/larocheposayKR" target="_blank"><span
              class="hide">facebook</span></a></li>
        <!-- <li class="instagram"><a href="https://www.instagram.com/larocheposay_korea/" target="_blank"><span class="hide">instagram</span></a></li> -->
        <li class="naver_post"><a href="https://m.post.naver.com/larocheposay_korea" target="_blank"><span
              class="hide">naver post</span></a></li>
        <li class="youtube"><a href="https://www.youtube.com/channel/UCtbZ_cymnMVQwqlwsdl2pFw " target="_blank"><span
              class="hide">youtube</span></a></li>
      </ul>
      <ul class="right">
        <li><a href="https://www.laroche-posay.com/International" target="_blank">GLOBAL SITE</a></li>
      </ul>
    </nav>
  </section>
  <section class="foot_contents">
    <ul class="foot_link">
      <li><span>엘오케이(유)</span></li>
      <li><span>대표 : 사무엘 티보 부티에 뒤 리테일</span></li>
      <li><a href="#foot_link" class="flink_info"><span>사업자 정보 확인</span></a></li>
    </ul>
    <ul class="foot_cs">
      <li>구매/배송/사이트 이용 문의 080-844-0088</li>
      <li>상담 시간 : 평일 09:30 – 17:30</li>
      <li class="bull">점심시간 12:30 – 13:30 / 주말, 법정공휴일 휴무</li>
      <li class="bull">1:1 상담을 이용하시면 보다 신속하게 답변 받으실 수 있습니다.</li>
    </ul>
    <!-- <dl class="kg">
           <dt>퍼스트데이터코리아(유) 구매안전서비스 서비스 가입 안내</dt>
           <dd>
               <p>
                   라로슈포제 공식 온라인 몰은 고객님의 안전한 전자상거래를 위해 <br>퍼스트데이터코리아(유)에서 제공하는 구매안전서비스(에스크로)를 <br>이용하고 있습니다.
               </p>
               <button type="button" class="btn_base" onclick="window.open('https://www.firstpay.co.kr/jsp/service/popup_signEscrowUp.jsp?mxid=loreal02','Escrow','width=510,height=451,scrollbars=no')" title="새창 이동">퍼스트데이터코리아(유) 구매안전서비스 가입확인</button>
           </dd>
       </dl> -->
    <address>
      <span>서울특별시 강남구 영동대로 517(삼성동, 아셈타워 31층)</span>
      <span>사업자등록번호 220-81-73483</span>
      <span>통신판매업신고번호 2012-서울강남-01663</span>
      <span>개인정보보호책임자 신은경 (IMC&amp;E-commerce Director)</span>
      <span>호스팅서비스사업자 : (주)아이네트</span>
      <!-- <em>라로슈포제 공식 온라인 몰은 고객님의 안전한 전자상거래를 위해 퍼스트데이터코리아(유)에서 제공하는 구매안전서비스(에스크로)를 이용하고 있습니다.</em> -->
      <button type="button"
        onclick="window.open('https://www.firstpay.co.kr/jsp/service/popup_signEscrowUp.jsp?mxid=loreal02','Escrow','width=510,height=451,scrollbars=no')"
        title="새창 이동">라로슈포제 공식 온라인 몰은 고객님의 안전한 전자상거래를 위해 퍼스트데이터코리아(유)에서 제공하는 구매안전서비스(에스크로)를 이용하고 있습니다.</button>
    </address>
    <small><span>KOREA</span>COPYRIGHT © 2018 LA ROCHE-POSAY ALL RIGHTS RESERVED</small>
  </section>
</footer>