
  <h1 onclick="LARO.GA4TagManager.logo();location.href='/main.do';">LA ROCHE-POSAY<em>LABORATOIRE
      DERMATOLOGIQUE</em><span>전 세계 피부 전문가가 선택한 민감 피부 솔루션</span></h1>
  <section class="top_nav">
    <nav>
      <ul>
        <!-- 로그인 전 -->
        <li><a href="https://www.larocheposay.co.kr/member/login.do">로그인</a></li>
        <li><a href="https://www.larocheposay.co.kr/member/auth.do">회원가입</a></li>
        <li><a href="https://www.larocheposay.co.kr/myPage/shopping/list.do">주문/배송조회</a></li>
        <li><a href="https://www.larocheposay.co.kr/cscenter/csHome.do">고객케어센터</a></li>
      </ul>
      <!-- //로그인 후 -->
    </nav>
  </section>
  <section class="cf_side">
    <div class="campain">
      <a href="#campain_banner" class="btn_campain">민감성 피부의 삶을 바꾸는 라로슈포제</a>
      <!-- 캠페인 배너  -->
      <div id="campain_banner">
        <ul>
          <li><a href="https://www.larocheposay.co.kr/noDev/lrpBrandStory.do"><img
                src="https://www.larocheposay.co.kr/images/main/campain_banner_v2_1.jpg"
                alt="더 나은 삶을 위한 민감성 피부의 선택 라로슈포제 - 바로가기"></a></li>
          <li><a href="https://www.larocheposay.co.kr/noDev/lrpFoundation.do"><img
                src="https://www.larocheposay.co.kr/images/main/campain_banner_v2_2.jpg"
                alt="전 세계 피부 전문가가 선택한 민감 피부 솔루션 - 바로가기"></a></li>
          <li><a href="https://www.larocheposay.co.kr/noDev/lrpThermalWater.do"><img
                src="https://www.larocheposay.co.kr/images/main/campain_banner_v2_3.jpg"
                alt="민감한 피부를 개선하는 프랑스 NO.1* 온천 과학 센터의 연구 - 바로가기"></a></li>
          <li><a href="https://www.larocheposay.co.kr/noDev/lrpPromise.do"><img
                src="https://www.larocheposay.co.kr/images/main/campain_banner_v2_4.jpg"
                alt="민감한 피부에도 사용 가능한 저자극 포뮬라 알러지 테스트 완료 - 바로가기"></a></li>
          <li><a href="https://www.larocheposay.co.kr/noDev/spotscan.do"><img
                src="https://www.larocheposay.co.kr/images/main/campain_banner_v2_5.jpg?1"
                alt="라로슈포제만의 개인 맞춤형 피부관리 솔루션 추천 - 바로가기"></a></li>
        </ul>
        <p>* CNETH (Conseil National des exploitants Thermaux, 2010)</p>
      </div>
      <!-- //캠페인 배너  -->
    </div>
    <script type="text/javascript">
      function topSearchEvent() {
        if ($('input[name="topSearchKeyword"]').val() == '') {
          if ($('#headerSearchForm').find("input[name=seq]").val() == '') {
            alert("검색어를 입력해 주세요.");
            return false;
          } else {
            $.ajax({
              type: 'post',
              url: '/inc/hitUpdate.do',
              dataType: 'json',
              data: $('#headerSearchForm').serialize(),
              success: function (data) {
                if (data.result != 'OK') {
                  console.log(data.message);
                }
                location.href = 'https://www.larocheposay.co.kr/event/eventView/473.do';
              }
            });
          }
        } else {
          $('#headerSearchForm').attr({
            'action': '/product/search.do',
            'method': 'get'
          }).submit();
        }
      }
      function goKey(keyWd) {
        $('input[name="topSearchKeyword"]').val(keyWd);
        topSearchEvent();
      }
      $(document).ready(function () {
        $('input[name="topSearchKeyword"]').on("keydown", function (event) {
          if (event.keyCode == 13) {
            event.preventDefault();
            topSearchEvent();
          } else {
            if ($(this).val().length > 20) {
              $(this).val($(this).val().substring(0, 20));
            }
          }
        });
      });
    </script>
    <div class="fastinfo">
      <form id="headerSearchForm">
        <div class="search_cart">
          <div class="search_faq">
            <input type="hidden" value="182" name="seq">
            <input type="hidden" value="SHA001" name="hitType">
            <input type="search" title="검색 입력창" name="topSearchKeyword" placeholder="유비데아로 촉촉하게 톤업🌸" maxlength="20">
            <button type="button" onclick="topSearchEvent();"><span>검색</span></button>
          </div>
          <a href="https://www.larocheposay.co.kr/cart/cart.do" class="btn-cart"><span class="hide">장바구니</span><span
              class="count">0</span></a>
        </div>
      </form>
      <div class="hashtag" style="display: block-inline; width: 308px; height: 20px; overflow: hidden;">
        <div style="float: left; white-space: nowrap; padding: 0px 308px;">
          <div style="float: left; white-space: nowrap; padding: 0px 308px;">
            <div style="float: left; white-space: nowrap; padding: 0px 308px;">
              <div style="float: left; white-space: nowrap; padding: 0px 308px;">
                <a href="#none" onclick="goKey('전 품목 20% OFF!'); return false;">#전 품목 20% OFF!</a>
                <a href="#none" onclick="goKey('신제품 무료 체험 이벤트✨'); return false;">#신제품 무료 체험 이벤트✨</a>
                <a href="#none" onclick="goKey('세트 구매 시 추가 증정🎁'); return false;">#세트 구매 시 추가 증정🎁</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="gnb_nav">
    <nav>
      <ul class="left">
        <li class="">
          <a href="https://www.larocheposay.co.kr/product/hotItem/best.do" onclick="LARO.TagManager.menu(this);"
            data-menu-name="공식몰 단독혜택" data-depth="1"><span>공식몰 단독혜택</span><em>공식몰 단독혜택</em></a>
          <div class="sub_contain" style="opacity: 1; display: none;">
            <div class="menu">
              <ul>
                <li><a href="https://www.larocheposay.co.kr/product/hotItem/best.do"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="베스트" data-depth="2">베스트</a></li>
                <li><a href="https://www.larocheposay.co.kr/product/hotItem/single.do"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="단독구성" data-depth="2">단독구성</a></li>
                <li><a href="https://www.larocheposay.co.kr/product/hotItem/new.do" class=""
                    onclick="LARO.TagManager.menu(this);" data-menu-name="신규회원첫혜택" data-depth="2">신규회원첫혜택</a></li>
                <li><a href="https://www.larocheposay.co.kr/skinlife/selfConsult.do"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="피부민감도 자가진단" data-depth="2">피부민감도 자가진단</a>
                </li>
              </ul>
            </div>
            <div class="sub_contain_banner">
              <a href="https://www.larocheposay.co.kr/product/view/3479.do" onclick="LARO.TagManager.menu(this);"
                data-menu-name="인기샘플키트" data-depth="2">
                <img src="https://www.larocheposay.co.kr/images/main/gnb_banner.jpg?v=36201204202301" alt="인기샘플키트">
              </a>
            </div>
          </div>
          <!-- //sub_contain -->
        </li>
        <li class="">
          <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1130" onclick="LARO.TagManager.menu(this);"
            data-menu-name="병원판매화장품" data-depth="1">
            <span>병원판매화장품</span>
            <em>병원판매화장품</em>
          </a>
          <div class="sub_contain" style="opacity: 1; display: none;">
            <div class="submenu">
              <dl>
                <dt>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1130"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="케어 고민별" data-depth="2">
                    케어 고민별</a>
                </dt>
                <dd>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1130"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="전체" data-depth="2">전체</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1131"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="스킨케어" data-depth="2">스킨케어</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1132"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="바디케어" data-depth="2">바디케어</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1133"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="헤어케어" data-depth="2">헤어케어</a>
                </dd>
              </dl>
            </div>
            <div class="sub_contain_button">
              <button type="button" class="btn_base move" onclick="location.href='/product/allList.do';">전체 제품
                보기</button>
              <button type="button" class="btn_base move" onclick="location.href='/skinlife/selfConsult.do';">피부 민감도
                자가진단</button>
            </div>
            <div class="sub_contain_banner">
              <a href="javascript:bannerLink('1238', '/product/view/3738.do', '_self');">
                <span class="product_banner">
                  <img src="https://www.larocheposay.co.kr/upload/product/main/2022/12/20221220_1654046_085_210x210.png"
                    alt="에빠끌라 에이치 아이소 바이옴 크림 썸네일">
                  <span class="tit">에빠끌라</span>
                  <span class="kind">H 아이소바이옴 울트라 수딩 하이드레이팅 크림 [병원판매 화장품]</span>
                  <span class="price">
                    <span class="after">29,000<em>원</em></span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </li>
        <li class="">
          <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1004" onclick="LARO.TagManager.menu(this);"
            data-menu-name="스킨케어" data-depth="1">
            <span>스킨케어</span>
            <em>FACE</em>
          </a>
          <div class="sub_contain" style="opacity: 1; display: none;">
            <div class="submenu">
              <dl>
                <dt>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1004"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="피부 고민별" data-depth="2">
                    피부 고민별</a>
                </dt>
                <dd>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1004"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="전체" data-depth="2">전체</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1005"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="민감성 피부" data-depth="2">민감성 피부</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1014"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="지성/트러블 피부" data-depth="2">지성/트러블 피부</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1016"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="외부 자극받은 피부" data-depth="2">외부 자극받은 피부</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1006"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="건조한 피부" data-depth="2">건조한 피부</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1101"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="UV 차단" data-depth="2">UV 차단</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1013"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="톤업/메이크업" data-depth="2">톤업/메이크업</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1007"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="브라이트닝" data-depth="2">브라이트닝</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1134"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="탄력/주름" data-depth="2">탄력/주름</a>
                </dd>
              </dl>
            </div>
            <div class="submenu">
              <dl>
                <dt>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1008"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="제품 라인별" data-depth="2">
                    제품 라인별</a>
                </dt>
                <dd>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1008"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="전체" data-depth="2">전체</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1018"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="에빠끌라" data-depth="2">에빠끌라</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1021"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="시카플라스트" data-depth="2">시카플라스트</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1010"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="똘러리앙" data-depth="2">똘러리앙</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1024"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="히알루 B5" data-depth="2">히알루 B5</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1107"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="유비데아" data-depth="2">유비데아</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1114"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="퓨어비타민C10" data-depth="2">퓨어비타민C10</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1025"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="세로징크" data-depth="2">세로징크</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1022"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="오 떼르말" data-depth="2">오 떼르말</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1023"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="미셀라 클렌징 워터" data-depth="2">미셀라 클렌징 워터</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1139"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="나이아신아마이드" data-depth="2">나이아신아마이드</a>
                </dd>
              </dl>
            </div>
            <div class="submenu">
              <dl>
                <dt>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1011"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="사용 단계별" data-depth="2">
                    사용 단계별</a>
                </dt>
                <dd>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1011"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="전체" data-depth="2">전체</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1012"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="클렌징" data-depth="2">클렌징</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1026"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="토너" data-depth="2">토너</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1030"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="세럼/에센스" data-depth="2">세럼/에센스</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1027"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="로션/크림" data-depth="2">로션/크림</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1032"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="마스크/팩" data-depth="2">마스크/팩</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1028"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="UV차단" data-depth="2">UV차단</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1031"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="미스트" data-depth="2">미스트</a>
                </dd>
              </dl>
            </div>
            <div class="sub_contain_button">
              <button type="button" class="btn_base move" onclick="location.href='/product/allList.do';">전체 제품
                보기</button>
              <button type="button" class="btn_base move" onclick="location.href='/skinlife/selfConsult.do';">피부 민감도
                자가진단</button>
            </div>
            <div class="sub_contain_banner">
              <a href="javascript:bannerLink('1239', '/product/view/3862.do', '_self');">
                <span class="product_banner">
                  <img src="https://www.larocheposay.co.kr/upload/product/main/2021/10/20230130_1351020_733_210x210.png"
                    alt="에빠끌라 딥 클렌징 포밍 크림">
                  <span class="tit">에빠끌라</span>
                  <span class="kind">딥 클렌징 포밍 크림</span>
                  <span class="price">
                    <span class="after">28,000<em>원</em></span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </li>
        <li class="">
          <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1033" onclick="LARO.TagManager.menu(this);"
            data-menu-name="바디케어" data-depth="1">
            <span>바디케어</span>
            <em>BODY</em>
          </a>
          <div class="sub_contain" style="opacity: 1; display: none;">
            <div class="submenu">
              <dl>
                <dt>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1033"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="피부 고민별" data-depth="2">
                    피부 고민별</a>
                </dt>
                <dd>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1033"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="전체" data-depth="2">전체</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1037"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="외부 자극받은 피부" data-depth="2">외부 자극받은 피부</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1036"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="건조한 피부" data-depth="2">건조한 피부</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1038"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="두피 모발 강화" data-depth="2">두피 모발 강화</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1135"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="온가족사용가능" data-depth="2">온가족사용가능</a>
                </dd>
              </dl>
            </div>
            <div class="submenu">
              <dl>
                <dt>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1034"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="제품 라인별" data-depth="2">
                    제품 라인별</a>
                </dt>
                <dd>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1034"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="전체" data-depth="2">전체</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1039"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="리피카" data-depth="2">리피카</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1041"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="시카플라스트" data-depth="2">시카플라스트</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1040"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="키리움" data-depth="2">키리움</a>
                </dd>
              </dl>
            </div>
            <div class="submenu">
              <dl>
                <dt>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1035"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="사용 단계별" data-depth="2">
                    사용 단계별</a>
                </dt>
                <dd>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1035"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="전체" data-depth="2">전체</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1043"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="바디 케어" data-depth="2">바디 케어</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1045"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="헤어 케어" data-depth="2">헤어 케어</a>
                </dd>
              </dl>
            </div>
            <div class="sub_contain_button">
              <button type="button" class="btn_base move" onclick="location.href='/product/allList.do';">전체 제품
                보기</button>
              <button type="button" class="btn_base move" onclick="location.href='/skinlife/selfConsult.do';">피부 민감도
                자가진단</button>
            </div>
            <div class="sub_contain_banner">
              <a href="javascript:bannerLink('1240', '/product/view/3714.do', '_self');">
                <span class="product_banner">
                  <img src="https://www.larocheposay.co.kr/upload/product/main/2022/10/20221012_1026026_754_210x210.png"
                    alt="리피카 윌 라방 (저자극 바디 오일 클렌저)">
                  <span class="tit">리피카</span>
                  <span class="kind">바디 오일 클렌저 대용량 세트</span>
                  <span class="price">
                    <span class="after">53,000<em>원</em></span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </li>
        <li class="">
          <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1009" onclick="LARO.TagManager.menu(this);"
            data-menu-name="UV 케어" data-depth="1">
            <span>UV 케어</span>
            <em>SUN CARE</em>
          </a>
          <div class="sub_contain" style="opacity: 1; display: none;">
            <div class="submenu">
              <dl>
                <dt>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1009"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="피부고민별" data-depth="2">
                    피부고민별</a>
                </dt>
                <dd>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1009"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="전체" data-depth="2">전체</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1136"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="수분UV케어" data-depth="2">수분UV케어</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1137"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="톤업UV케어" data-depth="2">톤업UV케어</a>
                </dd>
              </dl>
            </div>
            <div class="submenu">
              <dl>
                <dt>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1046"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="제품 라인별" data-depth="2">
                    제품 라인별</a>
                </dt>
                <dd>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1046"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="전체" data-depth="2">전체</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1054"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="유비데아" data-depth="2">유비데아</a>
                </dd>
              </dl>
            </div>
            <div class="submenu">
              <dl>
                <dt>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1047"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="사용 단계별" data-depth="2">
                    사용 단계별</a>
                </dt>
                <dd>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate2=1047"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="전체" data-depth="2">전체</a>
                  <a href="https://www.larocheposay.co.kr/product/list.do?cate3=1056"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="UV차단" data-depth="2">UV차단</a>
                </dd>
              </dl>
            </div>
            <div class="sub_contain_button">
              <button type="button" class="btn_base move" onclick="location.href='/product/allList.do';">전체 제품
                보기</button>
              <button type="button" class="btn_base move" onclick="location.href='/skinlife/selfConsult.do';">피부 민감도
                자가진단</button>
            </div>
            <div class="sub_contain_banner">
              <a href="javascript:bannerLink('1241', '/product/view/3619.do', '_self');">
                <span class="product_banner">
                  <img src="https://www.larocheposay.co.kr/upload/product/main/2020/06/20220124_1552013_147_210x210.png"
                    alt="유비데아 XL 틴티드 크림 [톤보정]">
                  <span class="tit">유비데아</span>
                  <span class="kind">안뗄리오스 멜트인 틴티드 크림 [톤보정]</span>
                  <span class="price">
                    <span class="sale">3%</span>
                    <span class="before">35,000<em>원</em></span>
                    <span class="after">34,000<em>원</em></span>
                  </span>
                </span>
              </a>
            </div>
          </div>
        </li>
        <li>
          <a href="https://www.larocheposay.co.kr/review/list.do" onclick="LARO.TagManager.menu(this);"
            data-menu-name="리얼리뷰" data-depth="1"><span>리얼리뷰</span><em>REVIEW</em></a>
        </li>
      </ul>
      <ul class="right">
        <li class="">
          <a href="https://www.larocheposay.co.kr/product/subscriptionInfo.do" onclick="LARO.TagManager.menu(this);"
            data-menu-name="정기배송" data-depth="1"><i class="ico_new">NEW</i>정기배송</a>
          <div class="sub_contain" style="opacity: 1; display: none;">
            <div class="menu">
              <ul>
                <li><a href="https://www.larocheposay.co.kr/product/subscriptionInfo.do"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="정기배송 안내" data-depth="2">정기배송 안내</a></li>
                <li><a href="https://www.larocheposay.co.kr/product/subscriptionStore.do"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="정기배송 스토어" data-depth="2">정기배송 스토어</a></li>
              </ul>
            </div>
          </div>
          <!-- //sub_contain -->
        </li>
        <li class="">
          <a href="https://www.larocheposay.co.kr/event/eventList.do" onclick="LARO.TagManager.menu(this);"
            data-menu-name="이벤트" data-depth="1"><span>이벤트</span><em>EVENT</em></a>
          <div class="sub_contain" style="opacity: 1; display: none;">
            <div class="menu">
              <ul>
                <li><a href="https://www.larocheposay.co.kr/event/eventList.do" onclick="LARO.TagManager.menu(this);"
                    data-menu-name="진행중 이벤트" data-depth="2">진행중 이벤트</a></li>
                <li><a href="https://www.larocheposay.co.kr/event/eventWinList.do" onclick="LARO.TagManager.menu(this);"
                    data-menu-name="당첨자 발표" data-depth="2">당첨자 발표</a></li>
                <li><a href="https://www.larocheposay.co.kr/event/eventEndList.do" onclick="LARO.TagManager.menu(this);"
                    data-menu-name="종료된 이벤트" data-depth="2">종료된 이벤트</a></li>
              </ul>
            </div>
          </div>
          <!-- //sub_contain -->
        </li>
        <li class="">
          <a href="https://www.larocheposay.co.kr/memberShip/guide.do" onclick="LARO.TagManager.menu(this);"
            data-menu-name="쿠폰/멤버십" data-depth="1" class="sp-goal-457-c65-35-1627285161700"><span><i
                class="ico"></i>쿠폰/멤버십</span><em>MEMBERSHIP</em></a>
          <div class="sub_contain" style="opacity: 1; display: none;">
            <div class="menu">
              <ul>
                <li><a href="https://www.larocheposay.co.kr/memberShip/guide.do" onclick="LARO.TagManager.menu(this);"
                    data-menu-name="라로슈포제 멤버십" data-depth="2">라로슈포제 멤버십</a>
                </li>
                <li><a href="https://www.larocheposay.co.kr/memberShip/giftShop.do"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="마일리지 기프트샵" data-depth="2">마일리지 기프트샵</a>
                </li>
                <li><a href="https://www.larocheposay.co.kr/memberShip/couponZone.do"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="쿠폰존" data-depth="2"
                    class="sp-goal-457-c65-39-1627366488428">쿠폰존</a></li>
                <li><a href="https://www.larocheposay.co.kr/memberShip/CouponCode.do"
                    onclick="LARO.TagManager.menu(this);" data-menu-name="제휴 쿠폰존" data-depth="2">제휴 쿠폰존</a></li>
              </ul>
            </div>
          </div>
          <!-- //sub_contain -->
        </li>
      </ul>
    </nav>
  </section>
