<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.higher.mapper.match.MatchMapper">

	<resultMap type="com.hyundai.higher.domain.match.MatchProductDTO" id="mbtiMap">
		<result property="pcode" column="pcode"/>
		<result property="pname" column="pname"/>
		<result property="dept1no" column="dept1no"/>
		<result property="dept2no" column="dept2no"/>
		<result property="pmbti" column="pmbti"/>
		<result property="iloc" column="iloc"/>
		<result property="pprice" column="pprice"/>
		<result property="bname" column="bname"/>
				
		<result property="rates" column="rates"/>		
		<result property="pvolume" column="pvolume"/>		
		<result property="ptype" column="ptype"/>		
		<result property="pingredient" column="pingredient"/>		
		<result property="optname" column="optname"/>		
	</resultMap>

	<select id="mbtiProduct" resultMap="mbtiMap">
	select pi.pcode, pi.pname, pi.dept1no, pi.dept2no, pi.pmbti, pi.iloc, pi.pprice, pi.bname,pi.rates
	from(
	    select p.pcode, p.pname, p.dept1no,p.dept2no,p.pmbti, i.iloc, p.pprice, p.bno, p.bname,p.rates,
	          row_number() over
	          (partition by p.pcode order by i.iloc desc) as rn 
	    from img i right join (select pcode, pname, dept1no, dept2no, pprice, pd.bno, bname, pmbti,rates from product pd join brand b on pd.bno=b.bno) p on p.pcode=i.pcode
	    where i.itype='thumb' 
	    		<if test="!pmbti.equals('') and pmbti!=null">
	    		and p.pmbti=#{pmbti}
	    		</if>
	    ) pi right join product p on pi.pcode = p.pcode
	    where pi.rn =1 and pi.pmbti is not null and pi.dept1no = 10 
	    <if test="!dept2no.equals('') and dept2no!=null">
			and pi.dept2no =#{dept2no}	    		
		</if>
	</select>
	
	<select id="getMbtiInfo" resultType="com.hyundai.higher.domain.match.MatchMbtiDTO">
		select * from skinmbti where stype = #{pmbti}
	</select>
	
	<select id="searchProduct" resultMap="mbtiMap">
		select pi.pcode, pi.pname, pi.dept1no, pi.dept2no, pi.pmbti, pi.iloc
	from(
	    select p.pcode, p.pname, p.dept1no,p.dept2no,p.pmbti, i.iloc, 
	          row_number() over
	          (partition by p.pcode order by i.iloc desc) as rn 
	    from img i right join product p on p.pcode=i.pcode
	    where i.itype='thumb' and p.dept1no=10 and p.pname like  '%'||#{keyword}||'%'
	    ) pi right join product p on pi.pcode = p.pcode
	    where pi.rn =1
	</select>
	

	<!-- 회원 mbti 정보 불러오기 -->
	<select id="getMemMbti" resultType="com.hyundai.higher.domain.match.MemberMBTIDTO">
		SELECT mid, mbti, mbti_scores, stag
		FROM member m JOIN skinmbti s on m.mbti=s.stype
		WHERE mid=#{mid}
	</select>

	<select id="userMbti" resultType="string">
		select mbti from member where mid=#{mid}
	</select>
		
	<select id="getIngredient" resultType="string">
	 <![CDATA[ 
	 SELECT TRIM(REGEXP_SUBSTR(TO_CHAR(a.langList), '[^,]+', 1, LEVEL)) AS split_result
	  FROM (SELECT REPLACE(pingredient, ' ', ',') AS langList 
	        FROM product WHERE pcode=#{pcode}) a
	  WHERE TRIM(REGEXP_SUBSTR(TO_CHAR(a.langList), '[^,]+', 1, LEVEL)) != '정제수'
	    AND ROWNUM <= 10
	  CONNECT BY LEVEL <= LENGTH(REGEXP_REPLACE(TO_CHAR(a.langList), '[^,]+','')) + 1
	  ]]>
	</select>
	
	<select id="getEffect" resultType="string">
	SELECT M.effect FROM INGREDIENT I RIGHT JOIN MBTI_INGREDIENT M 
	ON M.INO=I.INO
	WHERE I.INAME_KO = #{ingredient} AND mbti=#{mbti}
	</select>
	
	<select id="getOption" resultType="string">
		SELECT O.OPTNAME, P.RATES, P.PVOLUME, P.PTYPE,P.PINGREDIENT FROM PRODUCT P RIGHT JOIN POPTION O
		ON P.PCODE = O.PCODE
		WHERE P.PCODE =#{pcode}
	</select>
	
	<select id="getInfo"  resultMap="mbtiMap">
		SELECT O.OPTNAME, P.RATES, P.PVOLUME, P.PTYPE,P.PINGREDIENT FROM PRODUCT P RIGHT JOIN POPTION O
		ON P.PCODE = O.PCODE
		WHERE P.PCODE =#{pcode}
	</select>
	
</mapper>