.price-info.single {
  margin-bottom: 10px;
}
.prod {
  width: 100%;
  margin: 10px;
}

.prod-unit .img img {
  display: block;
  width: 256px;
  height: 256px;
}
.prod-unit .img .bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: url(https://image.thehyundai.com/hdmall/images/co/bg_produnit_hover.png);
}
.prod-unit .info {
  padding-top: 20px;
  width: 256px;
  margin-left: 20px;
}

.product-list {
  overflow: hidden;
  position: absolute;
  width: 100%;
  display: grid;
  place-items: center;
  overflow-x: scroll;
  grid-auto-flow: column;
  height: 100%;
}

ul {
  list-style: none;
}
.product-list-wrap {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: auto;
}
.btn_green {
  color: white;
  background: #45675b;
  height: 50px;
}
.btn_gray {
  color: white;
  background: slategray;
  height: 50px;
}
p.pickbtn {
  margin-top: 10px;
  font-weight: 100;
  font-size: 16;
  cursor: pointer;
  height: 50px;
  display: inline-grid;
  vertical-align: middle;
}
.lip_pick {
  width: 255px;
  margin: 20 auto;
  text-align: center;
}
.blush_pick {
  width: 150px;
  margin: 20 auto;
  text-align: center;
}
.foundation_pick {
  width: 150px;
  margin: 20 auto;
  text-align: center;
}
.select-list {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  place-items: center;
  width: 70%;
  height: 440px;
  margin: 0 auto;
}
.type_pick {
  width: 255px;
  text-align: center;
  margin: 0 20px;
}
.select-list1 {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  place-items: center;
  width: 70%;
  margin: 0 auto;
}

.clonepart .img img {
  display: block;
  width: 256px;
  height: 256px;
}

.empty {
  width: 250;
  height: 330;
  border-radius: 10%;
  border-style: dashed;
  border-color: darkgray;
  margin: 0 10px;
}
