<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hyundai.higher.mapper.skinMBTI.SkinMBTIMapper">
	
	<!-- 피부 타입별 정보 선택 -->
	<select id="selectMBTI" resultType="com.hyundai.higher.domain.skinMBTI.SkinMBTIDTO">
		SELECT stype, stitle, sexplain, spros, scons, ssolution, stag
		FROM skinMBTI
		WHERE stype=#{stype}
	</select>
	
	<update id="updateMBTI">
		UPDATE member
		SET mbti=#{mbti}
		WHERE mid=#{mid}
	</update>

</mapper>