<!DOCTYPE html>
<html lang="ko" class="js" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>더현대뷰티 - 현대백화점 공식 화장품 온라인몰</title>
  <link rel="shortcut icon" href="https://www.thehyundai.com/favicon.ico">
  <link rel="canonical" href="https://www.larocheposay.co.kr/main.do">
  <script src="https://connect.facebook.net/signals/config/507474643422972?v=2.9.100&amp;r=stable" async=""></script>
  <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
  <script async=""
    src="//img-amc.tason.com/resources/js/et.v2.min.js?_t=1680284807734&amp;appKey=dce87c12e15a11e686ea"></script>
  <script src="https://connect.facebook.net/signals/config/507474643422972?v=2.9.100&amp;r=stable" async=""></script>
  <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
  <script async=""
    src="//img-amc.tason.com/resources/js/et.v2.min.js?_t=1680284678141&amp;appKey=dce87c12e15a11e686ea"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.min.js?v=36201204202301"></script>
  <script type="text/javascript"
    src="https://www.larocheposay.co.kr/js/libs/jquery-ui.min.js?v=36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.form.min.js" async=""></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.validate.min.js" async=""></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.marquee.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.bpopup.min.js" async=""></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/moment.min.js" async=""></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/util.jquery.extend.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/util.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/lib.js"></script>
  <link rel="stylesheet" type="text/css" href="/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/common/css/layout.css">
  <link rel="stylesheet" type="text/css" href="/common/css/content.css">
  <link rel="stylesheet" type="text/css" href="/common/css/libs/ie9.swiper.css">
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/ie9.swiper.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.marquee.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/TweenMax.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/common/popup.js?v=36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/common/common.js?v=36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/common/common_pc.js?v=36201204202301"></script>
  <script type="text/javascript"
    src="https://www.larocheposay.co.kr/js/common/common_front.js?v=36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/common_dev.js?v=36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/flipclock.min.js"></script>
  <script async=""
    src="https://www.larocheposay.co.kr//larocheposaycokr.api.useinsider.com/ins.js?id=10003736"></script>
  <link rel="stylesheet" type="text/css" href="https://www.larocheposay.co.kr/css/libs/swiper_why.css">

  <script src="https://www.larocheposay.co.kr/js/libs/babel.min.js?v=36201204202301"></script>
  <script src="https://www.larocheposay.co.kr/js/libs/polyfill.min.js?v=36201204202301"></script>
  <script src="https://www.larocheposay.co.kr/js/libs/core-js.min.js?v=36201204202301"></script>
  <script src="https://www.larocheposay.co.kr/js/libs/base64.min.js?v=36201204202301"></script>
  <script src="https://www.larocheposay.co.kr/js/libs/kakaosync.sdk.js?v=36201204202301"></script>

  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/main_pc.js?36201204202301"></script>
  <script type="text/javascript" src="https://www.larocheposay.co.kr/js/libs/jquery.tmpl.min.js"></script>


</head>

<body>
  <div id="wrap" class="right_type" data-fbq-content-id="3596" data-fbq-value="48000">

    <nav id="skip_navi">
      <a href="#contents">본문 바로가기</a>
      <a href="#menu">메뉴 바로가기</a>
      <a href="#footer">하단 정보 바로가기</a>
    </nav>
    <!-- header -->
   	<header id="header" th:insert="~{include/tmp_header}"></header>
    <!-- /header -->

    <section class="h_link">
      <nav>
        <ol>
          <li><a href="javascript:void(0);" onclick="location.href='/'"><i>HOME</i></a></li>
          <li class="kor">
            <a href=""><i>FACE</i></a>
            <ul class="h_link_sub">
              <li class="kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1130'">
                  병원판매화장품</a>
              </li>
              <li class="on">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1004'">
                  FACE</a>
              </li>
              <li>
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1033'">
                  BODY</a>
              </li>
              <li>
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1009'">
                  SUN CARE</a>
              </li>
            </ul>
          </li>
          <li class="kor">
            <a href=""><i>제품 라인별</i></a>
            <ul class="h_link_sub">
              <li class="kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1004'">
                  피부 고민별</a>
              </li>
              <li class="on kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1008'">
                  제품 라인별</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1011'">
                  사용 단계별</a>
              </li>
            </ul>
          </li>
          <li class="current kor">
            <a href=""><i>시카플라스트</i></a>
            <ul class="h_link_sub">
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate2=1008'">전체보기</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1018'">에빠끌라</a>
              </li>
              <li class="on kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1021'">시카플라스트</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1010'">똘러리앙</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1024'">히알루 B5</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1107'">유비데아</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1114'">퓨어비타민C10</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1025'">세로징크</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1022'">오 떼르말</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1023'">미셀라 클렌징 워터</a>
              </li>
              <li class="kor">
                <a href="javascript:void(0);" onclick="location.href='/product/list.do?cate3=1139'">나이아신아마이드</a>
              </li>
            </ul>
          </li>
        </ol>
      </nav>
    </section>
    <section id="container">
      <section id="contents" class="template_wrap" style="margin: 0 auto;">
        <div class="product_detail">
          <div class="top">
            <form id="orderForm" name="orderForm">

              <div class="left">
                <div class="detail_slider">
                  <div class="view">
                    <ul>
                      <li th:style="'background-image:url('+ ${product.thumbImgList[0].iloc} +'_600.jpg);'">1</li>
                    </ul>
                  </div>
                </div>
                <!-- //detail_slider -->
              </div>
              <!-- //left -->
              <div class="right" style="margin-top: 90px;">
                <div class="datail_info_top" style="border: none;">
                 <p class="brand">[[${product.productDTO.bname}]]</p>
                  <span class="tit" style="margin-top: 20px;">
                    <strong>[[${product.productDTO.pname}]]</strong>
                    <!-- 리페어 세럼 B5 -->
                  </span>
                  <span class="star">
                    <a href="#product_detail_review">
                      <div class="star-rating bic">
                        <span class="c00">
                          <em class="hide">벌점 0개</em></span>
                      </div>
                    </a>
                    <em><a href="#product_detail_review" style="color:#8f8f8f;">(270)</a></em>
                  </span>
                  <div id="ingredient_box">
	                  <div id="iTit">주요성분</div>
	                  <div>
	                  	<ul>
	                  		<li th:each="i : ${mainIngredient}">
	                  			<img src="/similarCos/img/drop.png">[[${i}]]
	                  		</li>
	                  	</ul>              
	                  </div>
                  </div>
                </div>
                <div class="datail_info_data">
                  <ul>
                    
                    <li class="total">
                      <span class="pricetotal">[[${#numbers.formatInteger(product.productDTO.pprice, 3, 'COMMA')}]]<em>원</em></span>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
          <!-- //top -->


        </div>
        <!-- //product_detail -->

      </section>
      <!-- //contents -->
      <section id="contents" class="dev_best">
        <section class="product_wrap">
          <div class="tabtext_warp" style="margin: 0;">
            <div id="similar_result_tit"><i><img src="/similarCos/img/search-95_512.gif" style="width: 200px;"></i>성분이 비슷한 <span id="similar_cate">크림</span> <span id="similar_cnt">8개</span> 찾았어요<span id="impact">!</span></div>
          </div>
          <ul class="product_list best_list ea04"><!-- 베스트 제품페이지에서 best_list클레스 추가 -->
            <li class=" new">
              <a href="#none;" onclick="prdtViewLink('3596','PT','Y', Number('1'))">
                <span class="ico">1<em>BEST</em></span>
                <div style="border: 4px solid #45675b; margin-bottom: 10px; height: fit-content; padding: 10px; font-size: 16px; font-family: 'notokr-medium'; width: 212px; text-align: center;">성분 유사도 <span style="display: contents; font-family: 'locator-medium'; font-size: 22px;">71%</span></div>
                
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_400x400.png"
                  alt="시카세럼30ml">
                <span class="hash_tag">#피부장벽강화</span>
                <span class="tit">시카플라스트</span>
                <span class="kind">리페어 세럼 B5</span>
                <span class="rating">
                  <div class="star-rating small">
                    <span class="c50">
                      <em class="hide">벌점 5.0개</em></span>
                  </div>
                  <em>(270)</em>
                </span>
                <span class="price">48,000<em>원</em></span>
              </a>
              <div class="over">
                <button type="button" class="detailview"
                  onclick="prdtViewLink('3596','PT','Y', Number('1'))">자세히보기</button>
                <button type="button" class="addcart listBasket" data-saleprice="48000" data-level="제한없음" data-cnt="142"
                  data-value="3596" data-price="48000" data-linename="시카플라스트" data-prdtname="리페어 세럼 B5"
                  data-sapcode="MB451200" data-tag-names="#피부장벽강화,# 회복세럼,# 시카세럼,# 판테놀10%세럼" data-noingt-names=""
                  data-category="FACE>제품 라인별>시카플라스트">장바구니 담기</button>
              </div>
              <span class="like listLike" data-value="3596" data-price="48000" data-linename="시카플라스트"
                data-prdtname="리페어 세럼 B5" data-sapcode="MB451200" data-category="FACE>제품 라인별>시카플라스트"><i
                  class="hide">관심제품</i></span>
            </li>
            <li class=" new">
              <a href="#none;" onclick="prdtViewLink('3596','PT','Y', Number('1'))">
                <span class="ico">1<em>BEST</em></span>
                <div style="border: 4px solid #45675b; margin-bottom: 10px; height: fit-content; padding: 10px; font-size: 16px; font-family: 'notokr-medium'; width: 212px; text-align: center;">성분 유사도 <span style="display: contents; font-family: 'locator-medium'; font-size: 22px;">71%</span></div>
                
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_400x400.png"
                  alt="시카세럼30ml">
                <span class="hash_tag">#피부장벽강화</span>
                <span class="tit">시카플라스트</span>
                <span class="kind">리페어 세럼 B5</span>
                <span class="rating">
                  <div class="star-rating small">
                    <span class="c50">
                      <em class="hide">벌점 5.0개</em></span>
                  </div>
                  <em>(270)</em>
                </span>
                <span class="price">48,000<em>원</em></span>
              </a>
              <div class="over">
                <button type="button" class="detailview"
                  onclick="prdtViewLink('3596','PT','Y', Number('1'))">자세히보기</button>
                <button type="button" class="addcart listBasket" data-saleprice="48000" data-level="제한없음" data-cnt="142"
                  data-value="3596" data-price="48000" data-linename="시카플라스트" data-prdtname="리페어 세럼 B5"
                  data-sapcode="MB451200" data-tag-names="#피부장벽강화,# 회복세럼,# 시카세럼,# 판테놀10%세럼" data-noingt-names=""
                  data-category="FACE>제품 라인별>시카플라스트">장바구니 담기</button>
              </div>
              <span class="like listLike" data-value="3596" data-price="48000" data-linename="시카플라스트"
                data-prdtname="리페어 세럼 B5" data-sapcode="MB451200" data-category="FACE>제품 라인별>시카플라스트"><i
                  class="hide">관심제품</i></span>
            </li>
            <li class=" new">
              <a href="#none;" onclick="prdtViewLink('3596','PT','Y', Number('1'))">
                <span class="ico">1<em>BEST</em></span>
                <div style="border: 4px solid #45675b; margin-bottom: 10px; height: fit-content; padding: 10px; font-size: 16px; font-family: 'notokr-medium'; width: 212px; text-align: center;">성분 유사도 <span style="display: contents; font-family: 'locator-medium'; font-size: 22px;">71%</span></div>
                
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_400x400.png"
                  alt="시카세럼30ml">
                <span class="hash_tag">#피부장벽강화</span>
                <span class="tit">시카플라스트</span>
                <span class="kind">리페어 세럼 B5</span>
                <span class="rating">
                  <div class="star-rating small">
                    <span class="c50">
                      <em class="hide">벌점 5.0개</em></span>
                  </div>
                  <em>(270)</em>
                </span>
                <span class="price">48,000<em>원</em></span>
              </a>
              <div class="over">
                <button type="button" class="detailview"
                  onclick="prdtViewLink('3596','PT','Y', Number('1'))">자세히보기</button>
                <button type="button" class="addcart listBasket" data-saleprice="48000" data-level="제한없음" data-cnt="142"
                  data-value="3596" data-price="48000" data-linename="시카플라스트" data-prdtname="리페어 세럼 B5"
                  data-sapcode="MB451200" data-tag-names="#피부장벽강화,# 회복세럼,# 시카세럼,# 판테놀10%세럼" data-noingt-names=""
                  data-category="FACE>제품 라인별>시카플라스트">장바구니 담기</button>
              </div>
              <span class="like listLike" data-value="3596" data-price="48000" data-linename="시카플라스트"
                data-prdtname="리페어 세럼 B5" data-sapcode="MB451200" data-category="FACE>제품 라인별>시카플라스트"><i
                  class="hide">관심제품</i></span>
            </li>
            <li class=" new">
              <a href="#none;" onclick="prdtViewLink('3596','PT','Y', Number('1'))">
                <span class="ico">1<em>BEST</em></span>
                <div style="border: 4px solid #45675b; margin-bottom: 10px; height: fit-content; padding: 10px; font-size: 16px; font-family: 'notokr-medium'; width: 212px; text-align: center;">성분 유사도 <span style="display: contents; font-family: 'locator-medium'; font-size: 22px;">71%</span></div>
                
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_400x400.png"
                  alt="시카세럼30ml">
                <span class="hash_tag">#피부장벽강화</span>
                <span class="tit">시카플라스트</span>
                <span class="kind">리페어 세럼 B5</span>
                <span class="rating">
                  <div class="star-rating small">
                    <span class="c50">
                      <em class="hide">벌점 5.0개</em></span>
                  </div>
                  <em>(270)</em>
                </span>
                <span class="price">48,000<em>원</em></span>
              </a>
              <div class="over">
                <button type="button" class="detailview"
                  onclick="prdtViewLink('3596','PT','Y', Number('1'))">자세히보기</button>
                <button type="button" class="addcart listBasket" data-saleprice="48000" data-level="제한없음" data-cnt="142"
                  data-value="3596" data-price="48000" data-linename="시카플라스트" data-prdtname="리페어 세럼 B5"
                  data-sapcode="MB451200" data-tag-names="#피부장벽강화,# 회복세럼,# 시카세럼,# 판테놀10%세럼" data-noingt-names=""
                  data-category="FACE>제품 라인별>시카플라스트">장바구니 담기</button>
              </div>
              <span class="like listLike" data-value="3596" data-price="48000" data-linename="시카플라스트"
                data-prdtname="리페어 세럼 B5" data-sapcode="MB451200" data-category="FACE>제품 라인별>시카플라스트"><i
                  class="hide">관심제품</i></span>
            </li>
          </ul>
        </section>
      </section>


    </section>
    <!-- //container -->


    <!-- right 제품구매 플로팅 -->
    <section class="flot_right_warp">
      <div class="flot_price_btn">
        <div class="flotmem"><a
            href="https://www.larocheposay.co.kr/myPage/myPageHome.do"></a><strong><em>고객</em>님</strong>반갑습니다</div>
        <div class="flotcart"><a href="https://www.larocheposay.co.kr/cart/cart.do"><span class="count">0</span><span
              class="hide">장바구니 -
              바로가기</span></a></div>
        <div class="flotheart"><a href="https://www.larocheposay.co.kr/myPage/likeList.do"><span
              class="count">0</span><span class="hide">찜한제품 -
              바로가기</span></a></div>
        <div id="flotprd" class="swiper-container">
          <div class="swiper-wrapper"
            style="width: 168px; height: 79px; transform: translate3d(-56px, 0px, 0px); transition-duration: 0s;">
            <div class="swiper-slide" style="width: 56px; height: 79px;">
              <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png"
                  alt="리페어 세럼 B5">
              </a>
            </div>
            <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 56px; height: 79px;">
              <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png"
                  alt="리페어 세럼 B5">
              </a>
            </div>
            <div class="swiper-slide" style="width: 56px; height: 79px;">
              <a href="https://www.larocheposay.co.kr/product/view/3596.do">
                <img src="https://www.larocheposay.co.kr/upload/product/main/2022/01/20220113_1136039_353_100x100.png"
                  alt="리페어 세럼 B5">
              </a>
            </div>
          </div>
          <button type="button" class="flotprd-prev" style="z-index:1000;"><span class="hide">이전</span></button>
          <button type="button" class="flotprd-next" style="z-index:1000;"><span class="hide">다음</span></button>
        </div>
        <!-- //swiper-container -->
        <button type="button" class="btn_top" title="상단 이동">top</button>
      </div>

    </section>

	   	<!-- footer -->
		<div class="include-footer" th:insert="~{include/tmp_footer}"></div>
		<!-- /footer -->
	</div>
</body>

</html>