<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>The Hyundai Beauty - 더현대뷰티</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" href="/include/css/reset.css">
<link rel="stylesheet" href="/include/css/style.css">
<link rel="stylesheet" href="/include/css/swiper.min.css">
<link rel="stylesheet" type="text/css"
	href="https://www.tamburins.com/theme/tam/css/index.php?ver=1680007209">
<link rel="stylesheet"
	href="https://www.tamburins.com/src/assets/scss/main.min.css?ver=1680007209">
<link rel="stylesheet"
	href="https://www.tamburins.com/theme/tam/css/lib/choices.min.css">
<link rel="stylesheet" href="/similarCos/css/main.css">
<script type="text/javascript" async=""
	src="https://www.google-analytics.com/analytics.js"></script>
<script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-N2P448C"></script>
<script src="/include/js/lib/jquery.min.js"></script>
<script src="/include/js/lib/TweenMax.min.js"></script>
<script src="/include/js/lib/swiper.min.js"></script>
<script src="/include/js/ui.js"></script>
<script src="/include/js/lib/jquery.form.min.js"></script>
<script src="/include/js/lib/jquery.validate.min.js"></script>
<script src="/include/js/lib/vue.min.js"></script>
<script src="/include/js/lib/jquery.cookie.js"></script>
<script src="/include/js/lib/moment.min.js"></script>
<script src="/include/js/lib/moment-timezone-with-data.min.js"></script>
<script src="/include/js/hanbang/app.js"></script>
<script src="/similarCos/js/main.js"></script>
</head>
<body>

	<div id="wrap">
		<!-- header -->
		<div th:insert="~{include/header}"></div>
		<!-- /header -->

		<div id="container" class="prd_list ctgryVue">
			<div class="top_vis"
				style="background-image: url(https://www.yunjac.com/public/2018/10/25/16/52/28/45b45153-8cfd-444d-b051-d1b639259256.jpg);">
				<div class="inner">
					<div id="search-wrap">
						<div id="search-box">
							<input type="text" id="search-input">
							<button id="search-btn"></button>
						</div>
					</div>
					<div class="text_wrap" style="bottom: 100px;">
						<h4 style="font-size: 32px; margin-bottom: 20px;">FIND THE SIMILAR <br>INGREDIENT COSMETICS</h4>
						<p>
							사용하던 화장품을 계속 쓰기 아쉬울 때<br>성분 구성이 유사한 제품을 찾아보세요
						</p>
					</div>
				</div>
			</div>
			<main id="main">
				<!-- 상품 목록 시작 { -->
				<div id="sct">
					<div id="product">
						<!-- Title & Filter -->
						<div class="content-top-dummy jsContDummy hide">
							<div class="content-top" style="height: 70px;">
								<div class="content-top-box page-inner">
									<div class="list-title font--kr" style="margin-top: 10px; font-size: 20px;">
										<strong> <!-- 전체보기 예외 처리 --> BEST 성분템
										</strong> <span class="JsCountCheck item_count">(21)</span>
									</div>
								</div>
							</div>
						</div>
						<!--// Title & Filter -->
						<!-- product list -->
						<!-- 카테고리별 리스트 S -->
						<div class="prd-list prd-list__sub">
							<div class="prd-list__inner page-inner">
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1662465136]" value="1662465136"
										content="1662465136">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1662465136">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662465136/PLP_perfume_DISCOVERYSET.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662465136/1663142431_7948_PLP_perfume_DISCOVERYSET.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">퍼퓸의 10가지 향</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 디스커버리 세트</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 42,000 원 </span> <span
													class="item-spec__brief">2mL*10ea</span>
											</div>

										</div> <!-- 상품 name E -->
										<div class="find-btn-wrap">
											<button class="find-btn">성분 유사 제품 찾기</button>
										</div>

									</a>
								</div>
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1666772156]" value="1666772156"
										content="1666772156">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1666772156">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666772156/PLP_balm_6g_chamo.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666772156/1667896848_4078_PLP_balm_6g_chamo.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">진득한 카모마일 | 부드러운 나무결 | 머스크</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 밤 카모</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 46,500 원 </span> <span
													class="item-spec__brief">6.5g</span>
											</div>
										</div> <!-- 상품 name E -->
										<div class="find-btn-wrap">
											<button class="find-btn">성분 유사 제품 찾기</button>
										</div>
									</a>
								</div>
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1662462491]" value="1662462491"
										content="1662462491">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1662462491">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662462491/PLP_perfume_chamo_10ml.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662462491/1663141064_8736_PLP_perfume_chamo_10ml.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">진득한 카모마일 | 부드러운 나무결 | 머스크</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 카모</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 36,500 원 </span> <span
													class="item-spec__brief">10mL</span>
											</div>
										</div> <!-- 상품 name E -->
										<div class="find-btn-wrap">
											<button class="find-btn">성분 유사 제품 찾기</button>
										</div>
									</a>
								</div>
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1666763525]" value="1666763525"
										content="1666763525">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1666763525">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666763525/PLP_shellX_30ml_chamo.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666763525/1666931050_6013_PLP_shellX_30ml_chamo.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">진득한 카모마일 | 부드러운 나무결 | 머스크</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 쉘 엑스 카모</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 32,000 원 </span> <span
													class="item-spec__brief">30mL</span>
											</div>

										</div> <!-- 상품 name E -->
										<div class="find-btn-wrap">
											<button class="find-btn">성분 유사 제품 찾기</button>
										</div>
									</a>
								</div>
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1662465136]" value="1662465136"
										content="1662465136">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1662465136">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662465136/PLP_perfume_DISCOVERYSET.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662465136/1663142431_7948_PLP_perfume_DISCOVERYSET.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">퍼퓸의 10가지 향</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 디스커버리 세트</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 42,000 원 </span> <span
													class="item-spec__brief">2mL*10ea</span>
											</div>

										</div> <!-- 상품 name E -->
										<div class="find-btn-wrap">
											<button class="find-btn">성분 유사 제품 찾기</button>
										</div>

									</a>
								</div>
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1666772156]" value="1666772156"
										content="1666772156">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1666772156">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666772156/PLP_balm_6g_chamo.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666772156/1667896848_4078_PLP_balm_6g_chamo.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">진득한 카모마일 | 부드러운 나무결 | 머스크</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 밤 카모</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 46,500 원 </span> <span
													class="item-spec__brief">6.5g</span>
											</div>
										</div> <!-- 상품 name E -->
										<div class="find-btn-wrap">
											<button class="find-btn">성분 유사 제품 찾기</button>
										</div>
									</a>
								</div>
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1662462491]" value="1662462491"
										content="1662462491">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1662462491">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662462491/PLP_perfume_chamo_10ml.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1662462491/1663141064_8736_PLP_perfume_chamo_10ml.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">진득한 카모마일 | 부드러운 나무결 | 머스크</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 카모</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 36,500 원 </span> <span
													class="item-spec__brief">10mL</span>
											</div>
										</div> <!-- 상품 name E -->
										<div class="find-btn-wrap">
											<button class="find-btn">성분 유사 제품 찾기</button>
										</div>
									</a>
								</div>
								<div class="prd-list__item product-box">
									<input itemprop="sku" type="hidden" class="item_id"
										name="it_id[1666763525]" value="1666763525"
										content="1666763525">
									<!-- 2021-01-22 로그인경로-->
									<a
										href="https://www.tamburins.com/shop/item.php?it_id=1666763525">
										<!-- 썸네일 S-->
										<div class="prd-list__thumbnail">
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666763525/PLP_shellX_30ml_chamo.jpg?img1=121"
												class="prd-list__img" title="">
											<!-- 간략보기 이미지 -->
											<img
												src="https://tamburins-resource.s3.ap-northeast-2.amazonaws.com/item/1666763525/1666931050_6013_PLP_shellX_30ml_chamo.jpg?img1=12"
												class="prd-list__img prd-list__img--second">
										</div> <!-- 썸네일 E--> <!-- 상품 info S-->
										<div class="prd-list__info">
											<div class="item-desc">진득한 카모마일 | 부드러운 나무결 | 머스크</div>
											<!-- 상품 name S -->
											<div
												class="item-name
                              en_font size-en">
												퍼퓸 쉘 엑스 카모</div>
											<!-- 상품 name E -->
											<div class="item-price dflex-center-between">
												<span class="krw price_status"> 32,000 원 </span> <span
													class="item-spec__brief">30mL</span>
											</div>

										</div> <!-- 상품 name E -->
										<div class="find-btn-wrap">
											<button class="find-btn">성분 유사 제품 찾기</button>
										</div>
									</a>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<!-- } 상품 목록 끝 -->
			</main>




		</div>

		<!-- footer -->
		<div th:insert="~{include/footer}"></div>
		<!-- /footer -->
	</div>
	<div class="dim"></div>
</body>
</html>