<!DOCTYPE html>
<html lang="ko" class="js">

<head>
<head th:insert="~{include/head}"></head>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" type="text/css" href="/match/css/main.css">
  <script type="text/javascript" src="/match/js/main.js"></script>
	<style>
    .product_wrap .product_list li:hover>a:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        box-sizing: border-box;
    }
	</style>

</head>

<body>

  <div id="wrap" class="right_type">

    <nav id="skip_navi">
      <a href="#contents">본문 바로가기</a>
      <a href="#menu">메뉴 바로가기</a>
      <a href="#footer">하단 정보 바로가기</a>
    </nav>

    <!-- header -->
	<header id="header" th:insert="~{include/header}"></header>
	<!-- /header -->
    <section class="h_link">
      <nav>
        <ol>
          <li><a href="javascript:void(0);" onclick="location.href='/'"><i>HOME</i></a></li>
          <li class="kor">
            <a href=""><i>매칭 화장품</i></a>
            <ul class="h_link_sub">
              <li class="on kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1130'">
                  병원판매화장품</a>
              </li>
            </ul>
          </li>
          <li class="kor">
            <a href="">
            	<i th:text="${mbti=='' ? '전체보기' : mbti}"></i>
            </a>
            <ul class="h_link_sub">
              <li class="on kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1130'">
                  MBTI별</a>
              </li>
            </ul>
          </li>
          <li class="current kor">
            <a href="">
            	<i th:text="${dept2no=='' ? '전체보기' : cateMap.get(dept2no)}"></i>
            </a>
            <ul class="h_link_sub">
              <li class="on kor">
                <a href="javascript:void(0)" onclick="location.href='/product/list.do?cate2=1130'">
                  MBTI별</a>
              </li>
            </ul>
          </li>
        </ol>
      </nav>
    </section>

    <section id="container">
      <section id="contents">
        <!--  sideLeft Start -->
        <div class="sideleft" style="width: 270px;">
          <div id="mem-wrap">
            <div id="mem-icon"><img src="https://www.larocheposay.co.kr/images/customer/skincase_1.png"></div>
            <!-- 로그인되어 있을 때 -->
            <h2 sec:authorize="isAuthenticated()" id="mem-info"><span sec:authentication="principal.mName">회원이름</span> 회원님의 <br>피부 MBTI는?</h2>
            <!-- 로그인이 안되어 있을 때 -->
            <h2 sec:authorize="isAnonymous()" id="side-tit">나의 피부 MBTI는?</h2>
          </div>
          <!-- 로그인되어 있을 때 / mbti 진단 완료 -->
          <div sec:authorize="isAuthenticated()" th:if="${memMBTI != null}">
            <div id="mbti">[[${memMBTI.mbti}]]</div>
            <div id="mbti-info">[[${memMBTI.stag}]]</div>
            <div class="graph">
              <canvas id="myChart" height="300" width="350"></canvas>
            </div>
            <button id="detail-btn">자세히보기</button>
            <script th:inline="javascript">
            	var scores = [[${scores}]];
            	let score_list = [scores[0], scores[1], scores[2], scores[3]];
            </script>
			<script src="/match/js/chart.js"></script>
			
			<form id="mbtiFrm" method="POST" action="/skinMBTI/result">
				<input type="hidden" name="score1" th:value="${scores[0]}">
				<input type="hidden" name="score2" th:value="${scores[1]}">
				<input type="hidden" name="score3" th:value="${scores[2]}">
				<input type="hidden" name="score4" th:value="${scores[3]}">
				<input type="hidden" name="mbti" th:value="${memMBTI.mbti}">
			</form>
          </div>
          <div sec:authorize="isAuthenticated()" th:if="${memMBTI == null}">
            <div id="join-guide">피부 MBTI를 진단하고<br>나의 피부타입에 맞는<br>추천제품 확인하세요!</div>
          	<div id="join-btn"><a class="btn_base move" href="/skinMBTI/selfConsult">진단하러 가기</a></div>
          </div>
          
          <!-- 로그인이 안되어 있을 때 -->
          <div sec:authorize="isAnonymous()">
          	<div id="join-guide">회원가입 후 피부 MBTI를 진단하고<br>나의 피부타입에 맞는<br>추천제품 확인하세요!</div>
          	<div id="join-btn"><a class="btn_base move" href="/member/login">회원가입 후 진단하러 가기</a></div>
          </div>
          
          <h2>피부 타입</h2>
          <nav>
            <ul class="accordion">
              <li class="open current">
                <span>FACE</span>
                <ul class="submenu" style="display: block;">
                  <li th:class="${#strings.isEmpty(dept2no) ? 'current' : ''}"><a
                      th:href="'/match/main?mbti='+${mbti}"><i>전체보기</i></a></li>
                  <li th:each="cate : ${cateMap}" th:class="${#strings.equals(dept2no, cate.key) ? 'current' : ''}">
                    <a th:href="${'/match/main?cno='+ cate.key + '&mbti=' + mbti}"><i>[[${cate.value}]]</i></a>
                  </li>
                  
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        
        <!--  sideLeft End -->

        <!-- mainList Start -->
        <div class="sideconts_warp sp-goal-504-1001-64-1645076803677 sp-goal-504-1000-64-1645076803677">
          <h1 id="match-tit">MBTI MATCHING!</h1>
          <div id="tit-info">더현대뷰티에서 추천해드리는 나와 맞는 피부 MBTI 제품을 찾아보세요</div>
          <div class="sideconts">
            
           <div id="productForm">
			<section id="container" class="search_wrap">
			<section id="contents" style="width: 850px; margin: 0 auto;">
				<div id="productForm">

					<div class="search_area">
						<div class="search_faq">
							<form id="search-frm" onsubmit="return false;">
								<input type="search" id="search-input" title="검색 입력창" value="" autocomplete="off">
								<button type="submit" class="searchBtn">
									<span>검색</span>
								</button>
							</form>
						</div>
						<div>
							<ul id="search-list">
							</ul>
						</div>
						<div class="hot_keyword">
							<strong>인기검색어</strong> <span class="hash_tag"> <a href="#">#리바이리</a> <a href="javascript:goKey('피부진정');">#피부진정</a> <a href="javascript:goKey('손상케어');">#손상케어</a> <a href="#">#주름개선</a> <a href="javascript:goKey('저자극토너');">#저자극토너</a> <a href="#">#오에라</a> <a href="javascript:goKey('트러블케어');">#트러블케어</a> <a href="javascript:goKey('보습크림');">#보습크림</a> <a href="javascript:goKey('건성피부');">#건성피부</a> <a href="javascript:goKey('민감성피부');">#민감성피부</a>
							</span>
						</div>
					</div>
				</div>
				

			</section>
			<!-- //contents -->
		</section>
					
            <section class="product_wrap">
            <div class="sub-tit" id="search_tit">
            	<span id="search-keyword">키워드</span> 검색결과 상품 <span id="totalCount">19</span>개
            </div>
              <div class="prd_term sub-tit">
              	<span>[[${mbti}]] </span> 인기 제품
              </div>
              <!-- 신상, 단독구성 -->
              <ul class="product_list ea03" id="listUl">
                <li th:each="prod : ${product}" class=" "> 
                	<a th:href="@{/match/detail(pcode=${prod.pcode})}"> 
                		<img th:if="${prod.iloc == null}" src="https://image.thehyundai.com/hdmall/images/pd/no_image_480x480.jpg" th:alt="${prod.pname}">
			            <img th:if="${prod.iloc != null}" th:src="${prod.iloc + '_600.jpg'}" th:alt="${prod.pname}">
                		<span class="hash_tag">[[${prod.bname}]]</span> 
                		<span class="tit">[[${prod.pname}]]</span> 
                    	<span class="kind">[[${#numbers.formatInteger(prod.pprice, 3, 'COMMA')}]]<em>원</em> </span> 
                    	<span class="rating">
                      		<div class="star-rating small"> 
                      			<span th:class="'c'+${#numbers.formatInteger(prod.rates*10, 2)}"><em class="hide">벌점</em></span> 
                      		</div>
                    	</span> 
                    	<span class="price"><button class="match-btn">매칭하기</button></span> 
                  </a>
                  <div class="over"> 
                  	 <button class="detailview">자세히보기</button> 
                      <button class="addcart basket">장바구니 담기</button> 
                  </div> 
                  <span class="like"><i class="hide">관심제품</i></span>
                </li>
              </ul>
            </section>
          </div>
          <!-- //sideconts -->
        </div>
        <!-- mainList End -->

      </section>
    </section>

    <!-- right 제품구매 플로팅 -->
    <section class="flot_right_warp" th:insert="~{include/float}"></section>

    <!-- //right 제품구매 플로팅 -->
    <!-- 찜, 장바구니 담기 팝업 -->
    <div class="layer_alert_wrap">
      <div class="layer_alert">
        <span class="layer_alert1">이미 찜 제품에<br>추가된 제품입니다</span>
        <span class="layer_alert2">선택하신 제품을<br>찜 제품에 담았습니다</span>
        <span class="layer_alert3">선택하신 제품을<br>장바구니에 담았습니다</span>
      </div>
    </div>
    <!-- 찜, 장바구니 담기 팝업 -->

    <!-- footer -->
	<div class="include-footer" th:insert="~{include/footer}"></div>
	<!-- /footer -->

</body>

</html>