<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.hyundai.higher.mapper.member.MemberMapper">


	<select id="findById"
		resultType="com.hyundai.higher.domain.member.Member">
		SELECT MID, MPassword, MName, MPhone, MEmail, MBirth, MRole
		FROM MEMBER
		where
		MID=#{mId}
	</select>


	<select id="findByNameBirth"
		resultType="com.hyundai.higher.domain.member.Member">
		SELECT MID, MPassword, MName, MPhone, MEmail, MBirth, MRole
		FROM MEMBER
		where
		MName=#{mName} and MBirth=#{mBirth}
	</select>

	<select id="findByNameId"
		resultType="com.hyundai.higher.domain.member.Member">
		SELECT MID, MPassword, MName, MPhone, MEmail, MBirth, MRole
		FROM MEMBER
		where
		MName=#{mName} and MId=#{mId}
	</select>


	<update id="updatePassword">
		update MEMBER set MPassword = #{encryptPassword}
		where mId =#{mId}
	</update>



	<insert id="save"
		parameterType="com.hyundai.higher.domain.member.Member">


		INSERT INTO MEMBER
		VALUES(
		#{mId},
		#{mPassword},
		#{mName},
		#{mEmail},
		#{mPhone},
		#{mBirth},
		#{mRole},
		0,
		'백화점',
		1,
		null
		)



	</insert>



</mapper>