#content-wrap{
	width: 1120px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}

h2{
	background-color: #fff;
    width: 100%;
    border-top: 1.5px solid #776460;
    border-bottom: 1.5px solid #776460;
    text-align: center;
    font-weight: 800;
    color: #844d40;
    font-size: 30px;
    letter-spacing: 4px;
    padding: 5px;
}

section{
	width: 1120px;
    height: 1000px;
    margin: 0 auto;
    background-color: #faefec;
    padding-top: 50px;
    position: relative;
    top: -20px;
}

.mbti-logo img{
	height: 40px;
}