/* #main{
	display: none;
} */

#main-img{
	width: 750px;
    margin: 0 auto;
    display: flex;
}

#btn-wrap{
    position: absolute;
    top: 880px;
}

#start-btn{
    background-color: #844d40;
    border: 1px solid #844d40;
    border-radius: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 8px 30px;
    font-size: 20px;
    letter-spacing: 5px;
    position: relative;
    left: 415px;
}

#start-btn:hover{
	color: #844d40;
	background-color: #fff;
}