#qna {
	display: none;
}

#qna-wrap{
	width: 1000px;
    padding: 0px 30px;
    margin: 0 auto;
}

#qna-content-wrap{
	background-color: #fff;
    border-radius: 70px;
}

#progress-wrap{
    margin-top: 15px;
    margin-bottom: 15px;
}

#progress-wrap ul{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.prog-box{
    background-color: #faefec;
    border: 3px solid #faefec;
    border-radius: 30px;
    float: left;
    display: flex;
    padding: 5px 15px 5px 3px;
}

.prog-dept1{
	height: 25px;
}

.prog-kor{
	font-weight: 700;
	font-size: 13px;
	padding-top: 2px;
    padding-bottom: 2px;
}

.prog-eng{
	color: #844227;
	font-size: 11px;
}

.prog-num{
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #844227;
    color: #fff;
    line-height: 30px;
    margin-right: 8px;
    font-weight: 600;
    font-size: 15px;
}

.qna-num-box div{
    text-align: center;
    background-color: #776460;
    color: #fff;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px 10px;
    border-radius: 80px;
    font-weight: 600;
    font-size: 18px;
}

#camera-box{
    margin-bottom: 30px;
}

#camera-box div{
	width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

#cameraview{
	border-radius: 20px;
	width: 400px;
    border: 6px solid #e9e9e9;
}

.q-box {
	text-align: center;
    margin: 0 auto;
    font-weight: 600;
    color: #776460;
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.answer-wrap ul{
	display: flex;
}

.answer-wrap li{
	width: 25%;
	text-align: center;
	padding: 10px;
	font-weight: 700;
}

.ans-img{
	margin-bottom: 20px;
}

.dir-wrap{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
}

.dir-wrap button{
position: relative;
    display: inline-block;
    min-width: 100px;
    border: 1px solid #8f8f8f;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    background-color: #fff;
    color: #666;
    line-height: 38px;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
    min-width: 140px;
    line-height: 46px;
    font-size: 16px;
    border: 1px solid #bfae90 !important;
    background-color: #bfae90 !important;
    color: #fff;
}

#prev{
	border: 1px solid #666 !important;
    background-color: #666 !important;
}

video {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg); /* Safari and Chrome */
	-moz-transform: rotateY(180deg); /* Firefox */
}




.required .col-form-label::before {
	content: '* ';
	color: red;
}

body {
	color: #2a2d36;
	font-size: 14px
}

#wrapper {
	position: relative;
	min-width: 1200px;
}

/*a:*/
a:link, a:visited, a:hover {
	text-decoration: none;
}

a:focus, a:active {
	text-decoration: none;
}

.top-login {
	background: #f8f8f8;
	text-align: right;
	height: 40px;
}

.top-login .element {
	background: #f8f8f8;
	text-align: right;
	font-size: 12px;
	overflow: hidden;
}

.top-login .element li {
	display: inline-block;
	padding: 5px;
	margin: 5px
}

.top-login .element li a {
	display: inline-block;
	padding-right: 20px;
	color: #666;
	border-right: 1px solid #999;
	line-height: 100%;
}

.top-login .element li:last-child a {
	border-right: none
}

.top-login .element #id {
	font-weight: 800;
}

/*header*/
.header-area {
	font-family: notosans, Rajdhani, Malgun Gothic;
	position: relative;
	height: 95px;
	padding: 25px 0;
}
/* .header-area .logo{width:40%; float:left} */
.header-area .gnb {
	font-size: 22px;
	font-weight: 500
}
/* .header-area .gnb li{float:left; text-align:center; width:25%} */
.header-area .gnb a {
	cursor: pointer;
}

.header-area .gnb .gnb-menu {
	white-space: nowrap;
}

.header-area .gnb .gnb-menu a {
	text-align: center;
	display: inline-block;
	border: none;
	background: Transparent
}

.header-area .gnb .gnb-menu .gnb-depth {
	width: 100%;
	padding: 0;
	display: none;
	position: absolute;
	top: 59px;
	height: auto;
	z-index: 10;
	letter-spacing: -1px;
}

.header-area .gnb .gnb-menu .gnb-depth li {
	display: block;
	width: 100%;
	color: #fff;
}

.header-area .gnb .gnb-depth {
	border-left: 1px solid rgba(60, 60, 60, 0.2);
}

.header-area .gnb .gnb-depth5 {
	border-right: 1px solid rgba(60, 60, 60, 0.2);
}

.header-area .gnb .gnb-menu .gnb-depth li a {
	padding: 10px 0 0;
	display: inline-block;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
}

.header-area .gnb .gnb-menu .gnb-depth li .top-menu-line {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 20px;
	border-bottom: 3px solid #FE8A22;
}

.header-area .gnb .gnb-menu .gnb-depth li .top-menu {
	color: white;
}

.header-area .gnb .gnb-menu .gnb-depth li .top-menu:hover {
	color: white;
}

.header-area .gnb .gnb-menu .gnb-depth li a:hover {
	color: #d1e9ef
}

.header-area .gnb-bg {
	display: none;
	clear: both;
	height: auto;
	background: #3c51a4;;
	width: 100%;
	position: absolute;
	top: 95px;
	z-index: 9;
}

/**/

.main-visual{
	font-family:sans-serif;
}

.main-visual .text {
	position: absolute;
    top: 120px;
    left: 48%;
    font-size: 32px;
    color: #444444;
}
.main-visual .text p{
	margin-bottom:10px;
	margin-left:15px;
	font-weight: bold;
}

.main-visual .text .big {
	font-size: 52px;
	font-weight: 700;
	line-height: 120%;
	margin-top: 5px;
	color: #252525
}

.main-visual .icon {
	position: absolute;
	top: 110px;
	right: 5%;
	width: 300px;
}

.main-visual .icon li {
	display: inline-block;
	width: 140px;
	height: 140px;
	padding: 20px 0;
	text-align: center;
	margin: 5px 4px;
}

.main-visual .icon li a {
	display: inline-block;
	color: #fff;
	font-weight: bold
}

.main-visual .icon li p {
	margin-top: 10px
}

.wimg100 {
	width: 100% !important;
	height: 480px;
} /* 539px */
@media ( max-width :1200px) {
	.pcnone12 {
		display: none;
	}
}

@media ( min-width :1201px) {
	.pcnone {
		display: none;
	}
}

/**/
.main-box {
	position: relative;
	height: 345px
}

.title-main {
	font-weight: 700;
	font-size: 22px;
	margin: 10px 0
}

.title-main a {
	color: #2a2d36
}

.title-main a:hover, .title-main a:focus {
	text-decoration: underline;
}

.charts__chart[data-percent]::after {
	content: attr(data-percent);
	display: block;
	margin-left: 101% !important;
	position: relative;
	color: #5f5ab8 !important;
	top: .1em;
	font-weight: bold
}

.graph-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.main-labelBg{
	position: absolute;
    z-index: -1;
    left:0px;
    top: 0px;
    height: 400px;
}

/*table*/
.main-table th, .main-table td {
	padding: 10px 2px;
	font-size: 12px;
	text-align: center
}

.main-table thead th {
	background: #7890c8;
	color: #ffffff;
	text-align: center;
}

.main-table tbody th {
	color: #282b34;
	border-bottom: 1px solid #e6e6e6
}

.main-table tbody td {
	color: #777777;
	border-bottom: 1px solid #e6e6e6
}

/*서비스예정 항목*/
.service li {
	position: relative;
	padding: 20px 15px 0;
	float: left;
	width: 31.8%;
	margin-right: 25px;
}

.service li:last-child, .role-banner li:last-child {
	margin-right: 0px;
}

.service li .textbig {
	font-size: 24px;
	color: #131313;
	font-weight: 700;
	margin-bottom: 5px;
}

.service li a .textbig:hover {
	color: #4d4ea0 !important
}

/*공지사항*/
.notice {
	border-bottom: 1px solid rgb(86, 86, 107);
	padding: 10px;
	font-size: 14px;
}

.notice li {
	position: relative;
	margin-bottom: 3px;
}

.notice li a {
	color: #666666;
	display: block;
	padding: 2px 1px;
	width: 80%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.notice li a:hover, .notice li a:focus {
	text-decoration: underline;
}

.notice li .day {
	position: absolute;
	top: 50%;
	right: 5px;
	font-size: 13px;
	color: #999999;
	transform: translate(0, -50%)
}

.more-right {
	display: block;
	position: absolute;
	top: 15px;
	right: 20px;
}

.more-right.not a {
	color: #5e6c85;
	border: 1px solid #dcdcdc;
	color: #5e6c85;
	padding: 5px 10px
}

/*화장품 안전성평가DB*/
.dbbanner {
	position: relative;
	background: url("../images/bannerdb-bg.jpg") no-repeat;
	height: 220px;
	color: #bcbcdd;
	padding: 6% 7%
}

.dbbanner .details {
	background: #009ee1;
	padding: 7px 15px;
	width: 35%;
	margin-top: 5%
}

.dbbanner .details a {
	color: #fff;
	font-size: 16px;
	font-weight: 800;
}

/*footer*/
.role-banner li {
	display: inline-block;
	margin-right: 25px
}

.footerinnr {
	background: #292929; /*padding:10px;*/
}

.footerinnr .footer-menu {
	position: relative;
	margin: 20px 10px;
	overflow: hidden;
}

.footerinnr .footer-menu li {
	float: left;
	font-size: 13px
}

.footerinnr .footer-menu li a {
	display: inline-block;
	color: #888888;
	border-right: 1px solid #666666;
	line-height: 100%;
	padding: 0 10px;
}

.footerinnr .footer-menu li:last-child a {
	border-right: none;
	padding-right: 10px;
}

.footer-copyright {
	background: #222222;
	padding: 20px 0;
	color: #888;
	font-size: 13px
}

.topbtn {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
}

.topbtn .btn {
	display: block;
	background: #3c3c3c;
	border: 1px solid #222222;
	width: 60px;
	height: 60px;
	cursor: pointer;
	padding: 0;
	border-radius: 0
}

/*서브*/
/*왼쪽메뉴*/
.left-menu {
	width: 100%;
	position: relative;
}

.left-menu .title {
	position: relative;
	color: #fff;
	font-weight: 800;
	height: 100px;
	text-align: center;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#026eb7+15,026eb7+15,595cbd+100 */
	background: #026eb7; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #026eb7 15%, #026eb7 15%, #595cbd 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #026eb7 15%, #026eb7 15%, #595cbd 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #026eb7 15%, #026eb7 15%, #595cbd 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#026eb7',
		endColorstr='#595cbd', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.left-menu .title .text {
	font-size: 22px;
	color: #fff;
	width: 100%;
	line-height: 120%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.left-menu .menu>li {
	background: #fff;
	font-weight: 700;
	color: #666666;
}

.left-menu .menu>li a {
	padding: 12px;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.left-menu .menu>li>a.on {
	background: #282b34;
	border: 1px solid #282b34;
	color: #fff !important
}

.left-menu .menu>li>ul>li a {
	font-size: 12px;
	padding: 12px 20px;
}

.left-menu .menu>li>ul>li a.on {
	background: #0068cc;
	color: #fff !important
}

.left-menu .menu li a:hover {
	color: #282b34
}
/* .left-menu .menu li.on{background:#282b34; border:1px solid #282b34; } */
/* .left-menu .menu li.on a{color:#fff} */

/*내용*/
.contents {
	width: 995px;
	float: left;
	position: relative;
}

.sub-visual {
	position: relative;
	width: 100%;
	height: 200px;
}

.sub-visual .title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	font-weight: 700;
}

.internal {
	position: relative;
	padding: 20px;
}

.title-bracket {
	position: relative;
	text-align: center;
	font-size: 42px;
	font-weight: 800;
	padding: 14px
}

.title-bracket .leftline {
	display: inline-block;
	width: 64px;
	height: 120px;
	border: 14px solid #595cbd;
	border-right: none
}

.title-bracket .rightline {
	display: inline-block;
	width: 64px;
	height: 120px;
	border: 14px solid #595cbd;
	border-left: none
}

.title-line {
	position: relative;
	font-size: 20px;
	font-weight: 800;
	margin: 20px 0
}

.title-line:before {
	position: absolute;
	top: -2px;
	left: 0;
	content: "";
	display: inline-block;
	width: 25px;
	height: 2px;
	background: #595cbd
}

.page-title {
	margin-bottom: 10px;
	padding: 15px 10px 10px 10px;
	background: #4063bc;
}

.page-title h5 {
	color: white;
}

.title-path {
	color: white;
}

.linebox {
	border: 1px solid #e0e0e0;
	padding: 15px;
	border-top: 2px solid #282b34;
}

.linelower {
	border-bottom: 1px solid #d6d6d6;
}

.left50dl {
	float: left;
	width: 48%;
	margin: 1% 1% 0;
	font-size: 12px
}

.left100dl {
	width: 98%;
	margin: 1% 1% 0;
	font-size: 12px
}

.left50dl dt, .left100dl dt {
	float: left;
	width: 30%;
	font-weight: bold;
	text-align: center;
	padding: 5px 10px; /*border-right:1px solid #e0e0e0;*/
	background: #f2f2f2
}

.left50dl dd, .left100dl dd {
	float: left;
	width: 70%;
	padding: 5px 10px;
}

.left100dl dt {
	width: 14.7%
}

.left100dl dd {
	width: 85%
}

.listbox li {
	box-shadow: 1px 1px 4px #666;
	padding: 10px;
	width: 23%;
	margin: 5px 15px 30px 0;
	display: inline-block;
	text-align: center
}

.listbox li:nth-child(4n) {
	margin-right: 0;
}

.pickbox dt {
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700
}

.pickbox dd {
	position: relative;
	height: 60px;
	line-height: 60px
}

.pickbox dd input[type="radio"] {
	margin-top: -2px !important;
}

.pickbox dd select {
	border: 1px solid #d6d6d6;
	padding: 3px;
}

.graphbox {
	position: relative;
	border: 1px solid #dddddd;
	padding: 15px;
	width: 100%;
	min-height: 20px
}

/* paging */
.pagination {
	padding: 2rem 0 0 0;
	text-align: center;
}

.pagination .active a {
	background: #8580ec !important;
	color: #fff !important;
}

.pagination a {
	width: 30px;
	height: 30px;
	border: 1px solid #ccc !important;
	font-weight: 500;
	color: #666 !important;
	border-radius: 0 !important;
	padding: 5px 0px;
}

.pagination a:hover, .pagination a:focus {
	border: 1px solid #999 !important;
}
/* .pagination span, .pagination a {display: inline-block;padding:5px 8px;vertical-align: middle;  font-size:14px;  color:#666} */
/* .pagination a {background: #8580ec !important;color: #fff;font-weight: 500;width: 30px;height: 30px;padding: 0;line-height: 29px;} */
.ui-jqgrid-view th {
	padding: 10px 2px !important;
	font-size: 12px !important;
	font-weight: bold !important;
	background: #F9F9F9 !important;
	color: black !important;
}

.ui-jqgrid-view tr+tr td {
	padding: 10px 2px !important;
	font-size: 12px !important;
	color: #777 !important;
	border-bottom: 1px solid #e6e6e6 !important
}

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link,
	.ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover,
	.ui-state-focus a:link, .ui-state-focus a:visited, a.ui-button:hover, a.ui-button:focus
	{
	color: #0068cc;
	text-decoration: underline;
}

/* formulation button */
.btn-formulation {
	appearance: none;
	background-color: #2ea44f;
	border: 1px solid rgba(27, 31, 35, .15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: 300;
	line-height: 8px;
	padding: 6px 8px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	margin-right: 30px;
}

.btn-formulation:focus:not(:focus-visible):not(.focus-visible) {
	box-shadow: none;
	outline: none;
}

.btn-formulation:hover {
	background-color: #2c974b;
}

.btn-formulation:focus {
	box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
	outline: none;
}

.btn-formulation:disabled {
	background-color: #94d3a2;
	border-color: rgba(27, 31, 35, .1);
	color: rgba(255, 255, 255, .8);
	cursor: default;
}

.btn-formulation:active {
	background-color: #298e46;
	box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/* 피부분석용 테이블 */
.skGrid {
	width: 100%;
	table-layout: fixed;
	overflow-y: auto;
}

.skGrid_tr {
	height: 30px;
}

.skGrid_tr:hover {
	background: #d1f9f4;
}

.skGrid_th {
	background: #7890c8;
	color: white;
	text-align: center;
	font-weight: 300;
	font-size: 14px;
}

.skGrid_td:first-child {
	padding: 0 20px;
	font-weight: 600;
}

.skGrid_th {
	word-break: keep-all;
	border: 1px solid #c6c6c6;
}

.skGrid_td {
	word-break: keep-all;
	border: 1px solid #cccccc;
	font-size: 13px;
	padding: 5px 10px;
}

/*2021-12-01 추가*/
.sub-title {
	position: relative;
	height: 80px;
	border-bottom: 1px solid #e2e2e2
}

.sub-title .title {
	position: relative;
	color: #000000;
	font-weight: bold;
	font-size: 26px;
	line-height: 80px;
	padding-left: 25px
}

.sub-title .title:before {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translatey(-45%);
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 2px;
	background: #115699;
}

.sub-title .nav-area {
	position: absolute;
	bottom: 10px;
	right: 15px;
	font-size: 11px;
	color: #666
}

.sub-title .nav-area a:hover {
	color: #000
}

.checkbg {
	position: relative;
	background: #F9F9F9;
	padding: 5px 10px;
	border: 1px solid #E6E6E6;
}

.checkbg  .search input[type="checkbox"] {
	margin-top: -2px;
	-webkit-appearance: none;
	position: relative;
	width: 15px;
	height: 15px;
	cursor: pointer;
	outline: none !important;
	border: 1px solid #282b34;
	border-radius: 2px;
	background: #fff;
	border-radius: 2px;
}

.checkbg .search input[type="checkbox"]::before {
	content: '\2713';
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
}

.checkbg .search input[type="checkbox"]:hover {
	border-color: rgba(170, 170, 170, 0.5);
}

.checkbg .search input[type="checkbox"]:checked {
	background-color: #282b34;
	color: white;
}

.checkbg .search input[type="checkbox"]:checked::before {
	border-radius: 2px;
	transform: scale(.8) translate(-60%, -65%)
}

.checkbg  .nationBox input[type="checkbox"] {
	-webkit-appearance: none;
	position: relative;
	width: 14px;
	height: 14px;
	cursor: pointer;
	outline: none !important;
	border-radius: 5px;
	background: #dedede;
}

.checkbg  .nationBox  input[type="checkbox"]::before {
	content: '\2713';
	font-size: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
}

.checkbg  .nationBox  input[type="checkbox"]:hover {
	border-color: rgba(89, 92, 189, 0.5);
}

.checkbg  .nationBox  input[type="checkbox"]:checked {
	background-color: #4e5ea0;
	color: white;
}

.checkbg  .nationBox  input[type="checkbox"]:checked::before {
	transform: scale(1.2) translate(-40%, -50%)
}

/* .checkbg  .nationBox label {
	border: 1px solid #dedede;
	background: #fff;
	border-radius: 20px;
	padding: 0 2px 2px;
	margin: 1px;
	min-width: 140px;
}

.checkbg  .nationBox i img {
	width: 22px;
	height: 22px;
	display: inline-block;
	border-radius: 50px;
	overflow: hidden;
} */
.checkbg  .nationBox label .writing {
	display: inline-block;
	/* min-width:68px; */
	color: #666;
}

.checkbg .age {
	position: relative;
	display: inline-block;
}

.checkbg .age label {
	position: relative;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	border-radius: 20px;
	padding: 2px 15px 2px 24px;
	margin: 1px;
}

.checkbg .age input[type="checkbox"] {
	position: absolute;
	top: 4px;
	left: 4px;
	-webkit-appearance: none;
	width: 22px;
	height: 22px;
	cursor: pointer;
	outline: none !important;
	border-radius: 50%;
	z-index: 2
}

.checkbg .age input[type="checkbox"]::before {
	content: '\2713';
	color: #595cbd;
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	transform: scale(0) translate(-50%, -50%);
	line-height: 1;
	background-color: #e6f4ff;
}

.checkbg .age input[type="checkbox"]:hover {
	border-color: rgba(230, 221, 255, 0.5);
}

.checkbg .age input[type="checkbox"]:checked {
	background-color: #e6f4ff;
	color: white;
}

.checkbg .age input[type="checkbox"]:checked::before {
	transform: scale(1.2) translate(-40%, -50%)
}

.checkbg .age input:checked+label {
	background-color: #e6f4ff;
}

.checkbg  .nationBox label .writing, .checkbg .age .writing, .writing {
	display: inline-block;
	color: #666;
}

.individual {
	background: #fff;
	font-weight: bold;
	border-radius: 10px;
	padding: 2px 5px;
	border: 2px solid #fff;
	width: 120px;
}

.individual .switch {
	position: absolute;
	/* hidden */
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.individual .switch_label {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 40px;
	height: 13px;
	background: #fff;
	background: #bdc1c6;
	border-radius: 20px;
	transition: 0.2s;
}

.individual .switch_label:hover {
	background: #efefef;
}

.individual .onf_btn {
	position: absolute;
	top: -3px;
	left: 0px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #fff;
	transition: 0.2s;
	box-shadow: 1px 1px 2px gray;
	border: 1px solid #eee
}

/* checking style */
.individual .switch:checked+.switch_label {
	background: #c2e2fa;
	border: 2px solid #c2e2fa;
}

.individual .switch:checked+.switch_label:hover {
	background: #c2e2fa;
}

/* move */
.individual .switch:checked+.switch_label .onf_btn {
	left: 18px;
	background: #5c79ba;
	box-shadow: 1px 1px 2px gray;
	border: 1px solid #5c79ba;
	top: -5px;
}

.listbule {
	border: 1px solid #026eb7;
	box-shadow: 1px 1px 4px #666;
	padding: 10px;
	display: inline-block;
	text-align: center
}

.listbule .card {
	border: none
}

.listbule .card-body h6 {
	color: #1d1d1d;
	font-weight: bold
}

.report-title {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 600;
	word-break: keep-all;
}

.allCheckBox {
	font-size: 15px;
}

.noReport {
	height: 250px;
	font-size: 16px;
	padding-top: 80px;
}

.genomeRow {
	margin-top: 60px;
}

.skgrid-title span {
	font-size: 20px;
	font-weight: 600;
}

/*2021-12-03 추가*/
.title_bracket {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 42px;
	font-weight: 800;
	letter-spacing: -1px
}

.title_bracket:before {
	content: "[";
	display: inline-block;
	color: #595cbd;
	font-size: 70px;
	font-weight: bold;
}

.title_bracket:after {
	content: "]";
	display: inline-block;
	color: #595cbd;
	font-size: 70px;
	font-weight: bold;
}

.sidebracket {
	color: #595cbd;
	font-size: 70px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}

.centerbracket {
	font-size: 42px;
	font-weight: 800;
	letter-spacing: -1px;
	padding-top: 10px;
}

.survey__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.survey__radio {
	display: flex;
	margin: 30px 0px;
}

.survey__radio label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.survey__radio input[type=radio] {
	display: none;
}

.survey__radio input[type=radio]+label div {
	height: 130px;
	width: 130px;
	background: center url(../images/answerExOff.png) no-repeat;
	background-size: 100%;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

.survey__radio label div:hover {
	transform: scale(1.1);
}

.survey__radio input[type=radio]:checked+label div {
	height: 130px;
	width: 130px;
	background: center url(../images/answerExOn.png) no-repeat;
	background-size: 100%;
	border: 4px solid #bfae90;
	border-radius: 70px;
}

.survey__radio span {
    color: darkslategray;
    margin-top: 21px;
    word-break: keep-all;
    font-size: 15px;
    font-family: 'notokr-demilight';
    line-height: 20px;
}

.survey__radio input[type=radio]:checked+label span {
	font-weight: bolder;
}

.survey__radio__answer2 {
	margin: 0px 50px;
}

.survey__radio__answer4 {
	margin: 0px 5px;
	width: 150px;
}

.survey__radio__answer5 {
	margin: 0px 2px;
	width: 180px;
}

.survey__question {
	font-size: 1.6em;
	color: #7f7f7f;
	margin: 15px 0px;
}

.survey__question__number {
	background-color: #77c8d7;
	color: white;
	width: 200px;
	font-size: 1.5em;
	border-radius: 15px;
	text-align: center;
	margin: 20px 0px;
}

.survey__btn {
	background-color: transparent;
	border: 1px solid #7f7f7f;
	border-radius: 10px;
	padding: 10px 30px;
	font-size: medium;
	transition: all .3s ease-in-out;
}

.survey__chapter__items {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 30px 0px;
}

.survey__chapter__item {
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2.5px;
	background-color: #f0f0f0;
}

.survey__chapter__arrow {
	display: flex;
	align-items: center;
	margin: 10px 8px;
}

.survey__chapter__number {
	border: 0px;
	border-radius: 50%;
	width: 1.3em;
	height: 1.3em;
	background-color: #7ac957;
	color: white;
	text-align: center;
	font-size: 1.7em;
	margin: 0 5px;
	font-weight: bolder;
}

.survey__chapter__text {
	text-align: center;
	padding-right: 10px;
	font-weight: bolder;
}

.survey__chapter__on {
	border: solid 3px #c7b9d3;
}

.survey__form {
	width: 820px;
	height: 320px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.question__all {
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
}

.question__slider {
	display: flex;
}

.part_chk {
	width: 820px;
	height: 350px;
}

.survey__form div {
	-webkit-transition: all 0.4s cubic-bezier(0.42, 0, 1, 1);
	-o-transition: all 0.4s cubic-bezier(0.42, 0, 1, 1);
	transition: all 0.4s cubic-bezier(0.42, 0, 1, 1);
}

/*2021-12-07추가*/
.table_second th, .table_second td {
	padding: 5px;
	border: 1px solid #dedfe1;
	text-align: center;
	font-size: 12px
}

.table_second thead th {
	background: #95a0a7;
	color: #fff;
	border: 1px solid #aab3b9;
}

.table_second tbody th {
	background: #f5f5f5;
}

.tip {
	background: #282b34;
	padding: 10px;
	color: #fff
}

.tip .title {
	color: #fff;
	font-size: 16px;
	font-weight: 800;
}

.tip .title:before {
	content: "";
	display: inline-block;
	background: #fff;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	margin-right: 7px;
}

.tip_table {
	background: #fff;
	color: #282b34;
	border: 1px solid Transparent;
	border-top: 1px solid #cccccc;
	font-size: 12px;
}

.tip_table th, .tip_table td {
	border-bottom: 1px solid #cccccc;
	padding: 5px;
}

.tip_table th {
	text-align: center;
	font-weight: bold;
	background: #eeeeee
}

.tip_dul {
	background: #f2f2fc;
	padding: 10px;
	color: #282b34
}

.tip_dul .title {
	font-size: 16px;
	font-weight: 800;
}

.tip_dul .title:before {
	content: "";
	display: inline-block;
	background: #282b34;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	margin-right: 7px;
}

.tip_dul .boxtip {
	position: relative;
	border: 1px solid #b8b7b7;
	background: #fff;
	border-radius: 15px;
	font-size: 12px;
	margin-bottom: 10px;
}

.tip_dul .boxtip dt, .tip_dul .boxtip dd {
	display: inline-block;
}

.tip_dul .boxtip dt {
	background: #848ed7;
	width: 30%;
	border-radius: 15px 0 0 15px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	padding: 6px 4px
}

.tip_dul .col-sm-6:nth-child(1n-1) {
	padding-right: 0
}

.tip_leng {
	margin-left: 40px;
	margin-right:40px;
}

/*
	2021-12-08
	login
	sooah
*/
.loginForm {
	width: 500px;
	height: 420px;
	padding: 30px, 20px;
	background-color: #FFFFFF;
	text-align: center;
	top: 50%;
	left: 50%;
	border-radius: 15px;
	text-decoration: none;
	border: 1px solid #d6d6d6;
	margin-left: 170px;
}

.loginForm h2 {
	text-align: center;
	margin: 30px;
}

.idForm {
	border-bottom: 2px solid #adadad;
	margin: 30px 50px 30px 50px;
	padding: 10px 10px;
}

.passForm {
	border-bottom: 2px solid #adadad;
	margin: 30px 50px 30px 50px;
	padding: 10px 10px;
}

.idForm input:focus {
	outline: none;
}

.passForm input:focus {
	outline: none;
}

.idForm input {
	border: none;
	width: 350px;
	font-size: 1.1rem;
}

.passForm input {
	border: none;
	width: 350px;
	font-size: 1.1rem;
}

.id {
	width: 100%;
	border: none;
	outline: none;
	color: #636e72;
	font-size: 16px;
	height: 25px;
	background: none;
}

.pw {
	width: 100%;
	border: none;
	outline: none;
	color: #636e72;
	font-size: 16px;
	height: 25px;
	background: none;
}

.loginBtn {
	position: relative;
	left: 40%;
	transform: translateX(-50%);
	margin-bottom: 40px;
	width: 80%;
	height: 40px;
	background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
}

.bottomText {
	text-align: center;
}

.logoutForm {
	width: 500px;
	height: 300px;
	padding: 30px, 20px;
	background-color: #FFFFFF;
	text-align: center;
	top: 50%;
	left: 50%;
	border-radius: 15px;
	text-decoration: none;
	border: 1px solid #d6d6d6;
	margin: 100px 0px 100px 430px;
}

.cssScroll::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

.cssScroll::-webkit-scrollbar-trackk {
	background-color: #f1f1f1;
}

.cssScroll::-webkit-scrollbar-thumb {
	background-color: #aeb7de;
	/* 	border-radius: 10px; */
	border: 2px solid #9dacec;
	margin-left: 2px;
	margin-right: 2px;
}

.cssScroll::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.cssScroll::-webkit-scrollbar-button:start:decrement, .cssScroll::-webkit-scrollbar-button:end:increment
	{
	width: 12px;
	height: 12px;
	background: #4e5ea0;
	/* 	border-radius: 10px; */
	border: 1px solid #bcc3f2;
}

.loginBox {
	margin:100px 0px 100px 100px;
}

.avg {
	cursor: pointer;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.findForm {
	width: 600px;
	height: 450px;
	padding: 30px, 20px;
	background-color: #FFFFFF;
	text-align: center;
	top: 50%;
	left: 50%;
	border-radius: 15px;
	text-decoration: none;
	border: 1px solid #d6d6d6;
	margin-left: 170px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.findForm h2 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

.findinputForm {
	border-bottom: 2px solid #adadad;
	padding: 10px 10px;
}

.findinputForm input {
	width: 380px;
	border: 0;
}

.findinputForm input:focus {
	outline: none;
}

.findBox {
	margin-left: 100px;
}

.core-service li {
	position: relative;
	padding: 30px 20px;
	float: left;
	width: 20%;
	/* margin-right: 25px; */
	text-align: center;
	height: 180px;
	font-size: 1.2rem;
	color: white;
	/*line-height: 55px;*/
}

.core-service p {
	padding-top: 20px;
	font-weight: 600;
}

.core-service a:hover {
	color: #0f275c;
}

.termsForm {
	width: 1000px;
	margin-left: 70px;
}

.title_bracket .top {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translatex(-50%);
	font-size: 22px
}

.bluem {
	background-color: #595cbd;
	font-weight: 800px;
}

.buttonborder {
	border-right: 1px solid white !important;
}

#surveyReport {
	background-color: #edc4fd;
	position: absolute;
	width: 175px;
	top: 40px;
	right: 40px;
	padding: 10px;
	border-radius: 15px;
	z-index: 50;
}

.ChartImgDown {
	padding: 10px;
	border-radius: 15px;
	border: 2px solid black;
	width: 190px;
	margin-bottom: 20px;
}

.skTypeCheckBtn {
	position: relative;
	left: 20%;
	transform: translateX(-50%);
	margin-bottom: 60px;
	width: 40%;
	height: 60px;
	background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	font-size: 30px;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
}

.boardlist {
	margin-top: 80px;
	margin-left: 150px;
}

/*2021-12-29추가*/
.analyze {
	border: 1px solid #dddddd;
}

.analyzebox {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#116bb8+0,585cbd+100 */
	background: #116bb8; /* Old browsers */
	background: -moz-linear-gradient(45deg, #585cbd 0%, #116bb8 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #585cbd 0%, #116bb8 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(-135deg, transparent 15px, #585cbd 0%, #116bb8 100%)
		top right; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585cbd',
		endColorstr='#116bb8', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	padding: 10px;
	color: #fff;
	font-weight: bold;
}

.analyzeul {
	position: relative;
	margin: 10px;
	padding: 0 10px;
}

.analyzeul li {
	margin: 10px;
	list-style-type: disc;
}

.analyzeline {
	position: relative;
}

.analyzeline .box {
	border: 1px solid #dddddd;
	padding: 15px;
}

.analyzeline .box:nth-child(1) {
	border-bottom: none;
	border-right: none
}

.analyzeline .box:nth-child(2) {
	border-bottom: none
}

.analyzeline .box:nth-child(3) {
	border-right: none
}

.analyzeline .box .imgtext {
	font-size: 18px;
	font-weight: bold
}

.analyzeline .box .col1 {
	color: #a0d6bc
}

.analyzeline .box .bg1 {
	background: #a0d6bc;
	padding: 5px 10px;
	color: #fff;
	font-weight: bold;
}

.analyzeline .box .col2 {
	color: #fbbb5a
}

.analyzeline .box .bg2 {
	background: #fbbb5a;
	padding: 5px 10px;
	color: #fff;
	font-weight: bold;
}

.analyzeline .box .col3 {
	color: #c569aa
}

.analyzeline .box .bg3 {
	background: #c569aa;
	padding: 5px 10px;
	color: #fff;
	font-weight: bold;
}

.analyzeline .box .col4 {
	color: #86cc5e
}

.analyzeline .box .bg4 {
	background: #86cc5e;
	padding: 5px 10px;
	color: #fff;
	font-weight: bold;
}

.tab-basic {
	position: relative;
	overflow: hidden;
	margin: 15px 0
}

.tab-basic .tablinks {
	float: left;
	width: 50%;
	background: #eeeeee;
	color: #aaaaaa;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	font-size: 18px;
	border: none
}

.tab-basic .tablinks.active {
	color: #fff;
	background: #282b34
}

.untactbtn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.genome-summary-table {
	background-color: #fbf594;
}

#participantTable {
	border: 1px solid #a9a9a9;
	text-align: center;
}

#participantTable tr {
	border: 1px solid #c8c8c8;
}

#participantTable thead th {
	background-color: #f0f3f5;
	padding: 10px;
}

#participantTable tbody td {
	padding: 10px;
}

.view-sex {
	border-radius: 10px;
	padding: 5px 10px;
}

.man {
	background-color: #e1e1ff;
}

.women {
	background-color: #ffdbe2;
}

.report-survey-no {
	font-weight: 800;
	color: purple;
}

.report-survey-question {
	font-weight: bold;
}

.report-survey-info {
	margin-bottom: 25px;
	padding: 10px;
	text-align: center;
	border-top: 2px solid purple;
	border-bottom: 2px solid purple;
	font-weight: bold;
}

.pointLine {
	width: 50px;
	height: 3px;
	background: linear-gradient(to right, purple 30%, yellow 30% 100%);
}

.anlaysis-box-img {
	height: 60px;
	/* padding-left: 50%; */
	margin-top: 20px;
	margin-bottom: 30px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}

.analysis_type {
	text-align: center;
}

.analysis-type-box {
	margin-left: 20px;
	height: 283;
	width: 300px;
	/* 	background-color:#a8a8a8; */
	font-weight: bold;
	font-size: 16px;
}

.analysis-mem {
	height: 200px;
}

.analysis-mem-box {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.sitemap-background-img {
	background-repeat: no-repeat;
	background-size: cover;
}

.ex-search-btn {
	width: 150px;
}

.titlefont {
	font-family: sans-serif;
	color: grey;
}

#agGridExportBtn {
	color: cornflowerblue;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid cornflowerblue;
	border-radius: 8px;
}

#agGridExportBtn:hover {
	color: white;
	background-color: cornflowerblue;
}

.chart-opt {
	padding: 0px 20px;
	border: 1px solid #c5c5c5;
	border-radius: 915px;
	background: #e6f4ff;
}

.survey-pie-chart {
	width: 180px;
	height: 250px;
	margin-right: 50px;
	margin-left: 50px;
}

.chartHeader {
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid  rgb(193 193 193);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: rgb(223 223 223 / 80%);
}

.pTag {
	color: RoyalBlue;
	font-weight: bold;
}

.headerSub {
	margin-right: 10px;
}

.imageP {
	color: rgb(122, 122, 122);
	font-weight: 600;
	line-height: 2;
}

.startSpan {
	margin-left: 20px;
	color: #FF8200;
}

.sitemap .sm-big-title {
	background:#595cbe;
	color: white;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 50px;
	text-align: center;
	letter-spacing: 2px;
}

.sitemap .list-group .sm-title-icon {
	font-size: 16px;
	margin-right: 10px;
	color: orange;
}

.sitemap .list-group {
	padding-top:5px;
}

.sitemap .list-group .list-group-item > a {
	font-size: 16px;
}

.sitemap .list-group .list-group-item ul li {
	font-size: 15px;
	margin-left:15px;
	padding: 10px;
}

.sitemap .sm-topMenu {
	padding-top: 10px;
}

/* 2022-10 메인화면 css */
/* main contants  */

.main-contants{
	font-family:sans-serif;
}


.video-container .videoBox{
	padding: 50px 0px;
	font-family: sans-serif;
	font-size : 22px;
	color:gray;
}

.video-container .videoBox .video-text {
	padding-top:35px;
	margin-bottom: 30px;
	text-align : center;
	line-height: 2;
	align-items: center;
}

.video-container .videoBox .video-text p{
	margin-bottom: 15px;
	font-weight: bold;
	font-size : 26px;
	color:black;
}


.video-container .intro-video-box{
	text-align:center;
}

.video-container .intro-video-box .intro-video {
	width: 600px;
	margin:0px auto;
	border: 4px solid #959595; 
}

.text-point{
	height: 100%;
	width:3px;
	background : #f28a23;
}

.features-container{
	/* background: #f5f5f5; */
    padding: 50px 0px;
}

.core-features > .title{
	margin:30px 0px 70px 0px;
	text-align: center;
	font-size:16px;
}

.core-features > .title p{
	font-weight:bold;
	font-size:24px;
}

.each-feature .feature{
	text-align: center;
	font-size:18px;
}

.each-feature .feature p{
	margin-top:30px;
	font-weight: bold;
	margin-bottom:10px;
	font-size :20px;
}


.each-feature .feature-row-box{
	margin-bottom:70px;
}

.info-container{
	margin-top:50px;
}

.info-title {
	text-align:center;
	margin-bottom:50px;
}
.info-title p{
	font-weight:bold;
	font-size:24px;
}

.scaling-svg {
 width: 100%; 
 height:320px;
}

.check-img{
	height: 14px;
    width: 14px;
    padding: 3px;
    border-radius: 4px;
    background:#4e5ea0;
}

.check-img2{
	height: 0px;
    width: 0px;
    padding: 7px;
    border-radius: 4px;
    background:#dedede;
}

