.graph{
	height: 450px;
    width: 450px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 40px;
}

.resultName{
    margin-top: 30px;
    font-size: 40px;
    font-family: 'notokr-medium';
    text-align: center;
}

#title{
    font-size: 22px;
    font-family: 'notokr-medium';
    text-align: center;
    margin-top: 40px;
}

table{
    margin-top: 70px;
    color: #666666;
    font-size: 16px;
    font-family: 'notokr-demilight';
    line-height: 23px;
    border-collapse: separate;
    border-spacing: 0px 3px;
}

.infoName{
	font-family: 'locator-medium';
	font-size: 17px;
	vertical-align: top;
    width: 85px;
}

.resultKeyword{
    text-align: center;
    margin-top: 10px !important;
    font-size: 15px !important;
}

.infoCon{
	font-family: 'notokr-demilight';
	font-size: 15px;
}

